# Visual Studio Files
vsc/
# JavaScript "cache" Files
src/js/dist/

# Others Files (Excel, Word and DFD) 
src/others/

# Plantilla for copy and paste
plantilla-min.html

# Simple notes about diferents meetings
simple_notes/