@charset "UTF-8";
/* /-------- Styles para objects Unicos de Filosofia --------\ */
/* Variables */
/* --- Variables Globales --- */
/* -- Base Colors -- */
/* Blue */
/* Darker Blue */
/* Sky */
/* Darker Sky */
/* Even More light Sky*/
/* Midnight */
/* Even Darker Midnight */
/* -- Classes Colors -- */
/* Química */
/* Artes */
/* Inglés */
/* Religión */
/* Tecnología */
/* Filosofía */
/* Gestión Social */
/* Ed. Física */
/* Matemáticas */
/* Español */
/* Política y Economía */
/* Física */
/* Ética */
/* Articulación */
/* Excel */
/* Programación Básica */
/* Electrónica Digital */
/* Gestión Básica de la Informatíca */
/* Investigación */
/* -- General Colors -- */
/* White */
/* Smoke */
/* A little bit dark White */
/* Black */
/* Dark Grey */
/* Grey */
.activity {
  /* Fichas Bibliograficas de los filosofos */
}
.activity .ficha-filosofos {
  width: 80%;
  margin: 1rem auto;
  border: 0.15rem outset #3399ff;
  padding: 2rem;
  background-color: #99ccff;
  display: grid;
  grid-template: 1fr/35% 1fr;
  grid-template-areas: "header header " "image  content" "footer footer ";
  grid-gap: 0.25rem;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  /* Header de la ficha bibliografica */
  /* Cuerpo de la ficha biblio grafica */
  /* Footer de la ficha bibliografica */
}
.activity .ficha-filosofos .fheader {
  width: 90%;
  border-radius: 0.25em;
  padding: 0.5rem;
  background-color: #3399ff;
  grid-column: 1/-1;
  grid-row: 1/2;
  grid-area: header;
}
.activity .ficha-filosofos .fheader .fheader__title {
  font: 700 2em "Oswald", sans-serif;
  text-align: center;
  text-decoration: underline solid #0000bb 0.15rem;
  text-transform: capitalize;
}
.activity .ficha-filosofos .fpicture {
  width: 95%;
  height: auto;
  padding: 0.25rem;
  background-color: #3399ff;
  grid-column: 1/2;
  grid-row: 2/3;
  grid-area: image;
}
.activity .ficha-filosofos .fcontent {
  width: 90%;
  margin: 0 auto;
  border-radius: 0.5em;
  padding: 1rem;
  background-color: #cce5ff;
  grid-column: 2/3;
  grid-row: 2/3;
  grid-area: content;
}
.activity .ficha-filosofos .fcontent .fcontent__title {
  padding-left: 0.25rem;
  color: #000044;
  font: 500 1.5em "Oswald", sans-serif;
  text-transform: capitalize;
  text-decoration: underline solid #000044 0.1rem;
}
.activity .ficha-filosofos .fcontent .fcontent__paragraph {
  padding-left: 0.25rem;
  color: #000;
  font: 500 1em "Montserrat", sans-serif;
}
.activity .ficha-filosofos .fcontent .fcontent__list {
  border-left: 0.2rem solid #99ccff;
  padding-left: 0.25rem;
  color: #000;
  font: 500 1em "Montserrat", sans-serif;
  list-style: none;
}
.activity .ficha-filosofos .fcontent .fcontent__list li::before {
  margin-right: 0.15rem;
  color: #3399ff;
  content: "";
  font: 800 1em "FontAwesome";
}
.activity .ficha-filosofos .ffooter {
  width: 95%;
  border-radius: 0.5em;
  padding: 0.5rem;
  background-color: #0000e6;
  grid-column: 1/-1;
  grid-row: span 1;
  grid-area: footer;
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-flow: row wrap;
  color: #fff;
  font: 500 1em "MontSerrat", sans-serif;
}
.activity .ficha-filosofos .ffooter .ffooter__label {
  font-weight: 800;
  text-decoration: underline solid #fff 0.1rem;
}

@media screen and (max-width: 956px) {
  .activity .ficha-filosofos {
    grid-template-areas: "header  header " "image   image  " "content content" "footer  footer ";
  }
  .activity .ficha-filosofos .fpicture {
    width: 50vw;
  }
  .activity .ficha-filosofos .ffooter {
    justify-content: center;
    flex-flow: column wrap;
  }
}