@charset "UTF-8";
/* /-------- Styles para objects Unicos de Filosofia --------\ */
/* Variables */
/* --- Variables Globales --- */
/* -- Base Colors -- */
/* Blue */
/* Darker Blue */
/* Sky */
/* Darker Sky */
/* Even More light Sky*/
/* Midnight */
/* Even Darker Midnight */
/* -- Classes Colors -- */
/* Química */
/* Artes */
/* Inglés */
/* Religión */
/* Tecnología */
/* Filosofía */
/* Gestión Social */
/* Ed. Física */
/* Matemáticas */
/* Español */
/* Política y Economía */
/* Física */
/* Ética */
/* Articulación */
/* Excel */
/* Programación Básica */
/* Electrónica Digital */
/* Gestión Básica de la Informatíca */
/* Investigación */
/* -- General Colors -- */
/* White */
/* Smoke */
/* A little bit dark White */
/* Black */
/* Dark Grey */
/* Grey */
.activity {
  /* Fichas Bibliograficas de los filosofos */
}
.activity .fichaFilosofos {
  width: 80%;
  min-height: 400px;
  margin: 20px auto;
  border: 5px outset #3399ff;
  border-top-left-radius: 1em;
  border-top-right-radius: 2.5em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 2.5em;
  padding: 1cm;
  background-color: #99ccff;
  display: flex;
  flex-flow: row wrap;
  /* Header de la ficha bibliografica */
  /* Cuerpo de la ficha biblio grafica */
  /* Footer de la ficha bibliografica */
}
.activity .fichaFilosofos .activity-header {
  width: 90%;
  padding: 10px;
  border-radius: 0.25em;
  margin: 0 auto;
  background-color: #3399ff;
}
.activity .fichaFilosofos .activity-header .activity-header__title {
  font: 700 24px "Oswald", sans-serif;
  text-align: center;
  text-decoration: underline solid #0000bb 5px;
  text-transform: capitalize;
}
.activity .fichaFilosofos .activity-content {
  width: 95%;
  padding: 25px;
  border-radius: 0.5em;
  margin: 10px auto;
  background-color: #cce5ff;
}
.activity .fichaFilosofos .activity-content .activity-content__title {
  padding-left: 5px;
  color: #000044;
  font: 500 20px "Oswald", sans-serif;
  text-transform: capitalize;
  text-decoration: underline solid #000044 2px;
}
.activity .fichaFilosofos .activity-content .activity-content__paragraph {
  padding-left: 10px;
  color: #000;
  font: 500 15px "Montserrat", sans-serif;
}
.activity .fichaFilosofos .activity-content .activity-content__list {
  font: 500 15px "Montserrrat", sans-serif;
  list-style-position: inside;
}
.activity .fichaFilosofos .activity-content .activity-content__list li::marker {
  color: #3399ff;
}
.activity .fichaFilosofos .activity-content .activity-content__picture {
  width: 30%;
  height: auto;
  margin-right: 10px;
  margin-bottom: 10px;
  float: left;
}
.activity .fichaFilosofos .activity-footer {
  width: 100%;
  padding: 5px 10px;
  border-radius: 0.5em;
  margin: 10px auto;
  background-color: #0000e6;
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-content: baseline;
}
.activity .fichaFilosofos .activity-footer .activity-footer__label {
  padding: 0 5px;
  color: #fff;
  font: 700 18px "Oswald", sans-serif;
}
.activity .fichaFilosofos .activity-footer .activity-footer__content {
  color: #fff;
  font: 500 16px "MontSerrat", sans-serif;
  text-decoration: underline solid #fff 2px;
}