@charset "UTF-8";
/* Variables */
/* --- Variables Globales --- */
/* -- Base Colors -- */
/* Blue */
/* Darker Blue */
/* Sky */
/* Darker Sky */
/* Even More light Sky*/
/* Midnight */
/* Even Darker Midnight */
/* -- Classes Colors -- */
/* Química */
/* Artes */
/* Inglés */
/* Religión */
/* Tecnología */
/* Filosofía */
/* Gestión Social */
/* Ed. Física */
/* Matemáticas */
/* Español */
/* Política y Economía */
/* Física */
/* Ética */
/* Articulación */
/* Excel */
/* Programación Básica */
/* Electrónica Digital */
/* Gestión Básica de la Informatíca */
/* Investigación */
/* -- General Colors -- */
/* White */
/* Smoke */
/* A little bit dark White */
/* Black */
/* Dark Grey */
/* Grey */
/* Imports */
/* ----- Header Style ----- */
.header {
  padding: 0.25em;
  background-color: #000066;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  grid-column: 1/-1;
  grid-row: span 1;
  grid-area: header;
  /* Buttons in the Header */
  /* Title of the Header */
}
.header .button {
  margin: 0 0.5em;
  border: none;
  border-radius: 0.25em;
  padding: 0.5em;
  background-color: #0000e6;
  display: block;
}
.header .button i {
  color: #fff;
  font-size: 4.5em;
  text-align: center;
}
.header .title {
  width: 70vw;
  border-radius: 0.25em;
  padding: 0.6em 0.25em;
  background-color: #0000e6;
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  /* Text */
  /* Info */
}
.header .title .title__text {
  color: #fff;
  font: 700 1.8em "Oswald", sans-serif;
  text-align: center;
  /* Name of The Class */
}
.header .title .title__text span {
  font-size: 1.2em;
}
.header .title .title--info__text {
  color: #fff;
  font: italic 400 1em "Montserrat", sans-serif;
}

/* Responsive Style */
@media screen and (max-width: 900px) {
  .header .button i {
    font-size: 2.5em;
  }
  .header .title--info__text {
    display: none;
  }
}
@media screen and (max-width: 486px) {
  .header {
    padding: 0.25rem 0;
  }
  .header .button {
    margin: 0;
  }
  .header .button i {
    font-size: 2em;
  }
  .header .title {
    padding: 0;
  }
  .header .title .title__text {
    font-size: 1.5em;
  }
}
/* ----- Footer Style ----- */
.footer {
  padding: 1em 1.8em;
  background-color: #000066;
  grid-column: span 3;
  grid-row: span 1;
  grid-area: footer;
}

/* Scroll Bar in the document */
::-webkit-scrollbar {
  width: 1.2vw;
  height: 1.8vh;
}

::-webkit-scrollbar-track {
  border-radius: 0.25em;
  background-color: #cce5ff;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.25em;
  background-color: #99ccff;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #3399ff;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template: auto 1fr auto/repeat(3, 1fr);
  grid-template-areas: "header  header  header " "content content content" "footer  footer  footer ";
  overflow: hidden;
}

/* Main of the Home */
.main {
  display: grid;
  grid-template: 1fr/repeat(2, 1fr);
  grid-area: content;
  /* Sections in the Main */
  /* Wellcome Section */
  /* Schedule Section */
}
.main .section {
  margin: 0.5rem;
  padding: 0.15rem;
  grid-column: span 1;
  grid-row: span 1;
  /* Title of the section */
  /* Content of the section */
}
.main .section .section__title {
  width: 90%;
  margin: 0.25rem auto;
  border-radius: 0.15em;
  padding: 0.5rem;
  padding-left: 2rem;
  background-color: #0000bb;
  display: flex;
  align-items: center;
  color: #fff;
  font: 700 1.8rem "Oswald", sans-serif;
}
.main .section .content {
  display: flex;
  flex-flow: row wrap;
  /* Import Text Semantics */
  /* Text Semantics */
  /* Lists Styles */
  /* Links Styles */
  /* Images Style */
  /* Obj's Sizes */
  /* Can be images, tables or others */
  /* Smallest */
  /* Very Small */
  /* Small */
  /* Medium */
  /* Medium Big */
  /* Medium Large */
  /* Large */
  /* Very Large */
  /* Max Size */
  /* Alerts in the Sections */
  /* Advises in the sections */
}
.main .section .content .content__paragraph {
  width: 85%;
  margin: 0.15rem auto;
  padding: 0.65rem;
  color: #000;
  font: 500 1em "Montserrat", sans-serif;
}
.main .section .content .content__paragraph--borders {
  border-right: 0.05rem solid #353535;
  border-left: 0.05rem solid #353535;
}
.main .section .content strong {
  font-weight: 700;
}
.main .section .content em {
  font: italic 400 1em "Montserrat", sans-serif;
}
.main .section .content i {
  font: italic 500 1em "Newsreader", serif;
}
.main .section .content i.fa {
  font: 500 1em "FontAwesome";
}
.main .section .content abbr {
  border-radius: 0.25em;
  padding: 0.2em 0.4em;
  background-color: #000066;
  color: #fff;
  font: italic 400 1.15em "Montserrat", sans-serif;
  text-decoration: underline #99ccff;
}
.main .section .content mark {
  border-radius: 0.25em;
  padding: 0 0.4em;
  background-color: #99ccff;
}
.main .section .content .Bl4ky113 {
  color: #0000bb;
  font: italic 400 1em "Roboto Mono", Monospace;
  text-decoration: underline solid #0000bb 0.15rem;
  text-shadow: 1px 1px 2px #000;
}
.main .section .content .commentary {
  color: #353535;
  font: 100 0.7rem "Montserrat", sans-serif;
}
.main .section .content .list {
  margin: 0.25rem;
  margin-left: 1.5rem;
  border-left: 0.15rem solid #0000e6;
  padding: 0.25rem;
  padding-left: 0.25rem;
}
.main .section .content .list .list__obj {
  margin: 0.25rem;
  color: #000;
  font: 500 1em "Montserrat", sans-serif;
  list-style: none;
}
.main .section .content .list .list__obj::before {
  margin: 0.25rem;
  border-right: 0.15rem solid #0000e6;
  padding: 0 0.25rem;
  content: "";
  color: #0000e6;
  font: 800 1em "FontAwesome";
}
.main .section .content .list--fat {
  margin: 0.25rem;
  margin-left: 1.5rem;
  padding: 0.25rem;
  padding-left: 0.25rem;
}
.main .section .content .list--fat .list__obj {
  margin: 0.25rem;
  border-radius: 0.25rem;
  padding: 0.5rem;
  background-color: #0000e6;
  color: #fff;
  font: 500 1em "Montserrat", sans-serif;
  list-style: none;
}
.main .section .content .list--fat .list__obj::before {
  border-left: 0.15rem solid #fff;
  padding: 0 0.5rem;
  content: "";
  color: #fff;
  font: 800 1em "FontAwesome";
}
.main .section .content ol.list .list__obj {
  list-style-type: inherit;
  list-style-position: inside;
}
.main .section .content ol.list .list__obj::before {
  content: none;
}
.main .section .content ol.list .list__obj::marker {
  color: #0000e6;
  font: 800 1em "Montserrat", sans-serif;
}
.main .section .content ol.list--fat .list__obj {
  list-style-type: inherit;
  list-style-position: inside;
}
.main .section .content ol.list--fat .list__obj::before {
  content: none;
}
.main .section .content ol.list--fat .list__obj::marker {
  color: #fff;
  font: 800 1em "Montserrat", sans-serif;
}
.main .section .content .content__link {
  width: 60%;
  margin: 0.65rem 1.5rem;
  border-radius: 0.25em;
  padding: 0.25rem;
  padding-left: 1rem;
  background-color: #0000e6;
  color: #fff;
  font: 300 1.25rem "Oswald", sans-serif;
  text-decoration: none;
  display: block;
  transition-duration: 500ms;
  transition-timing-function: ease;
  transition-property: padding, background-color;
}
.main .section .content .content__link:hover {
  padding-right: 20%;
  background-color: #000066;
  text-decoration: underline solid #fff;
}
.main .section .content .content__link--small {
  color: #000066;
  font: 700 1em "Montserrat", sans-serif;
  text-decoration: underline solid #000044 0.15rem;
  transition-duration: 500ms;
  transition-timing-function: ease;
  transition-property: color, text-decoration;
}
.main .section .content .content__link--small:hover {
  color: #0000e6;
  text-decoration: underline dashed #0000e6 0.15rem;
}
.main .section .content .content__link--class {
  width: 60%;
  margin: 0.65rem 1.5rem;
  border-radius: 0.25em;
  padding: 0.25rem;
  padding-left: 1rem;
  background-color: #0000e6;
  color: #fff;
  font: 300 1.25rem "Oswald", sans-serif;
  text-decoration: none;
}
.main .section .content .fig {
  width: auto;
  margin: 0.65rem auto;
  padding-bottom: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}
.main .section .content .fig .fig-wrapper {
  width: 100%;
  border: 0.15rem solid #0000e6;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .section .content .fig .fig__img {
  width: 100%;
  height: auto;
  background-color: #0000e6;
  color: #fff;
  font: 600 1em "Roboto Mono", monospace;
  text-align: justify;
}
.main .section .content .fig .fit__cap {
  border: 0.15rem solid #0000e6;
  border-top: none;
  padding: 0.15rem 0.25rem;
  color: #000;
  font: 400 0.85rem "Montserrat", sans-serif;
  text-align: center;
}
.main .section .content .s {
  width: 20%;
}
.main .section .content .xs {
  width: 30%;
}
.main .section .content .xxs {
  width: 40%;
}
.main .section .content .m {
  width: 50%;
}
.main .section .content .xm {
  width: 60%;
}
.main .section .content .xxm {
  width: 70%;
}
.main .section .content .l {
  width: 80%;
}
.main .section .content .xl {
  width: 90%;
}
.main .section .content .xxl {
  width: 100%;
}
.main .section .content .alert {
  width: 90%;
  margin: 0 auto;
  border: 0.25rem solid #0000bb;
  border-top-right-radius: 0.75em;
}
.main .section .content .alert .alert__title {
  padding: 0.5rem 0.75rem;
  background-color: #0000bb;
  color: #fff;
  font: 500 1.5rem "Oswald", sans-serif;
}
.main .section .content .alert .alert__paragraph {
  width: 95%;
  padding: 0.25rem 0.75rem;
  color: #000;
  font: 500 1em "Montserrat", sans-serif;
}
.main .section .content .content-advise {
  /* Content of the advise */
}
.main .section .content .content-advise:hover .advise-content {
  display: block;
}
.main .section .content .content-advise .content-advise__text {
  border-radius: 0.5em;
  padding: 10px 20px;
  background-color: #0000bb;
  color: #fff;
  font: 500 20px "Oswald", sans-serif;
  display: inline-block;
}
.main .section .content .content-advise .advise-content {
  margin-inline-start: 5px;
  border-radius: 0.5em;
  padding: 10px;
  background-color: #0000bb;
  display: none;
  /* Hidden if not hover advise */
  position: absolute;
  z-index: 1;
}
.main .section .content .content-advise .advise-content .advise-content__paragraph {
  border-radius: 0.25em;
  padding: 5px;
  background-color: #fff;
  color: #000;
  font: 300 14px "Montserrat", sans-serif;
}
.main .section--special {
  border: 0.15rem solid #3399ff;
  border-radius: 0.25em;
  padding: 0 0.75rem;
  background-color: #99ccff;
}
.main .section--special .content {
  border: 0.15rem solid #3399ff;
  border-radius: 0.15rem;
  padding: 0.5rem;
  background-color: #fff;
}
.main .section--special .content .content__paragraph {
  width: 90%;
}
.main .section--special .content .content__paragraph .saludo {
  font: 700 1.2rem "Montserrat", sans-serif;
  text-decoration: underline #0000bb;
}
.main .section--schedule {
  grid-column: 1/-1;
  grid-row: span 1;
}
.main .section--schedule .content {
  /* Calendar Table */
}
.main .section--schedule .content .calendar {
  width: 95%;
  max-height: 100vh;
  margin: 0.2rem auto;
  display: grid;
  grid-template: auto repeat(8, 1fr)/5% repeat(5, 1fr);
  grid-template-areas: "time_header cday_1   cday_2   cday_3   cday_4   cday_5  " "time_10     day_1    day_2    day_3    day_4    day_5   " "time_11     day_1    day_2    day_3    day_4    day_5   " "time_12     day_1    day_2    day_3    day_4    day_5   " "time_13     day_1    day_2    day_3    day_4    day_5   " "time_14     day_1    day_2    day_3    day_4    day_5   " "time_15     day_1    day_2    day_3    day_4    day_5   " "time_16     day_1    day_2    day_3    day_4    day_5   " "time_17     day_1    day_2    day_3    day_4    day_5   ";
  /* calendar's Days */
}
.main .section--schedule .content .calendar .time {
  border-bottom: 0.15rem solid #0000bb;
  background-color: #000066;
  color: #fff;
  font: 600 0.9rem "Oswald", sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: span 1;
  grid-row: span 1;
}
.main .section--schedule .content .calendar .time--header {
  grid-area: time_header;
}
.main .section--schedule .content .calendar .time--10 {
  grid-area: time_10;
}
.main .section--schedule .content .calendar .time--11 {
  grid-area: time_11;
}
.main .section--schedule .content .calendar .time--12 {
  grid-area: time_12;
}
.main .section--schedule .content .calendar .time--13 {
  grid-area: time_13;
}
.main .section--schedule .content .calendar .time--14 {
  grid-area: time_14;
}
.main .section--schedule .content .calendar .time--15 {
  grid-area: time_15;
}
.main .section--schedule .content .calendar .time--16 {
  grid-area: time_16;
}
.main .section--schedule .content .calendar .time--17 {
  grid-area: time_17;
}
.main .section--schedule .content .calendar .calendar__day {
  background-color: #0000bb;
  grid-column: span 1;
  grid-row: span 1;
  border-right: 0.15rem solid #000066;
  padding: 0.5rem 0;
  color: #fff;
  font: 800 1.5rem "Oswald", sans-serif;
  text-align: center;
}
.main .section--schedule .content .calendar .calendar__day--1 {
  grid-area: cday_1;
}
.main .section--schedule .content .calendar .calendar__day--2 {
  grid-area: cday_2;
}
.main .section--schedule .content .calendar .calendar__day--3 {
  grid-area: cday_3;
}
.main .section--schedule .content .calendar .calendar__day--4 {
  grid-area: cday_4;
}
.main .section--schedule .content .calendar .calendar__day--5 {
  grid-area: cday_5;
}
.main .section--schedule .content .calendar .day {
  display: grid;
  grid-template: repeat(8, 1fr)/1fr;
  align-items: stretch;
  justify-items: stretch;
  /* Class Colors */
}
.main .section--schedule .content .calendar .day .clear {
  content: "";
  border-top: 0.05rem solid #cfcfcf;
  border-right: 0.05rem solid #cfcfcf;
  padding: 2rem;
  grid-column: 1/-1;
  grid-row: span 1;
  background-color: #f0f0f0;
}
.main .section--schedule .content .calendar .day .class {
  padding: 0.5rem;
  grid-column: 1/-1;
  grid-row: span 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color, color, border-color, text-decoration;
  transition-duration: 250ms;
  transition-timing-function: ease;
}
.main .section--schedule .content .calendar .day .class .class__link {
  width: 80%;
  height: 75%;
  border: 0.15rem solid #000;
  padding: 0.5rem;
  font: 600 1em "Montserrat", sans-serif;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color, color, border-color, text-decoration;
  transition-duration: 250ms;
  transition-timing-function: ease;
}
.main .section--schedule .content .calendar .day .class--span2 {
  grid-row: span 2;
  font-size: 1.25rem;
}
.main .section--schedule .content .calendar .day .class--excel {
  background-color: #009933;
}
.main .section--schedule .content .calendar .day .class--excel .class__link {
  border-color: #006622;
  background-color: #00e64d;
  color: #006622;
}
.main .section--schedule .content .calendar .day .class--excel:hover {
  background-color: #00e64d;
}
.main .section--schedule .content .calendar .day .class--excel:hover .class__link {
  border-color: #009933;
  background-color: #009933;
  color: #00e64d;
}
.main .section--schedule .content .calendar .day .class--tecnologia {
  background-color: #b3d9ff;
}
.main .section--schedule .content .calendar .day .class--tecnologia .class__link {
  border-color: #3396ff;
  background-color: #e6f2ff;
  color: #3396ff;
}
.main .section--schedule .content .calendar .day .class--tecnologia:hover {
  background-color: #e6f2ff;
}
.main .section--schedule .content .calendar .day .class--tecnologia:hover .class__link {
  border-color: #b3d9ff;
  background-color: #b3d9ff;
  color: #e6f2ff;
}
.main .section--schedule .content .calendar .day .class--matematicas {
  background-color: #4d4dff;
}
.main .section--schedule .content .calendar .day .class--matematicas .class__link {
  border-color: #000099;
  background-color: #9999ff;
  color: #000099;
}
.main .section--schedule .content .calendar .day .class--matematicas:hover {
  background-color: #9999ff;
}
.main .section--schedule .content .calendar .day .class--matematicas:hover .class__link {
  border-color: #4d4dff;
  background-color: #4d4dff;
  color: #9999ff;
}
.main .section--schedule .content .calendar .day .class--artes {
  background-color: #ff66cc;
}
.main .section--schedule .content .calendar .day .class--artes .class__link {
  border-color: #cc0088;
  background-color: #ffb3e6;
  color: #cc0088;
}
.main .section--schedule .content .calendar .day .class--artes:hover {
  background-color: #ffb3e6;
}
.main .section--schedule .content .calendar .day .class--artes:hover .class__link {
  border-color: #ff66cc;
  background-color: #ff66cc;
  color: #ffb3e6;
}
.main .section--schedule .content .calendar .day .class--programacion {
  background-color: #3366ff;
}
.main .section--schedule .content .calendar .day .class--programacion .class__link {
  border-color: #001a66;
  background-color: #99b3ff;
  color: #001a66;
}
.main .section--schedule .content .calendar .day .class--programacion:hover {
  background-color: #99b3ff;
}
.main .section--schedule .content .calendar .day .class--programacion:hover .class__link {
  border-color: #3366ff;
  background-color: #3366ff;
  color: #99b3ff;
}
.main .section--schedule .content .calendar .day .class--electronica {
  background-color: #f9f900;
}
.main .section--schedule .content .calendar .day .class--electronica .class__link {
  border-color: #999900;
  background-color: #ffff99;
  color: #999900;
}
.main .section--schedule .content .calendar .day .class--electronica:hover {
  background-color: #ffff99;
}
.main .section--schedule .content .calendar .day .class--electronica:hover .class__link {
  border-color: #f9f900;
  background-color: #f9f900;
  color: #ffff99;
}
.main .section--schedule .content .calendar .day .class--espanol {
  background-color: #ff704d;
}
.main .section--schedule .content .calendar .day .class--espanol .class__link {
  border-color: #e62e00;
  background-color: #ffad99;
  color: #e62e00;
}
.main .section--schedule .content .calendar .day .class--espanol:hover {
  background-color: #ffad99;
}
.main .section--schedule .content .calendar .day .class--espanol:hover .class__link {
  border-color: #ff704d;
  background-color: #ff704d;
  color: #ffad99;
}
.main .section--schedule .content .calendar .day .class--fisica {
  background-color: #ff66b3;
}
.main .section--schedule .content .calendar .day .class--fisica .class__link {
  border-color: #e60073;
  background-color: #ffb3d9;
  color: #e60073;
}
.main .section--schedule .content .calendar .day .class--fisica:hover {
  background-color: #ffb3d9;
}
.main .section--schedule .content .calendar .day .class--fisica:hover .class__link {
  border-color: #ff66b3;
  background-color: #ff66b3;
  color: #ffb3d9;
}
.main .section--schedule .content .calendar .day .class--ingles {
  background-color: #ffcc00;
}
.main .section--schedule .content .calendar .day .class--ingles .class__link {
  border-color: #e6b800;
  background-color: #ffe680;
  color: #e6b800;
}
.main .section--schedule .content .calendar .day .class--ingles:hover {
  background-color: #ffe680;
}
.main .section--schedule .content .calendar .day .class--ingles:hover .class__link {
  border-color: #ffcc00;
  background-color: #ffcc00;
  color: #ffe680;
}
.main .section--schedule .content .calendar .day .class--gestioninformatica {
  background-color: #4dc3ff;
}
.main .section--schedule .content .calendar .day .class--gestioninformatica .class__link {
  border-color: #006699;
  background-color: #b3e6ff;
  color: #006699;
}
.main .section--schedule .content .calendar .day .class--gestioninformatica:hover {
  background-color: #b3e6ff;
}
.main .section--schedule .content .calendar .day .class--gestioninformatica:hover .class__link {
  border-color: #4dc3ff;
  background-color: #4dc3ff;
  color: #b3e6ff;
}
.main .section--schedule .content .calendar .day .class--religion {
  background-color: #ff99ff;
}
.main .section--schedule .content .calendar .day .class--religion .class__link {
  border-color: #ff33ff;
  background-color: #ffccff;
  color: #ff33ff;
}
.main .section--schedule .content .calendar .day .class--religion:hover {
  background-color: #ffccff;
}
.main .section--schedule .content .calendar .day .class--religion:hover .class__link {
  border-color: #ff99ff;
  background-color: #ff99ff;
  color: #ffccff;
}
.main .section--schedule .content .calendar .day .class--etica {
  background-color: #99ccff;
}
.main .section--schedule .content .calendar .day .class--etica .class__link {
  border-color: #3396ff;
  background-color: #cce5ff;
  color: #3396ff;
}
.main .section--schedule .content .calendar .day .class--etica:hover {
  background-color: #cce5ff;
}
.main .section--schedule .content .calendar .day .class--etica:hover .class__link {
  border-color: #99ccff;
  background-color: #99ccff;
  color: #cce5ff;
}
.main .section--schedule .content .calendar .day .class--filosofia {
  background-color: #cc00cc;
}
.main .section--schedule .content .calendar .day .class--filosofia .class__link {
  border-color: #800080;
  background-color: #ff00ff;
  color: #800080;
}
.main .section--schedule .content .calendar .day .class--filosofia:hover {
  background-color: #ff00ff;
}
.main .section--schedule .content .calendar .day .class--filosofia:hover .class__link {
  border-color: #cc00cc;
  background-color: #cc00cc;
  color: #ff00ff;
}
.main .section--schedule .content .calendar .day .class--investigacion {
  background-color: #a6a6a6;
}
.main .section--schedule .content .calendar .day .class--investigacion .class__link {
  border-color: #8c8c8c;
  background-color: #ccc;
  color: #8c8c8c;
}
.main .section--schedule .content .calendar .day .class--investigacion:hover {
  background-color: #ccc;
}
.main .section--schedule .content .calendar .day .class--investigacion:hover .class__link {
  border-color: #a6a6a6;
  background-color: #a6a6a6;
  color: #ccc;
}
.main .section--schedule .content .calendar .day .class--gestion {
  background-color: #ff751a;
}
.main .section--schedule .content .calendar .day .class--gestion .class__link {
  border-color: #cc5200;
  background-color: #ff944d;
  color: #cc5200;
}
.main .section--schedule .content .calendar .day .class--gestion:hover {
  background-color: #ff944d;
}
.main .section--schedule .content .calendar .day .class--gestion:hover .class__link {
  border-color: #ff751a;
  background-color: #ff751a;
  color: #ff944d;
}
.main .section--schedule .content .calendar .day .class--quimica {
  background-color: #944dff;
}
.main .section--schedule .content .calendar .day .class--quimica .class__link {
  border-color: #8533ff;
  background-color: #d1b3ff;
  color: #8533ff;
}
.main .section--schedule .content .calendar .day .class--quimica:hover {
  background-color: #d1b3ff;
}
.main .section--schedule .content .calendar .day .class--quimica:hover .class__link {
  border-color: #944dff;
  background-color: #944dff;
  color: #d1b3ff;
}
.main .section--schedule .content .calendar .day .class--economia {
  background-color: #00a3cc;
}
.main .section--schedule .content .calendar .day .class--economia .class__link {
  border-color: #008fb3;
  background-color: #1ad1ff;
  color: #008fb3;
}
.main .section--schedule .content .calendar .day .class--economia:hover {
  background-color: #1ad1ff;
}
.main .section--schedule .content .calendar .day .class--economia:hover .class__link {
  border-color: #00a3cc;
  background-color: #00a3cc;
  color: #1ad1ff;
}
.main .section--schedule .content .calendar .day .class--edfisica {
  background-color: #66ff66;
}
.main .section--schedule .content .calendar .day .class--edfisica .class__link {
  border-color: #00e600;
  background-color: #b3ffb3;
  color: #00e600;
}
.main .section--schedule .content .calendar .day .class--edfisica:hover {
  background-color: #b3ffb3;
}
.main .section--schedule .content .calendar .day .class--edfisica:hover .class__link {
  border-color: #66ff66;
  background-color: #66ff66;
  color: #b3ffb3;
}
.main .section--schedule .content .calendar .day--1 {
  grid-area: day_1;
}
.main .section--schedule .content .calendar .day--2 {
  grid-area: day_2;
}
.main .section--schedule .content .calendar .day--3 {
  grid-area: day_3;
}
.main .section--schedule .content .calendar .day--4 {
  grid-area: day_4;
}
.main .section--schedule .content .calendar .day--5 {
  grid-area: day_5;
}

/* Section Class Colors */
#class--excel .section__title {
  background-color: #009933;
}
#class--excel .content {
  /* Lists Styles */
  /* Links Styles */
  /* Images Style */
  /* Alerts in the Sections */
}
#class--excel .content .list {
  border-left-color: #009933;
}
#class--excel .content .list .list__obj::before {
  border-right-color: #009933;
  color: #009933;
}
#class--excel .content .list--fat .list__obj {
  background-color: #009933;
}
#class--excel .content ol.list .list__obj::marker {
  color: #009933;
}
#class--excel .content .content__link {
  background-color: #009933;
}
#class--excel .content .content__link:hover {
  background-color: #006622;
}
#class--excel .content .content__link--small {
  color: #006622;
  text-decoration-color: #006622;
}
#class--excel .content .content__link--small:hover {
  color: #009933;
  text-decoration-color: #009933;
}
#class--excel .content .content__link--class {
  background-color: #009933;
}
#class--excel .content .fig .fig-wrapper {
  border-color: #009933;
}
#class--excel .content .fig .fig__img {
  background-color: #009933;
}
#class--excel .content .fig .fit__cap {
  border-color: #009933;
}
#class--excel .content .alert {
  border-color: #009933;
}
#class--excel .content .alert .alert__title {
  background-color: #009933;
}

#class--tecnologia .section__title {
  background-color: #b3d9ff;
}
#class--tecnologia .content {
  /* Lists Styles */
  /* Links Styles */
  /* Images Style */
  /* Alerts in the Sections */
}
#class--tecnologia .content .list {
  border-left-color: #b3d9ff;
}
#class--tecnologia .content .list .list__obj::before {
  border-right-color: #b3d9ff;
  color: #b3d9ff;
}
#class--tecnologia .content .list--fat .list__obj {
  background-color: #b3d9ff;
}
#class--tecnologia .content ol.list .list__obj::marker {
  color: #b3d9ff;
}
#class--tecnologia .content .content__link {
  background-color: #b3d9ff;
}
#class--tecnologia .content .content__link:hover {
  background-color: #3396ff;
}
#class--tecnologia .content .content__link--small {
  color: #3396ff;
  text-decoration-color: #3396ff;
}
#class--tecnologia .content .content__link--small:hover {
  color: #b3d9ff;
  text-decoration-color: #b3d9ff;
}
#class--tecnologia .content .content__link--class {
  background-color: #b3d9ff;
}
#class--tecnologia .content .fig .fig-wrapper {
  border-color: #b3d9ff;
}
#class--tecnologia .content .fig .fig__img {
  background-color: #b3d9ff;
}
#class--tecnologia .content .fig .fit__cap {
  border-color: #b3d9ff;
}
#class--tecnologia .content .alert {
  border-color: #b3d9ff;
}
#class--tecnologia .content .alert .alert__title {
  background-color: #b3d9ff;
}

#class--matematicas .section__title {
  background-color: #4d4dff;
}
#class--matematicas .content {
  /* Lists Styles */
  /* Links Styles */
  /* Images Style */
  /* Alerts in the Sections */
}
#class--matematicas .content .list {
  border-left-color: #4d4dff;
}
#class--matematicas .content .list .list__obj::before {
  border-right-color: #4d4dff;
  color: #4d4dff;
}
#class--matematicas .content .list--fat .list__obj {
  background-color: #4d4dff;
}
#class--matematicas .content ol.list .list__obj::marker {
  color: #4d4dff;
}
#class--matematicas .content .content__link {
  background-color: #4d4dff;
}
#class--matematicas .content .content__link:hover {
  background-color: #000099;
}
#class--matematicas .content .content__link--small {
  color: #000099;
  text-decoration-color: #000099;
}
#class--matematicas .content .content__link--small:hover {
  color: #4d4dff;
  text-decoration-color: #4d4dff;
}
#class--matematicas .content .content__link--class {
  background-color: #4d4dff;
}
#class--matematicas .content .fig .fig-wrapper {
  border-color: #4d4dff;
}
#class--matematicas .content .fig .fig__img {
  background-color: #4d4dff;
}
#class--matematicas .content .fig .fit__cap {
  border-color: #4d4dff;
}
#class--matematicas .content .alert {
  border-color: #4d4dff;
}
#class--matematicas .content .alert .alert__title {
  background-color: #4d4dff;
}

#class--artes .section__title {
  background-color: #ff66cc;
}
#class--artes .content {
  /* Lists Styles */
  /* Links Styles */
  /* Images Style */
  /* Alerts in the Sections */
}
#class--artes .content .list {
  border-left-color: #ff66cc;
}
#class--artes .content .list .list__obj::before {
  border-right-color: #ff66cc;
  color: #ff66cc;
}
#class--artes .content .list--fat .list__obj {
  background-color: #ff66cc;
}
#class--artes .content ol.list .list__obj::marker {
  color: #ff66cc;
}
#class--artes .content .content__link {
  background-color: #ff66cc;
}
#class--artes .content .content__link:hover {
  background-color: #cc0088;
}
#class--artes .content .content__link--small {
  color: #cc0088;
  text-decoration-color: #cc0088;
}
#class--artes .content .content__link--small:hover {
  color: #ff66cc;
  text-decoration-color: #ff66cc;
}
#class--artes .content .content__link--class {
  background-color: #ff66cc;
}
#class--artes .content .fig .fig-wrapper {
  border-color: #ff66cc;
}
#class--artes .content .fig .fig__img {
  background-color: #ff66cc;
}
#class--artes .content .fig .fit__cap {
  border-color: #ff66cc;
}
#class--artes .content .alert {
  border-color: #ff66cc;
}
#class--artes .content .alert .alert__title {
  background-color: #ff66cc;
}

#class--programacion .section__title {
  background-color: #3366ff;
}
#class--programacion .content {
  /* Lists Styles */
  /* Links Styles */
  /* Images Style */
  /* Alerts in the Sections */
}
#class--programacion .content .list {
  border-left-color: #3366ff;
}
#class--programacion .content .list .list__obj::before {
  border-right-color: #3366ff;
  color: #3366ff;
}
#class--programacion .content .list--fat .list__obj {
  background-color: #3366ff;
}
#class--programacion .content ol.list .list__obj::marker {
  color: #3366ff;
}
#class--programacion .content .content__link {
  background-color: #3366ff;
}
#class--programacion .content .content__link:hover {
  background-color: #001a66;
}
#class--programacion .content .content__link--small {
  color: #001a66;
  text-decoration-color: #001a66;
}
#class--programacion .content .content__link--small:hover {
  color: #3366ff;
  text-decoration-color: #3366ff;
}
#class--programacion .content .content__link--class {
  background-color: #3366ff;
}
#class--programacion .content .fig .fig-wrapper {
  border-color: #3366ff;
}
#class--programacion .content .fig .fig__img {
  background-color: #3366ff;
}
#class--programacion .content .fig .fit__cap {
  border-color: #3366ff;
}
#class--programacion .content .alert {
  border-color: #3366ff;
}
#class--programacion .content .alert .alert__title {
  background-color: #3366ff;
}

#class--electronica .section__title {
  background-color: #f9f900;
}
#class--electronica .content {
  /* Lists Styles */
  /* Links Styles */
  /* Images Style */
  /* Alerts in the Sections */
}
#class--electronica .content .list {
  border-left-color: #f9f900;
}
#class--electronica .content .list .list__obj::before {
  border-right-color: #f9f900;
  color: #f9f900;
}
#class--electronica .content .list--fat .list__obj {
  background-color: #f9f900;
}
#class--electronica .content ol.list .list__obj::marker {
  color: #f9f900;
}
#class--electronica .content .content__link {
  background-color: #f9f900;
}
#class--electronica .content .content__link:hover {
  background-color: #999900;
}
#class--electronica .content .content__link--small {
  color: #999900;
  text-decoration-color: #999900;
}
#class--electronica .content .content__link--small:hover {
  color: #f9f900;
  text-decoration-color: #f9f900;
}
#class--electronica .content .content__link--class {
  background-color: #f9f900;
}
#class--electronica .content .fig .fig-wrapper {
  border-color: #f9f900;
}
#class--electronica .content .fig .fig__img {
  background-color: #f9f900;
}
#class--electronica .content .fig .fit__cap {
  border-color: #f9f900;
}
#class--electronica .content .alert {
  border-color: #f9f900;
}
#class--electronica .content .alert .alert__title {
  background-color: #f9f900;
}

#class--espanol .section__title {
  background-color: #ff704d;
}
#class--espanol .content {
  /* Lists Styles */
  /* Links Styles */
  /* Images Style */
  /* Alerts in the Sections */
}
#class--espanol .content .list {
  border-left-color: #ff704d;
}
#class--espanol .content .list .list__obj::before {
  border-right-color: #ff704d;
  color: #ff704d;
}
#class--espanol .content .list--fat .list__obj {
  background-color: #ff704d;
}
#class--espanol .content ol.list .list__obj::marker {
  color: #ff704d;
}
#class--espanol .content .content__link {
  background-color: #ff704d;
}
#class--espanol .content .content__link:hover {
  background-color: #e62e00;
}
#class--espanol .content .content__link--small {
  color: #e62e00;
  text-decoration-color: #e62e00;
}
#class--espanol .content .content__link--small:hover {
  color: #ff704d;
  text-decoration-color: #ff704d;
}
#class--espanol .content .content__link--class {
  background-color: #ff704d;
}
#class--espanol .content .fig .fig-wrapper {
  border-color: #ff704d;
}
#class--espanol .content .fig .fig__img {
  background-color: #ff704d;
}
#class--espanol .content .fig .fit__cap {
  border-color: #ff704d;
}
#class--espanol .content .alert {
  border-color: #ff704d;
}
#class--espanol .content .alert .alert__title {
  background-color: #ff704d;
}

#class--fisica .section__title {
  background-color: #ff66b3;
}
#class--fisica .content {
  /* Lists Styles */
  /* Links Styles */
  /* Images Style */
  /* Alerts in the Sections */
}
#class--fisica .content .list {
  border-left-color: #ff66b3;
}
#class--fisica .content .list .list__obj::before {
  border-right-color: #ff66b3;
  color: #ff66b3;
}
#class--fisica .content .list--fat .list__obj {
  background-color: #ff66b3;
}
#class--fisica .content ol.list .list__obj::marker {
  color: #ff66b3;
}
#class--fisica .content .content__link {
  background-color: #ff66b3;
}
#class--fisica .content .content__link:hover {
  background-color: #e60073;
}
#class--fisica .content .content__link--small {
  color: #e60073;
  text-decoration-color: #e60073;
}
#class--fisica .content .content__link--small:hover {
  color: #ff66b3;
  text-decoration-color: #ff66b3;
}
#class--fisica .content .content__link--class {
  background-color: #ff66b3;
}
#class--fisica .content .fig .fig-wrapper {
  border-color: #ff66b3;
}
#class--fisica .content .fig .fig__img {
  background-color: #ff66b3;
}
#class--fisica .content .fig .fit__cap {
  border-color: #ff66b3;
}
#class--fisica .content .alert {
  border-color: #ff66b3;
}
#class--fisica .content .alert .alert__title {
  background-color: #ff66b3;
}

#class--ingles .section__title {
  background-color: #ffcc00;
}
#class--ingles .content {
  /* Lists Styles */
  /* Links Styles */
  /* Images Style */
  /* Alerts in the Sections */
}
#class--ingles .content .list {
  border-left-color: #ffcc00;
}
#class--ingles .content .list .list__obj::before {
  border-right-color: #ffcc00;
  color: #ffcc00;
}
#class--ingles .content .list--fat .list__obj {
  background-color: #ffcc00;
}
#class--ingles .content ol.list .list__obj::marker {
  color: #ffcc00;
}
#class--ingles .content .content__link {
  background-color: #ffcc00;
}
#class--ingles .content .content__link:hover {
  background-color: #e6b800;
}
#class--ingles .content .content__link--small {
  color: #e6b800;
  text-decoration-color: #e6b800;
}
#class--ingles .content .content__link--small:hover {
  color: #ffcc00;
  text-decoration-color: #ffcc00;
}
#class--ingles .content .content__link--class {
  background-color: #ffcc00;
}
#class--ingles .content .fig .fig-wrapper {
  border-color: #ffcc00;
}
#class--ingles .content .fig .fig__img {
  background-color: #ffcc00;
}
#class--ingles .content .fig .fit__cap {
  border-color: #ffcc00;
}
#class--ingles .content .alert {
  border-color: #ffcc00;
}
#class--ingles .content .alert .alert__title {
  background-color: #ffcc00;
}

#class--gestioninformatica .section__title {
  background-color: #4dc3ff;
}
#class--gestioninformatica .content {
  /* Lists Styles */
  /* Links Styles */
  /* Images Style */
  /* Alerts in the Sections */
}
#class--gestioninformatica .content .list {
  border-left-color: #4dc3ff;
}
#class--gestioninformatica .content .list .list__obj::before {
  border-right-color: #4dc3ff;
  color: #4dc3ff;
}
#class--gestioninformatica .content .list--fat .list__obj {
  background-color: #4dc3ff;
}
#class--gestioninformatica .content ol.list .list__obj::marker {
  color: #4dc3ff;
}
#class--gestioninformatica .content .content__link {
  background-color: #4dc3ff;
}
#class--gestioninformatica .content .content__link:hover {
  background-color: #006699;
}
#class--gestioninformatica .content .content__link--small {
  color: #006699;
  text-decoration-color: #006699;
}
#class--gestioninformatica .content .content__link--small:hover {
  color: #4dc3ff;
  text-decoration-color: #4dc3ff;
}
#class--gestioninformatica .content .content__link--class {
  background-color: #4dc3ff;
}
#class--gestioninformatica .content .fig .fig-wrapper {
  border-color: #4dc3ff;
}
#class--gestioninformatica .content .fig .fig__img {
  background-color: #4dc3ff;
}
#class--gestioninformatica .content .fig .fit__cap {
  border-color: #4dc3ff;
}
#class--gestioninformatica .content .alert {
  border-color: #4dc3ff;
}
#class--gestioninformatica .content .alert .alert__title {
  background-color: #4dc3ff;
}

#class--religion .section__title {
  background-color: #ff99ff;
}
#class--religion .content {
  /* Lists Styles */
  /* Links Styles */
  /* Images Style */
  /* Alerts in the Sections */
}
#class--religion .content .list {
  border-left-color: #ff99ff;
}
#class--religion .content .list .list__obj::before {
  border-right-color: #ff99ff;
  color: #ff99ff;
}
#class--religion .content .list--fat .list__obj {
  background-color: #ff99ff;
}
#class--religion .content ol.list .list__obj::marker {
  color: #ff99ff;
}
#class--religion .content .content__link {
  background-color: #ff99ff;
}
#class--religion .content .content__link:hover {
  background-color: #ff33ff;
}
#class--religion .content .content__link--small {
  color: #ff33ff;
  text-decoration-color: #ff33ff;
}
#class--religion .content .content__link--small:hover {
  color: #ff99ff;
  text-decoration-color: #ff99ff;
}
#class--religion .content .content__link--class {
  background-color: #ff99ff;
}
#class--religion .content .fig .fig-wrapper {
  border-color: #ff99ff;
}
#class--religion .content .fig .fig__img {
  background-color: #ff99ff;
}
#class--religion .content .fig .fit__cap {
  border-color: #ff99ff;
}
#class--religion .content .alert {
  border-color: #ff99ff;
}
#class--religion .content .alert .alert__title {
  background-color: #ff99ff;
}

#class--etica .section__title {
  background-color: #99ccff;
}
#class--etica .content {
  /* Lists Styles */
  /* Links Styles */
  /* Images Style */
  /* Alerts in the Sections */
}
#class--etica .content .list {
  border-left-color: #99ccff;
}
#class--etica .content .list .list__obj::before {
  border-right-color: #99ccff;
  color: #99ccff;
}
#class--etica .content .list--fat .list__obj {
  background-color: #99ccff;
}
#class--etica .content ol.list .list__obj::marker {
  color: #99ccff;
}
#class--etica .content .content__link {
  background-color: #99ccff;
}
#class--etica .content .content__link:hover {
  background-color: #3396ff;
}
#class--etica .content .content__link--small {
  color: #3396ff;
  text-decoration-color: #3396ff;
}
#class--etica .content .content__link--small:hover {
  color: #99ccff;
  text-decoration-color: #99ccff;
}
#class--etica .content .content__link--class {
  background-color: #99ccff;
}
#class--etica .content .fig .fig-wrapper {
  border-color: #99ccff;
}
#class--etica .content .fig .fig__img {
  background-color: #99ccff;
}
#class--etica .content .fig .fit__cap {
  border-color: #99ccff;
}
#class--etica .content .alert {
  border-color: #99ccff;
}
#class--etica .content .alert .alert__title {
  background-color: #99ccff;
}

#class--filosofia .section__title {
  background-color: #cc00cc;
}
#class--filosofia .content {
  /* Lists Styles */
  /* Links Styles */
  /* Images Style */
  /* Alerts in the Sections */
}
#class--filosofia .content .list {
  border-left-color: #cc00cc;
}
#class--filosofia .content .list .list__obj::before {
  border-right-color: #cc00cc;
  color: #cc00cc;
}
#class--filosofia .content .list--fat .list__obj {
  background-color: #cc00cc;
}
#class--filosofia .content ol.list .list__obj::marker {
  color: #cc00cc;
}
#class--filosofia .content .content__link {
  background-color: #cc00cc;
}
#class--filosofia .content .content__link:hover {
  background-color: #800080;
}
#class--filosofia .content .content__link--small {
  color: #800080;
  text-decoration-color: #800080;
}
#class--filosofia .content .content__link--small:hover {
  color: #cc00cc;
  text-decoration-color: #cc00cc;
}
#class--filosofia .content .content__link--class {
  background-color: #cc00cc;
}
#class--filosofia .content .fig .fig-wrapper {
  border-color: #cc00cc;
}
#class--filosofia .content .fig .fig__img {
  background-color: #cc00cc;
}
#class--filosofia .content .fig .fit__cap {
  border-color: #cc00cc;
}
#class--filosofia .content .alert {
  border-color: #cc00cc;
}
#class--filosofia .content .alert .alert__title {
  background-color: #cc00cc;
}

#class--investigacion .section__title {
  background-color: #a6a6a6;
}
#class--investigacion .content {
  /* Lists Styles */
  /* Links Styles */
  /* Images Style */
  /* Alerts in the Sections */
}
#class--investigacion .content .list {
  border-left-color: #a6a6a6;
}
#class--investigacion .content .list .list__obj::before {
  border-right-color: #a6a6a6;
  color: #a6a6a6;
}
#class--investigacion .content .list--fat .list__obj {
  background-color: #a6a6a6;
}
#class--investigacion .content ol.list .list__obj::marker {
  color: #a6a6a6;
}
#class--investigacion .content .content__link {
  background-color: #a6a6a6;
}
#class--investigacion .content .content__link:hover {
  background-color: #8c8c8c;
}
#class--investigacion .content .content__link--small {
  color: #8c8c8c;
  text-decoration-color: #8c8c8c;
}
#class--investigacion .content .content__link--small:hover {
  color: #a6a6a6;
  text-decoration-color: #a6a6a6;
}
#class--investigacion .content .content__link--class {
  background-color: #a6a6a6;
}
#class--investigacion .content .fig .fig-wrapper {
  border-color: #a6a6a6;
}
#class--investigacion .content .fig .fig__img {
  background-color: #a6a6a6;
}
#class--investigacion .content .fig .fit__cap {
  border-color: #a6a6a6;
}
#class--investigacion .content .alert {
  border-color: #a6a6a6;
}
#class--investigacion .content .alert .alert__title {
  background-color: #a6a6a6;
}

#class--gestion .section__title {
  background-color: #ff751a;
}
#class--gestion .content {
  /* Lists Styles */
  /* Links Styles */
  /* Images Style */
  /* Alerts in the Sections */
}
#class--gestion .content .list {
  border-left-color: #ff751a;
}
#class--gestion .content .list .list__obj::before {
  border-right-color: #ff751a;
  color: #ff751a;
}
#class--gestion .content .list--fat .list__obj {
  background-color: #ff751a;
}
#class--gestion .content ol.list .list__obj::marker {
  color: #ff751a;
}
#class--gestion .content .content__link {
  background-color: #ff751a;
}
#class--gestion .content .content__link:hover {
  background-color: #cc5200;
}
#class--gestion .content .content__link--small {
  color: #cc5200;
  text-decoration-color: #cc5200;
}
#class--gestion .content .content__link--small:hover {
  color: #ff751a;
  text-decoration-color: #ff751a;
}
#class--gestion .content .content__link--class {
  background-color: #ff751a;
}
#class--gestion .content .fig .fig-wrapper {
  border-color: #ff751a;
}
#class--gestion .content .fig .fig__img {
  background-color: #ff751a;
}
#class--gestion .content .fig .fit__cap {
  border-color: #ff751a;
}
#class--gestion .content .alert {
  border-color: #ff751a;
}
#class--gestion .content .alert .alert__title {
  background-color: #ff751a;
}

#class--quimica .section__title {
  background-color: #944dff;
}
#class--quimica .content {
  /* Lists Styles */
  /* Links Styles */
  /* Images Style */
  /* Alerts in the Sections */
}
#class--quimica .content .list {
  border-left-color: #944dff;
}
#class--quimica .content .list .list__obj::before {
  border-right-color: #944dff;
  color: #944dff;
}
#class--quimica .content .list--fat .list__obj {
  background-color: #944dff;
}
#class--quimica .content ol.list .list__obj::marker {
  color: #944dff;
}
#class--quimica .content .content__link {
  background-color: #944dff;
}
#class--quimica .content .content__link:hover {
  background-color: #8533ff;
}
#class--quimica .content .content__link--small {
  color: #8533ff;
  text-decoration-color: #8533ff;
}
#class--quimica .content .content__link--small:hover {
  color: #944dff;
  text-decoration-color: #944dff;
}
#class--quimica .content .content__link--class {
  background-color: #944dff;
}
#class--quimica .content .fig .fig-wrapper {
  border-color: #944dff;
}
#class--quimica .content .fig .fig__img {
  background-color: #944dff;
}
#class--quimica .content .fig .fit__cap {
  border-color: #944dff;
}
#class--quimica .content .alert {
  border-color: #944dff;
}
#class--quimica .content .alert .alert__title {
  background-color: #944dff;
}

#class--economia .section__title {
  background-color: #00a3cc;
}
#class--economia .content {
  /* Lists Styles */
  /* Links Styles */
  /* Images Style */
  /* Alerts in the Sections */
}
#class--economia .content .list {
  border-left-color: #00a3cc;
}
#class--economia .content .list .list__obj::before {
  border-right-color: #00a3cc;
  color: #00a3cc;
}
#class--economia .content .list--fat .list__obj {
  background-color: #00a3cc;
}
#class--economia .content ol.list .list__obj::marker {
  color: #00a3cc;
}
#class--economia .content .content__link {
  background-color: #00a3cc;
}
#class--economia .content .content__link:hover {
  background-color: #008fb3;
}
#class--economia .content .content__link--small {
  color: #008fb3;
  text-decoration-color: #008fb3;
}
#class--economia .content .content__link--small:hover {
  color: #00a3cc;
  text-decoration-color: #00a3cc;
}
#class--economia .content .content__link--class {
  background-color: #00a3cc;
}
#class--economia .content .fig .fig-wrapper {
  border-color: #00a3cc;
}
#class--economia .content .fig .fig__img {
  background-color: #00a3cc;
}
#class--economia .content .fig .fit__cap {
  border-color: #00a3cc;
}
#class--economia .content .alert {
  border-color: #00a3cc;
}
#class--economia .content .alert .alert__title {
  background-color: #00a3cc;
}

#class--edfisica .section__title {
  background-color: #66ff66;
}
#class--edfisica .content {
  /* Lists Styles */
  /* Links Styles */
  /* Images Style */
  /* Alerts in the Sections */
}
#class--edfisica .content .list {
  border-left-color: #66ff66;
}
#class--edfisica .content .list .list__obj::before {
  border-right-color: #66ff66;
  color: #66ff66;
}
#class--edfisica .content .list--fat .list__obj {
  background-color: #66ff66;
}
#class--edfisica .content ol.list .list__obj::marker {
  color: #66ff66;
}
#class--edfisica .content .content__link {
  background-color: #66ff66;
}
#class--edfisica .content .content__link:hover {
  background-color: #00e600;
}
#class--edfisica .content .content__link--small {
  color: #00e600;
  text-decoration-color: #00e600;
}
#class--edfisica .content .content__link--small:hover {
  color: #66ff66;
  text-decoration-color: #66ff66;
}
#class--edfisica .content .content__link--class {
  background-color: #66ff66;
}
#class--edfisica .content .fig .fig-wrapper {
  border-color: #66ff66;
}
#class--edfisica .content .fig .fig__img {
  background-color: #66ff66;
}
#class--edfisica .content .fig .fit__cap {
  border-color: #66ff66;
}
#class--edfisica .content .alert {
  border-color: #66ff66;
}
#class--edfisica .content .alert .alert__title {
  background-color: #66ff66;
}

@media screen and (max-width: 1048px) {
  .main .section .content .content__link {
    width: 95%;
    margin: 0.5rem 0.25rem;
    padding-left: 0.25rem;
  }
  .main .section .content .content__link:hover {
    padding-right: 0.25rem;
  }
}
@media screen and (max-width: 856px) {
  .main {
    grid-template: repeat(1, 1fr)/1fr;
  }
  .main .section .section__title {
    padding-left: 0.5rem;
    text-align: center;
    display: block;
    align-items: none;
  }
  .main .section .content .content__link {
    width: 95%;
    margin: 0.65rem 1.5rem;
    padding: 0.25rem;
    padding-left: 1rem;
  }
  .main .section .content .content__link:hover {
    padding-right: 0.25rem;
  }
  .main .section--schedule .content .calendar {
    width: 70%;
    max-height: initial;
    grid-template: repeat(1, 1fr)/1fr;
    grid-template-areas: "cday_1" "day_1 " "cday_2" "day_2 " "cday_3" "day_3 " "cday_4" "day_4 " "cday_5" "day_5 ";
  }
  .main .section--schedule .content .calendar .time {
    display: none;
  }
  .main .section--schedule .content .calendar .calendar__day {
    border: none;
    border-radius: 0.25rem;
    font-size: 1.8rem;
    text-decoration: underline solid #fff;
  }
  .main .section--schedule .content .calendar .day {
    display: block;
    margin-bottom: 0.25rem;
    border: 0.15rem dashed #cfcfcf;
    border-top: none;
    background-color: #f0f0f0;
  }
  .main .section--schedule .content .calendar .day .clear {
    display: none;
  }
  .main .section--schedule .content .calendar .day .class {
    width: 85%;
    min-height: 10vh;
    margin: 0.25rem auto;
    border-radius: 0.15rem;
  }
  .main .section--schedule .content .calendar .day .class .class__link {
    width: 90%;
    height: 90%;
    padding: 1rem;
  }
  .main .section--schedule .content .calendar .day .class .class__link,
.main .section--schedule .content .calendar .day .class .class__link--span2 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 486px) {
  .main .section .section__title {
    width: 95%;
  }
  .main .section .content .content__paragraph {
    width: 90%;
  }
  .main .section .content .content__link {
    width: 95%;
    margin: 0.5rem 0.25rem;
    padding-left: 0.25rem;
  }
  .main .section .content .content__link:hover {
    padding-right: 0.25rem;
  }
  .main .section .content .list {
    margin-left: 0.5rem;
  }
  .main .section .content .alert {
    width: 95%;
  }
  .main .section--schedule .content .calendar {
    width: 95%;
  }
}