/* GOBAL VARIABLES */
/* Base Colors */
/* Blue */
/* Darker Blue */
/* Sky */
/* Darker Sky */
/* Midnight */
/* Even Darker Midnight */
/* General Colors */
/* White */
/* Smoke */
/* A little bit dark White */
/* Black */
/* Dark Grey */
/* Class Colors */
/* Google Fonts */
/*  
 - Montserrat {
  Medium 500 : Medium or big texts. 
  Regular 400 : Medium-small or small texts.
  light 300 : short and small texts. 

  Semantics {
   Bold 700 : <strong>s on Medium or big texts.
   Medium 500 : <strong>s on Medium-small or small texts.

   italic | Regular 400 : <em>s, <mark>s in Medium or big texts.
   italic | light 300 : <em>s, <mark>s in Medium-small or small texts.
  }

  --Other uses {
   italic | extra-light 200 : other uses.
   thin 100 : other uses.
   italic | thin 100 : other uses.
  }
 }

 - Oswald {
  Bold 700 : Medium or big titles and Lists Icons.
  Medium 500 : Medium, small, not important titles.
  light 300 : Questions in activities, links.
 }

 - Newsreader {
  light 300 : <i>s, <q>s, <cite>s, <blockquote>s, <abbr>s, <sub>s, <sup>s on Medium, Medium-large or Large objects
  extra-light 200 : the same than the other, but on Medium-small, small objects.
 }

*/
/* The Header */
.doc-header {
  height: 80px;
  padding: 5px;
  background-color: #000066;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* Title of the Header */
}
.doc-header .header-title {
  width: 800px;
  border: 2px solid #0000bb;
  padding: 10px 0;
  background-color: #0000e6;
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  /* Text */
  /* Info */
}
.doc-header .header-title .header-title__text {
  color: #fff;
  font: 700 32px "Oswald", sans-serif;
  /* Name of The Class */
}
.doc-header .header-title .header-title__text span {
  font-size: 40px;
}
.doc-header .header-title .header-title--info__text {
  color: #99ccff;
  font: italic 200 12px "Montserrat", sans-serif;
}

/* Main of the Home */
.doc-main {
  margin-right: 5px;
  margin-left: 5px;
  border-right: 2px outset #353535;
  border-left: 2px outset #353535;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  /* Sections in the Main */
  /* Wellcome Section */
  /* Schedule Section */
}
.doc-main .main-section {
  max-width: 50%;
  margin: 10px;
  border-radius: 0.25em;
  padding: 5px;
  /* Title of the section */
  /* Content of the section */
}
.doc-main .main-section .main-section__title {
  width: 90%;
  height: 60px;
  margin: 10px;
  border: 5px solid #0000bb;
  border-radius: 0.1em;
  padding-inline-start: 30px;
  background-color: #0000bb;
  display: flex;
  align-items: center;
  color: #fff;
  font: 700 32px "Oswald", sans-serif;
}
.doc-main .main-section .section-content {
  display: flex;
  flex-flow: column wrap;
  /* Alerts in the Sections */
  /* Lists in the Sections */
  /* Unorder Lists */
}
.doc-main .main-section .section-content .section-content__paragraph {
  width: 85%;
  margin: 0 auto;
  border-right: 1px solid #353535;
  border-left: 1px solid #353535;
  padding: 10px;
  color: #000;
  font: 500 18px "Montserrat", sans-serif;
}
.doc-main .main-section .section-content .section-content__paragraph strong {
  font: 700 18px "Montserrat", sans-serif;
}
.doc-main .main-section .section-content .section-content__paragraph em {
  font: italic 400 18px "Montserrat", sans-serif;
}
.doc-main .main-section .section-content .section-content__paragraph i {
  font: italic 300 18px "Newsreader", serif;
}
.doc-main .main-section .section-content .section-content__paragraph abbr {
  border-radius: 0.25em;
  padding: 2px 5px;
  background-color: #000066;
  color: #fff;
  font: italic 200 18px "Montserrat", sans-serif;
  text-decoration: underline #99ccff;
}
.doc-main .main-section .section-content .section-content__paragraph mark {
  border-radius: 0.25em;
  padding: 2px 5px;
  background-color: #99ccff;
}
.doc-main .main-section .section-content .section-content__link {
  width: 60%;
  margin: 10px;
  margin-inline-start: 30px;
  border: 2px solid #000066;
  border-radius: 0.25em;
  padding: 5px;
  padding-inline-start: 25px;
  background-color: #0000e6;
  color: #fff;
  font: 300 20px "Oswald", sans-serif;
  text-decoration: none;
  display: block;
  transition-duration: 500ms;
  transition-timing-function: ease;
  transition-property: width, color, background-color;
}
.doc-main .main-section .section-content .section-content__link:hover {
  width: 80%;
  background-color: #000066;
  color: #99ccff;
  text-decoration: underline #99ccff;
}
.doc-main .main-section .section-content .section-content__alert {
  width: 90%;
  margin: 0 auto;
  border: 5px solid #0000bb;
  border-radius: 1em;
  padding: 15px;
  background-color: #fff;
  color: #000;
  font: 500 16px "Montserrat", sans-serif;
}
.doc-main .main-section .section-content .section-content__alert .section-content--title__alert {
  width: 60%;
  border: 2px solid #000066;
  border-radius: 0.25em;
  padding: 5px;
  background-color: #0000bb;
  color: #fff;
  font: 500 20px "Oswald", sans-serif;
  display: block;
}
.doc-main .main-section .section-content .section-content__alert strong {
  font: 700 18px "Montserrat", sans-serif;
}
.doc-main .main-section .section-content .section-content__alert em {
  font: italic 400 18px "Montserrat", sans-serif;
}
.doc-main .main-section .section-content .section-content__alert i {
  font: italic 300 18px "Newsreader", serif;
}
.doc-main .main-section .section-content .section-content__alert abbr {
  border-radius: 0.25em;
  padding: 2px 5px;
  background-color: #000066;
  color: #fff;
  font: italic 200 18px "Montserrat", sans-serif;
  text-decoration: underline #99ccff;
}
.doc-main .main-section .section-content .section-content__alert mark {
  border-radius: 0.25em;
  padding: 2px 5px;
  background-color: #99ccff;
}
.doc-main .main-section .section-content .content-ulist {
  width: 70%;
  margin: 10px;
  margin-inline-start: 20px;
  padding: 10px;
  list-style-position: inside;
}
.doc-main .main-section .section-content .content-ulist .ulist-object {
  margin: 5px;
  border: 2px outset #99ccff;
  padding: 10px;
  background-color: #0000bb;
  color: #fff;
  font: 500 16px "Montserrat", sans-serif;
}
.doc-main .main-section--wellcome {
  width: 45%;
  border: 2px solid #3399ff;
  border-radius: 0.5em;
  background-color: #99ccff;
}
.doc-main .main-section--wellcome .section-images {
  margin: 10px;
  border-radius: 0.5em;
  padding: 5px;
}
.doc-main .main-section--wellcome .section-images .section-images__img {
  width: 100%;
  height: 300px;
}
.doc-main .main-section--wellcome .section-content {
  margin: 5px;
  border: 2px outset #3399ff;
  border-radius: 1em;
  padding: 10px;
  background-color: #fff;
}
.doc-main .main-section--wellcome .section-content .section-content__paragraph {
  width: 95%;
  border: none;
  padding: 5px;
}
.doc-main .main-section--wellcome .section-content .section-content__paragraph .saludo {
  font: 700 20px "Montserrat", sans-serif;
  text-decoration: underline #0000bb;
}
.doc-main .main-section--wellcome .section-content .section-content__paragraph .Bl4ky113 {
  color: #0000bb;
  text-decoration: underline #0000bb;
  text-shadow: 1px 1px 1px #000;
}
.doc-main .main-section--wellcome .section-content .section-content__paragraph .commentary {
  color: #353535;
  font: 100 10px "Montserrat", sans-serif;
}
.doc-main .main-section--schedule {
  max-width: 95%;
  width: 100%;
  margin: 10px auto;
}
.doc-main .main-section--schedule .section-calendar {
  margin: 5px auto;
}
.doc-main .main-section--schedule .section-calendar .section-calendar__header {
  height: 40px;
  padding: 20px;
  background-color: #0000e6;
  font: 700 32px "Oswald", sans-serif;
}
.doc-main .main-section--schedule .section-calendar .section-calendar--day__header {
  width: 200px;
}
.doc-main .main-section--schedule .section-calendar .section-calendar__time {
  height: 40px;
  padding: 10px;
  background-color: #99ccff;
  font: 300 20px "Oswald", sans-serif;
}
.doc-main .main-section--schedule .section-calendar .section-calendar__data {
  height: 40px;
  padding: 2px;
  border-radius: 0.25em;
  background-color: #f0f0f0;
  text-align: center;
  font: 500 18px "Montserrat", sans-serif;
}
.doc-main .main-section--schedule .section-calendar .section-calendar__data[rowspan="2"] {
  font-size: 24px;
}
.doc-main .main-section--schedule .section-calendar .section-calendar--quimica__data {
  border: 1px outset #4c0080;
  background-color: #90f;
}
.doc-main .main-section--schedule .section-calendar .section-calendar--artes__data {
  border: 1px outset #ff0080;
  background-color: #ff66b3;
}
.doc-main .main-section--schedule .section-calendar .section-calendar--ingles__data {
  border: 1px outset #ffcc00;
  background-color: #ffdb4d;
}
.doc-main .main-section--schedule .section-calendar .section-calendar--religion__data {
  border: 1px outset #ff99ff;
  background-color: #ffccff;
}
.doc-main .main-section--schedule .section-calendar .section-calendar--tecnologia__data {
  border: 1px outset #666666;
  background-color: #999999;
}
.doc-main .main-section--schedule .section-calendar .section-calendar--filosofia__data {
  border: 1px outset #4d004d;
  background-color: #990099;
}
.doc-main .main-section--schedule .section-calendar .section-calendar--gestion__data {
  border: 1px outset #cc5200;
  background-color: #ff6600;
}
.doc-main .main-section--schedule .section-calendar .section-calendar--edfisica__data {
  border: 1px outset #00ee00;
  background-color: #22ff22;
}
.doc-main .main-section--schedule .section-calendar .section-calendar--matematicas__data {
  border: 1px outset #000080;
  background-color: #0000e6;
}
.doc-main .main-section--schedule .section-calendar .section-calendar--espanol__data {
  border: 1px outset #a00;
  background-color: #ff3232;
}
.doc-main .main-section--schedule .section-calendar .section-calendar--politicaeconomia__data {
  border: 1px outset #0077b3;
  background-color: #66ccff;
}
.doc-main .main-section--schedule .section-calendar .section-calendar--fisica__data {
  border: 1px outset #800080;
  background-color: #ff00ff;
}
.doc-main .main-section--schedule .section-calendar .section-calendar--etica__data {
  border: 1px outset #b3e6ff;
  background-color: #b3e6ff;
}
.doc-main .main-section--schedule .section-calendar .section-calendar--articulacion__data {
  border: 1px outset #002b80;
  background-color: #1a66ff;
}