@charset "UTF-8";
/* Variables */
/* 
 /-----------------------------------------------------------------------\
 /In this file I'll set variables, write info and others of the SCSS code\
 /-----------------------------------------------------------------------\
*/
/* --- Variables Globales --- */
/* -- Base Colors -- */
/* Blue */
/* Darker Blue */
/* Sky */
/* Darker Sky */
/* Even More light Sky*/
/* Midnight */
/* Even Darker Midnight */
/* -- Classes Colors -- */
/* Química */
/* Artes */
/* Inglés */
/* Religión */
/* Tecnología */
/* Filosofía */
/* Gestión Social */
/* Ed. Física */
/* Matemáticas */
/* Español */
/* Política y Economía */
/* Física */
/* Ética */
/* Articulación */
/* Excel */
/* Programación Básica */
/* Electrónica Digital */
/* Gestión Básica de la Informatíca */
/* Investigación */
/* -- General Colors -- */
/* White */
/* Smoke */
/* A little bit dark White */
/* Black */
/* Dark Grey */
/* Google Fonts Documentation */
/*  
 - Montserrat {
  Medium 500 : Medium or big texts. 
  Regular 400 : Medium-small or small texts.
  light 300 : short and small texts. 

  Semantics {
   Bold 700 : <strong>s on Medium or big texts.
   Medium 500 : <strong>s on Medium-small or small texts.

   italic | Regular 400 : <em>s, <mark>s in Medium or big texts.
   italic | light 300 : <em>s, <mark>s in Medium-small or small texts.
  }
 }

 - Oswald {
  Bold 700 : Medium or big titles and Lists Icons.
  Medium 500 : Medium, small, not important titles.
  light 300 : Questions in activities, links.
 }

 - Newsreader {
  Medium 500 : <i>s, <q>s, <cite>s, <blockquote>s, <abbr>s, <sub>s, <sup>s on Medium, Medium-large or Large objects
  Regular 400 : the same than the other, but on Medium-small, small objects.
 }

 - Roboto Mono {
  Regular 400: <pre> tags
 }
*/
/* The Header */
.doc-header {
  height: 80px;
  padding: 5px;
  background-color: #000066;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* Title of the Header */
}
.doc-header .header-title {
  width: 800px;
  border: 2px solid #0000bb;
  padding: 10px 0;
  background-color: #0000e6;
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  /* Text */
  /* Info */
}
.doc-header .header-title .header-title__text {
  color: #fff;
  font: 700 32px "Oswald", sans-serif;
  /* Name of The Class */
}
.doc-header .header-title .header-title__text span {
  font-size: 40px;
}
.doc-header .header-title .header-title--info__text {
  color: #99ccff;
  font: italic 200 12px "Montserrat", sans-serif;
}

/* Main of the Home */
.doc-main {
  margin-right: 5px;
  margin-left: 5px;
  border-right: 2px outset #353535;
  border-left: 2px outset #353535;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  /* Sections in the Main */
  /* Wellcome Section */
  /* Schedule Section */
}
.doc-main .main-section {
  max-width: 50%;
  margin: 10px;
  border-radius: 0.25em;
  padding: 5px;
  /* Title of the section */
  /* Content of the section */
}
.doc-main .main-section .main-section__title {
  width: 90%;
  height: 60px;
  margin: 10px;
  border: 5px solid #0000bb;
  border-radius: 0.1em;
  padding-inline-start: 30px;
  background-color: #0000bb;
  display: flex;
  align-items: center;
  color: #fff;
  font: 700 32px "Oswald", sans-serif;
}
.doc-main .main-section .section-content {
  display: flex;
  flex-flow: column wrap;
  /* Alerts in the Sections */
  /* Lists in the Sections */
  /* Unorder Lists */
  /* Advises in the sections */
}
.doc-main .main-section .section-content .section-content__paragraph {
  width: 85%;
  margin: 0 auto;
  border-right: 1px solid #353535;
  border-left: 1px solid #353535;
  padding: 10px;
  color: #000;
  font: 500 18px "Montserrat", sans-serif;
}
.doc-main .main-section .section-content .section-content__paragraph strong {
  font: 700 18px "Montserrat", sans-serif;
}
.doc-main .main-section .section-content .section-content__paragraph em {
  font: italic 400 18px "Montserrat", sans-serif;
}
.doc-main .main-section .section-content .section-content__paragraph i {
  font: italic 300 18px "Newsreader", serif;
}
.doc-main .main-section .section-content .section-content__paragraph abbr {
  border-radius: 0.25em;
  padding: 2px 5px;
  background-color: #000066;
  color: #fff;
  font: italic 200 18px "Montserrat", sans-serif;
  text-decoration: underline #99ccff;
}
.doc-main .main-section .section-content .section-content__paragraph mark {
  border-radius: 0.25em;
  padding: 2px 5px;
  background-color: #99ccff;
}
.doc-main .main-section .section-content .section-content__link {
  width: 60%;
  margin: 10px;
  margin-inline-start: 30px;
  border: 2px solid #000066;
  border-radius: 0.25em;
  padding: 5px;
  padding-inline-start: 25px;
  background-color: #0000e6;
  color: #fff;
  font: 300 20px "Oswald", sans-serif;
  text-decoration: none;
  display: block;
  transition-duration: 500ms;
  transition-timing-function: ease;
  transition-property: width, color, background-color;
}
.doc-main .main-section .section-content .section-content__link:hover {
  width: 80%;
  background-color: #000066;
  color: #99ccff;
  text-decoration: underline #99ccff;
}
.doc-main .main-section .section-content .section-content__alert {
  width: 90%;
  margin: 0 auto;
  border: 5px solid #0000bb;
  border-radius: 1em;
  padding: 15px;
  background-color: #fff;
  color: #000;
  font: 500 16px "Montserrat", sans-serif;
}
.doc-main .main-section .section-content .section-content__alert .section-content--title__alert {
  width: 60%;
  border: 2px solid #000066;
  border-radius: 0.25em;
  padding: 5px;
  background-color: #0000bb;
  color: #fff;
  font: 500 20px "Oswald", sans-serif;
  display: block;
}
.doc-main .main-section .section-content .section-content__alert strong {
  font: 700 18px "Montserrat", sans-serif;
}
.doc-main .main-section .section-content .section-content__alert em {
  font: italic 400 18px "Montserrat", sans-serif;
}
.doc-main .main-section .section-content .section-content__alert i {
  font: italic 300 18px "Newsreader", serif;
}
.doc-main .main-section .section-content .section-content__alert abbr {
  border-radius: 0.25em;
  padding: 2px 5px;
  background-color: #000066;
  color: #fff;
  font: italic 200 18px "Montserrat", sans-serif;
  text-decoration: underline #99ccff;
}
.doc-main .main-section .section-content .section-content__alert mark {
  border-radius: 0.25em;
  padding: 2px 5px;
  background-color: #99ccff;
}
.doc-main .main-section .section-content .content-list {
  width: 70%;
  margin: 10px;
  margin-inline-start: 20px;
  padding: 10px;
  list-style-position: inside;
}
.doc-main .main-section .section-content .content-list .ulist-object {
  margin: 5px;
  border: 2px outset #99ccff;
  padding: 10px;
  background-color: #0000bb;
  color: #fff;
  font: 500 16px "Montserrat", sans-serif;
}
.doc-main .main-section .section-content .content-advise {
  /* Content of the advise */
}
.doc-main .main-section .section-content .content-advise:hover .advise-content {
  display: block;
}
.doc-main .main-section .section-content .content-advise .content-advise__text {
  border-radius: 0.5em;
  padding: 10px 20px;
  background-color: #0000bb;
  color: #fff;
  font: 500 20px "Oswald", sans-serif;
  display: inline-block;
}
.doc-main .main-section .section-content .content-advise .advise-content {
  margin-inline-start: 5px;
  border-radius: 0.5em;
  padding: 10px;
  background-color: #0000bb;
  display: none;
  /* Hidden if not hover advise */
  position: absolute;
  z-index: 1;
}
.doc-main .main-section .section-content .content-advise .advise-content .advise-content__paragraph {
  border-radius: 0.25em;
  padding: 5px;
  background-color: #fff;
  color: #000;
  font: 300 14px "Montserrat", sans-serif;
}
.doc-main .main-section--wellcome {
  width: 45%;
  border: 2px solid #3399ff;
  border-radius: 0.5em;
  background-color: #99ccff;
}
.doc-main .main-section--wellcome .section-images {
  margin: 10px;
  border-radius: 0.5em;
  padding: 5px;
}
.doc-main .main-section--wellcome .section-images .section-images__img {
  width: 100%;
  height: 300px;
}
.doc-main .main-section--wellcome .section-content {
  margin: 5px;
  border: 2px outset #3399ff;
  border-radius: 1em;
  padding: 10px;
  background-color: #fff;
}
.doc-main .main-section--wellcome .section-content .section-content__paragraph {
  width: 95%;
  border: none;
  padding: 5px;
}
.doc-main .main-section--wellcome .section-content .section-content__paragraph .saludo {
  font: 700 20px "Montserrat", sans-serif;
  text-decoration: underline #0000bb;
}
.doc-main .main-section--wellcome .section-content .section-content__paragraph .Bl4ky113 {
  color: #0000bb;
  text-decoration: underline #0000bb;
  text-shadow: 1px 1px 1px #000;
}
.doc-main .main-section--wellcome .section-content .section-content__paragraph .commentary {
  color: #353535;
  font: 100 10px "Montserrat", sans-serif;
}
.doc-main .main-section--schedule {
  max-width: 95%;
  margin: 10px auto;
}
.doc-main .main-section--schedule .section-content {
  /* Calendar Table */
}
.doc-main .main-section--schedule .section-content .content-calendar {
  margin: 5px auto;
}
.doc-main .main-section--schedule .section-content .content-calendar .content-calendar__day {
  width: 200px;
  padding: 20px;
  background-color: #0000e6;
  font: 700 32px "Oswald", sans-serif;
}
.doc-main .main-section--schedule .section-content .content-calendar .content-calendar__time {
  padding: 10px;
  background-color: #99ccff;
  font: 500 20px "Oswald", sans-serif;
}
.doc-main .main-section--schedule .section-content .content-calendar .calendar-data {
  height: 65px;
  border-radius: 0.5em;
  background-color: #f0f0f0;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color, border-color, width;
}
.doc-main .main-section--schedule .section-content .content-calendar .calendar-data .calendar-data__link {
  height: 60%;
  width: 70%;
  margin: 0 auto;
  border: 2px outset transparent;
  border-radius: 0.5em;
  padding: 5px;
  font: 500 20px "Montserrat", sans-serif;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: inherit;
}
.doc-main .main-section--schedule .section-content .content-calendar .calendar-data[rowspan="2"] {
  height: 130px;
}
.doc-main .main-section--schedule .section-content .content-calendar .calendar-data[rowspan="2"] .calendar-data__link {
  font-size: 24px;
}
.doc-main .main-section--schedule .section-content .content-calendar .calendar-data--quimica {
  background-color: #944dff;
}
.doc-main .main-section--schedule .section-content .content-calendar .calendar-data--quimica .calendar-data__link {
  border-color: #8533ff;
  background-color: #d1b3ff;
  color: #8533ff;
}
.doc-main .main-section--schedule .section-content .content-calendar .calendar-data--quimica:hover {
  background-color: #d1b3ff;
}
.doc-main .main-section--schedule .section-content .content-calendar .calendar-data--quimica:hover .calendar-data__link {
  border-color: #944dff;
  background-color: #944dff;
  color: #d1b3ff;
}
.doc-main .main-section--schedule .section-content .content-calendar .calendar-data--artes {
  background-color: #ff66cc;
}
.doc-main .main-section--schedule .section-content .content-calendar .calendar-data--artes .calendar-data__link {
  border-color: #cc0088;
  background-color: #ffb3e6;
  color: #cc0088;
}
.doc-main .main-section--schedule .section-content .content-calendar .calendar-data--artes:hover {
  background-color: #ffb3e6;
}
.doc-main .main-section--schedule .section-content .content-calendar .calendar-data--artes:hover .calendar-data__link {
  border-color: #ff66cc;
  background-color: #ff66cc;
  color: #ffb3e6;
}
.doc-main .main-section--schedule .section-content .content-calendar .calendar-data--ingles {
  background-color: #ffcc00;
}
.doc-main .main-section--schedule .section-content .content-calendar .calendar-data--ingles .calendar-data__link {
  border-color: #e6b800;
  background-color: #ffe680;
  color: #e6b800;
}
.doc-main .main-section--schedule .section-content .content-calendar .calendar-data--ingles:hover {
  background-color: #ffe680;
}
.doc-main .main-section--schedule .section-content .content-calendar .calendar-data--ingles:hover .calendar-data__link {
  border-color: #ffcc00;
  background-color: #ffcc00;
  color: #ffe680;
}
.doc-main .main-section--schedule .section-content .content-calendar .calendar-data--religion {
  background-color: #ff99ff;
}
.doc-main .main-section--schedule .section-content .content-calendar .calendar-data--religion .calendar-data__link {
  border-color: #ff33ff;
  background-color: #ffccff;
  color: #ff33ff;
}
.doc-main .main-section--schedule .section-content .content-calendar .calendar-data--religion:hover {
  background-color: #ffccff;
}
.doc-main .main-section--schedule .section-content .content-calendar .calendar-data--religion:hover .calendar-data__link {
  border-color: #ff99ff;
  background-color: #ff99ff;
  color: #ffccff;
}
.doc-main .main-section--schedule .section-content .content-calendar .calendar-data--tecnologia {
  background-color: #b3d9ff;
}
.doc-main .main-section--schedule .section-content .content-calendar .calendar-data--tecnologia .calendar-data__link {
  border-color: #3396ff;
  background-color: #e6f2ff;
  color: #3396ff;
}
.doc-main .main-section--schedule .section-content .content-calendar .calendar-data--tecnologia:hover {
  background-color: #e6f2ff;
}
.doc-main .main-section--schedule .section-content .content-calendar .calendar-data--tecnologia:hover .calendar-data__link {
  border-color: #b3d9ff;
  background-color: #b3d9ff;
  color: #e6f2ff;
}
.doc-main .main-section--schedule .section-content .content-calendar .calendar-data--filosofia {
  background-color: #cc00cc;
}
.doc-main .main-section--schedule .section-content .content-calendar .calendar-data--filosofia .calendar-data__link {
  border-color: #800080;
  background-color: #ff00ff;
  color: #800080;
}
.doc-main .main-section--schedule .section-content .content-calendar .calendar-data--filosofia:hover {
  background-color: #ff00ff;
}
.doc-main .main-section--schedule .section-content .content-calendar .calendar-data--filosofia:hover .calendar-data__link {
  border-color: #cc00cc;
  background-color: #cc00cc;
  color: #ff00ff;
}
.doc-main .main-section--schedule .section-content .content-calendar .calendar-data--gestion {
  background-color: #ff751a;
}
.doc-main .main-section--schedule .section-content .content-calendar .calendar-data--gestion .calendar-data__link {
  border-color: #cc5200;
  background-color: #ff944d;
  color: #cc5200;
}
.doc-main .main-section--schedule .section-content .content-calendar .calendar-data--gestion:hover {
  background-color: #ff944d;
}
.doc-main .main-section--schedule .section-content .content-calendar .calendar-data--gestion:hover .calendar-data__link {
  border-color: #ff751a;
  background-color: #ff751a;
  color: #ff944d;
}
.doc-main .main-section--schedule .section-content .content-calendar .calendar-data--edfisica {
  background-color: #66ff66;
}
.doc-main .main-section--schedule .section-content .content-calendar .calendar-data--edfisica .calendar-data__link {
  border-color: #00e600;
  background-color: #b3ffb3;
  color: #00e600;
}
.doc-main .main-section--schedule .section-content .content-calendar .calendar-data--edfisica:hover {
  background-color: #b3ffb3;
}
.doc-main .main-section--schedule .section-content .content-calendar .calendar-data--edfisica:hover .calendar-data__link {
  border-color: #66ff66;
  background-color: #66ff66;
  color: #b3ffb3;
}
.doc-main .main-section--schedule .section-content .content-calendar .calendar-data--matematicas {
  background-color: #4d4dff;
}
.doc-main .main-section--schedule .section-content .content-calendar .calendar-data--matematicas .calendar-data__link {
  border-color: #000099;
  background-color: #9999ff;
  color: #000099;
}
.doc-main .main-section--schedule .section-content .content-calendar .calendar-data--matematicas:hover {
  background-color: #9999ff;
}
.doc-main .main-section--schedule .section-content .content-calendar .calendar-data--matematicas:hover .calendar-data__link {
  border-color: #4d4dff;
  background-color: #4d4dff;
  color: #9999ff;
}
.doc-main .main-section--schedule .section-content .content-calendar .calendar-data--espanol {
  background-color: #ff704d;
}
.doc-main .main-section--schedule .section-content .content-calendar .calendar-data--espanol .calendar-data__link {
  border-color: #e62e00;
  background-color: #ffad99;
  color: #e62e00;
}
.doc-main .main-section--schedule .section-content .content-calendar .calendar-data--espanol:hover {
  background-color: #ffad99;
}
.doc-main .main-section--schedule .section-content .content-calendar .calendar-data--espanol:hover .calendar-data__link {
  border-color: #ff704d;
  background-color: #ff704d;
  color: #ffad99;
}
.doc-main .main-section--schedule .section-content .content-calendar .calendar-data--economia {
  background-color: #00a3cc;
}
.doc-main .main-section--schedule .section-content .content-calendar .calendar-data--economia .calendar-data__link {
  border-color: #008fb3;
  background-color: #1ad1ff;
  color: #008fb3;
}
.doc-main .main-section--schedule .section-content .content-calendar .calendar-data--economia:hover {
  background-color: #1ad1ff;
}
.doc-main .main-section--schedule .section-content .content-calendar .calendar-data--economia:hover .calendar-data__link {
  border-color: #00a3cc;
  background-color: #00a3cc;
  color: #1ad1ff;
}
.doc-main .main-section--schedule .section-content .content-calendar .calendar-data--fisica {
  background-color: #ff66b3;
}
.doc-main .main-section--schedule .section-content .content-calendar .calendar-data--fisica .calendar-data__link {
  border-color: #e60073;
  background-color: #ffb3d9;
  color: #e60073;
}
.doc-main .main-section--schedule .section-content .content-calendar .calendar-data--fisica:hover {
  background-color: #ffb3d9;
}
.doc-main .main-section--schedule .section-content .content-calendar .calendar-data--fisica:hover .calendar-data__link {
  border-color: #ff66b3;
  background-color: #ff66b3;
  color: #ffb3d9;
}
.doc-main .main-section--schedule .section-content .content-calendar .calendar-data--etica {
  background-color: #99ccff;
}
.doc-main .main-section--schedule .section-content .content-calendar .calendar-data--etica .calendar-data__link {
  border-color: #3396ff;
  background-color: #cce5ff;
  color: #3396ff;
}
.doc-main .main-section--schedule .section-content .content-calendar .calendar-data--etica:hover {
  background-color: #cce5ff;
}
.doc-main .main-section--schedule .section-content .content-calendar .calendar-data--etica:hover .calendar-data__link {
  border-color: #99ccff;
  background-color: #99ccff;
  color: #cce5ff;
}
.doc-main .main-section--schedule .section-content .content-calendar .calendar-data--excel {
  background-color: #009933;
}
.doc-main .main-section--schedule .section-content .content-calendar .calendar-data--excel .calendar-data__link {
  border-color: #006622;
  background-color: #00e64d;
  color: #006622;
}
.doc-main .main-section--schedule .section-content .content-calendar .calendar-data--excel:hover {
  background-color: #00e64d;
}
.doc-main .main-section--schedule .section-content .content-calendar .calendar-data--excel:hover .calendar-data__link {
  border-color: #009933;
  background-color: #009933;
  color: #00e64d;
}
.doc-main .main-section--schedule .section-content .content-calendar .calendar-data--programacion {
  background-color: #3366ff;
}
.doc-main .main-section--schedule .section-content .content-calendar .calendar-data--programacion .calendar-data__link {
  border-color: #001a66;
  background-color: #99b3ff;
  color: #001a66;
}
.doc-main .main-section--schedule .section-content .content-calendar .calendar-data--programacion:hover {
  background-color: #99b3ff;
}
.doc-main .main-section--schedule .section-content .content-calendar .calendar-data--programacion:hover .calendar-data__link {
  border-color: #3366ff;
  background-color: #3366ff;
  color: #99b3ff;
}
.doc-main .main-section--schedule .section-content .content-calendar .calendar-data--electronica {
  background-color: #f9f900;
}
.doc-main .main-section--schedule .section-content .content-calendar .calendar-data--electronica .calendar-data__link {
  border-color: #999900;
  background-color: #ffff99;
  color: #999900;
}
.doc-main .main-section--schedule .section-content .content-calendar .calendar-data--electronica:hover {
  background-color: #ffff99;
}
.doc-main .main-section--schedule .section-content .content-calendar .calendar-data--electronica:hover .calendar-data__link {
  border-color: #f9f900;
  background-color: #f9f900;
  color: #ffff99;
}
.doc-main .main-section--schedule .section-content .content-calendar .calendar-data--gestioninformatica {
  background-color: #4dc3ff;
}
.doc-main .main-section--schedule .section-content .content-calendar .calendar-data--gestioninformatica .calendar-data__link {
  border-color: #006699;
  background-color: #b3e6ff;
  color: #006699;
}
.doc-main .main-section--schedule .section-content .content-calendar .calendar-data--gestioninformatica:hover {
  background-color: #b3e6ff;
}
.doc-main .main-section--schedule .section-content .content-calendar .calendar-data--gestioninformatica:hover .calendar-data__link {
  border-color: #4dc3ff;
  background-color: #4dc3ff;
  color: #b3e6ff;
}
.doc-main .main-section--schedule .section-content .content-calendar .calendar-data--investigacion {
  background-color: #a6a6a6;
}
.doc-main .main-section--schedule .section-content .content-calendar .calendar-data--investigacion .calendar-data__link {
  border-color: #8c8c8c;
  background-color: #ccc;
  color: #8c8c8c;
}
.doc-main .main-section--schedule .section-content .content-calendar .calendar-data--investigacion:hover {
  background-color: #ccc;
}
.doc-main .main-section--schedule .section-content .content-calendar .calendar-data--investigacion:hover .calendar-data__link {
  border-color: #a6a6a6;
  background-color: #a6a6a6;
  color: #ccc;
}