/* GOBAL VARIABLES */
/* Base Colors */
/* Blue */
/* Darker Blue */
/* Sky */
/* Darker Sky */
/* Midnight */
/* Even Darker Midnight */
/* General Colors */
/* White */
/* Smoke */
/* Black */
/* Grey */
/* ----- Header Style ----- */
.doc-header {
  height: 80px;
  padding: 5px;
  background-color: #000066;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Title of the Header */
}
.doc-header .header-title {
  width: 800px;
  border: 2px solid #0000bb;
  padding: 10px 0;
  background-color: #0000e6;
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  /* Text */
  /* Info */
}
.doc-header .header-title .header-title__text {
  color: #fff;
  font-size: 32px;
  /* Name of The Class */
}
.doc-header .header-title .header-title__text span {
  font-size: 40px;
}
.doc-header .header-title .header-title--info__text {
  color: #99ccff;
  font-size: 12px;
}

/* Main Content of the Doc */
.doc-main {
  width: 95%;
  margin: 5px auto;
  border: 2px outset #555;
  padding: 5px 10px;
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  /* Index of the Main */
  /* Sections in the Main */
  /* Home Section */
  /* Articles in the Main */
}
.doc-main .main-nav {
  width: 25%;
  margin: 5px 0;
  border: 2px solid #000066;
  border-radius: 0.25em;
  padding: 10px;
  background-color: #000044;
}
.doc-main .main-section {
  width: 70%;
  margin: 5px 0;
  border: 5px solid #0000e6;
  border-radius: 0.25em;
  padding: 10px;
  background-color: #0000bb;
}
.doc-main .main-section--home {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.doc-main .main-section--home .main-section--home__className {
  margin: 5px;
  border: 4px solid #000066;
  border-radius: 0.25em;
  padding: 10px;
  background-color: #000044;
  color: #fff;
  font-size: 32px;
}
.doc-main .main-section--home .home-table {
  width: 45%;
  border: 2px solid #0000e6;
  border-radius: 0.5em;
  padding: 15px;
  background-color: #fff;
  flex: 1 0;
}
.doc-main .main-section--home .home-table .home-table__title {
  border-radius: 0.5em;
  padding: 15px;
  background-color: #0000e6;
  color: #fff;
  font-size: 24px;
  font-weight: 800;
}
.doc-main .main-section--home .home-table .home-table__category {
  border-radius: 0.5em;
  padding: 10px;
  background-color: #3399ff;
  color: #000;
  font-size: 18px;
  text-align: center;
}
.doc-main .main-section--home .home-table .home-table__info {
  color: #000;
  font-size: 16px;
  text-align: center;
}
.doc-main .main-section--home .home-table .home-table--large__info {
  font-size: 10px;
}
.doc-main .main-article {
  width: 90%;
  margin: 5px 0;
  /* Class Title */
  /* Date of the Class */
  /* Content-Elements in the Article */
}
.doc-main .main-article .main-article__title {
  width: 80%;
  height: 60px;
  border-top-right-radius: 0.25em;
  border-top-left-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
  background-color: #000066;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 32px;
}
.doc-main .main-article .main-article__date {
  width: 50%;
  height: 30px;
  border-bottom-left-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
  background-color: #0000e6;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 24px;
}
.doc-main .main-article .article-content {
  /* Class Notes */
  /* Images in Class Notes */
  /* All Images */
  /* Test Image */
  /* Float Images */
  /* Asides in the Article */
  /* Aside Floats */
  /* Activities in the Articles */
}
.doc-main .main-article .article-content .article-content__paragraph {
  width: 95%;
  margin: 10px auto;
  padding: 0 5px;
  text-align: justify;
}
.doc-main .main-article .article-content .content-images {
  margin: 5px auto;
  padding: 5px;
  border: 2px solid #0000e6;
  border-radius: 0.25em;
  background-color: #0000bb;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.doc-main .main-article .article-content .content-images .content-images__quote {
  width: 80%;
  border: 2px solid #0000e6;
  border-radius: 0.5em;
  background-color: #fff;
  text-align: center;
  font-size: 12px;
}
.doc-main .main-article .article-content .content-images--test {
  width: 500px;
}
.doc-main .main-article .article-content .content-images--test .content-images__img {
  width: 500px;
  height: 200px;
}
.doc-main .main-article .article-content .content-images--right {
  float: right;
  margin: 10px;
}
.doc-main .main-article .article-content .content-images--left {
  float: left;
  margin: 10px;
}
.doc-main .main-article .article-content .content-aside {
  width: 30%;
  border: 5px solid #0000bb;
  border-radius: 0.25em;
  padding: 10px;
  background-color: #000044;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
  /* Title of the Aside */
  /* Paragraphs in the Aside */
  /* Images in the Aside */
  /* TEST image */
  /* Tables in the Aside */
}
.doc-main .main-article .article-content .content-aside .content-aside__title {
  width: 85%;
  margin: 5px;
  border: 2px solid #0000e6;
  border-radius: 0.5em;
  padding: 5px;
  background-color: #0000bb;
  color: #fff;
  font-size: 18px;
}
.doc-main .main-article .article-content .content-aside .content-aside__paragraph {
  width: 95%;
  margin: 5px;
  border: 2px solid #0000e6;
  border-radius: 0.25em;
  padding: 5px;
  background-color: #fff;
  font-size: 16px;
}
.doc-main .main-article .article-content .content-aside .aside-image {
  margin: 5px auto;
  padding: 5px;
  border: 2px solid #0000e6;
  border-radius: 0.25em;
  background-color: #0000bb;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.doc-main .main-article .article-content .content-aside .aside-image .aside-image__quote {
  width: 90%;
  border: 2px solid #0000e6;
  border-radius: 0.5em;
  background-color: #fff;
  text-align: center;
  font-size: 12px;
}
.doc-main .main-article .article-content .content-aside .aside-image--test {
  width: 300px;
}
.doc-main .main-article .article-content .content-aside .aside-image--test .aside-image__img {
  width: 300px;
  height: 150px;
}
.doc-main .main-article .article-content .content-aside .aside-table {
  border: 5px solid #0000e6;
  border-collapse: collapse;
  padding: 5px;
  background-color: #fff;
}
.doc-main .main-article .article-content .content-aside .aside-table .aside-table__header {
  border: 2px solid #000066;
  padding: 5px;
  background-color: #99ccff;
  text-align: center;
}
.doc-main .main-article .article-content .content-aside .aside-table .aside-table--long__header {
  background-color: #0000bb;
  color: #fff;
  font-size: 20px;
  font-weight: 800;
}
.doc-main .main-article .article-content .content-aside .aside-table .aside-table__data {
  border: 2px solid #000066;
  padding: 2px;
  text-align: center;
}
.doc-main .main-article .article-content .content-aside--right {
  float: right;
  margin: 10px;
}
.doc-main .main-article .article-content .content-aside--left {
  float: left;
  margin: 10px;
}
.doc-main .main-article .article-content .content-activity {
  /* Info of the Activities */
}
.doc-main .main-article .article-content .content-activity .activity-info {
  /* Info of the Student */
}
.doc-main .main-article .article-content .content-activity .activity-info .info-table {
  width: 80%;
  margin: 10px auto;
  border: 4px solid #000044;
  border-collapse: collapse;
  border-radius: 0.5em;
}
.doc-main .main-article .article-content .content-activity .activity-info .info-table .info-table__header {
  border: 2px solid #000066;
  padding: 5px;
  background-color: #3399ff;
  font-size: 18px;
  text-align: center;
}
.doc-main .main-article .article-content .content-activity .activity-info .info-table .info-table__data {
  border: 2px solid #000066;
  padding: 5px;
  font-size: 18px;
  text-align: center;
}