@charset "UTF-8";
/* Variables */
/* --- Variables Globales --- */
/* -- Base Colors -- */
/* Blue */
/* Darker Blue */
/* Sky */
/* Darker Sky */
/* Even More light Sky*/
/* Midnight */
/* Even Darker Midnight */
/* -- Classes Colors -- */
/* Química */
/* Artes */
/* Inglés */
/* Religión */
/* Tecnología */
/* Filosofía */
/* Gestión Social */
/* Ed. Física */
/* Matemáticas */
/* Español */
/* Política y Economía */
/* Física */
/* Ética */
/* Articulación */
/* Excel */
/* Programación Básica */
/* Electrónica Digital */
/* Gestión Básica de la Informatíca */
/* Investigación */
/* -- General Colors -- */
/* White */
/* Smoke */
/* A little bit dark White */
/* Black */
/* Dark Grey */
/* ----- Header Style ----- */
.header {
  height: 80px;
  padding: 5px;
  background-color: #000066;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* Title of the Header */
}
.header .title {
  width: 800px;
  border: 2px solid #0000bb;
  padding: 10px 0;
  background-color: #0000e6;
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  /* Text */
  /* Info */
}
.header .title .title__text {
  color: #fff;
  font: 700 32px "Oswald", sans-serif;
  /* Name of The Class */
}
.header .title .title__text span {
  font-size: 36px;
}
.header .title .title--info__text {
  color: #99ccff;
  font: italic 200 12px "Montserrat", sans-serif;
}

/* Main Content of the Doc */
.main {
  width: 95%;
  margin: 5px auto;
  border: 2px outset #353535;
  padding: 5px 10px;
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  /* Index of the Main */
  /* Sections in the Main */
  /* Articles in the Main */
}
.main .nav {
  width: 25%;
  margin: 5px 0;
  border: 2px solid #000066;
  border-radius: 0.25em;
  padding: 10px;
  background-color: #000044;
}
.main .nav .nav__title {
  color: #fff;
  font: 500 24px "Oswald", sans-serif;
}
.main .nav .nav-list {
  padding: 5px;
  padding-left: 10px;
  border: 1px dashed #0000e6;
  background-color: #000066;
  list-style-position: inside;
}
.main .nav .nav-list .nav-list__link {
  font: 400 16px "Montserrat", sans-serif;
}
.main .nav .nav-list .nav-list__link::marker {
  color: #0000e6;
}
.main .nav .nav-list .nav-list__link a {
  color: #cfcfcf;
  text-decoration: none;
}
.main .nav .nav-list .nav-list__link:hover::marker {
  color: #99ccff;
}
.main .nav .nav-list .nav-list__link:hover a {
  color: #fff;
  text-decoration: underline dashed #99ccff 2px;
}
.main .nav .nav-sublist {
  padding: 5px;
  padding-left: 15px;
  background-color: #000066;
  list-style-position: inside;
}
.main .nav .nav-sublist .nav-sublist__link {
  padding-left: 5px;
  border-left: 2px solid #0000e6;
  font: 400 16px "Montserrat", sans-serif;
}
.main .nav .nav-sublist .nav-sublist__link::marker {
  color: #0000e6;
}
.main .nav .nav-sublist .nav-sublist__link a {
  color: #cfcfcf;
  text-decoration: none;
}
.main .nav .nav-sublist .nav-sublist__link:hover::marker {
  color: #99ccff;
}
.main .nav .nav-sublist .nav-sublist__link:hover a {
  color: #fff;
  text-decoration: underline dashed #99ccff 2px;
}
.main .section {
  width: 70%;
  margin: 5px 0;
  border: 5px solid #0000e6;
  border-radius: 0.25em;
  padding: 10px;
  background-color: #0000bb;
  display: grid;
  grid-template: repeat(2, auto) 1fr/repeat(2, 1fr);
  grid-gap: 0.5em;
  /* Class Info */
}
.main .section .section__className {
  margin: 5px;
  border: 4px solid #000066;
  border-radius: 0.25em;
  padding: 10px;
  background-color: #000044;
  grid-column: span 2;
  grid-row: span 1;
  color: #fff;
  font: 700 26px "Oswald", sans-serif;
  text-align: center;
}
.main .section .table {
  border: 2px outset #0000e6;
  border-radius: 0.5em;
  padding: 15px;
  background-color: #fff;
  grid-column: span 2;
  grid-row: span 1;
}
.main .section .table .table--long__header {
  border-radius: 0.5em;
  padding: 8px;
  background-color: #0000e6;
  color: #fff;
  font: 500 24px "Oswald", sans-serif;
}
.main .section .table .table__header {
  border-radius: 0.5em;
  padding: 8px;
  background-color: #3399ff;
  color: #000;
  font: 500 16px "Oswald", sans-serif;
  text-align: center;
}
.main .section .table .table__data {
  border-radius: 0.5em;
  padding: 5px;
  background-color: #f0f0f0;
  color: #000;
  font: 400 15px "Montserrat", sans-serif;
  text-align: center;
}
.main .section .classinfo {
  border: 2px outset #0000e6;
  border-radius: 0.5em;
  padding: 15px;
  background-color: #fff;
  grid-column: span 2;
  grid-row: span 1;
}
.main .section .classinfo .classinfo__title {
  margin: 5px;
  border-radius: 0.5em;
  padding: 8px;
  background-color: #0000e6;
  color: #fff;
  font: 500 20px "Oswald", sans-serif;
  text-align: center;
}
.main .section .classinfo .classinfo__subtitle {
  max-width: 75%;
  margin: 5px;
  border-radius: 0.5em;
  padding: 5px;
  background-color: #3399ff;
  color: #000;
  font: 500 18px "Oswald", sans-serif;
  text-align: center;
}
.main .section .classinfo .classinfo__paragraph {
  width: 90%;
  border-left: 1px solid #0000e6;
  padding: 10px;
  color: #000;
  font: 500 16px "Montserrat", sans-serif;
}
.main .section .classinfo .classinfo-list {
  border-left: 1px solid #0000e6;
  padding: 10px;
  list-style-position: inside;
}
.main .section .classinfo .classinfo-list .classinfo-list__object {
  margin-left: 10px;
  color: #000;
  font: 500 16px "Montserrat", sans-serif;
}
.main .section .classinfo .classinfo-list .classinfo-list__object::marker {
  color: #0000e6;
  font-size: 18px;
}
.main .article {
  width: 90%;
  margin: 5px 0;
  /* Class Title */
  /* Date of the Class */
  /* Content-Elements in the Article */
}
.main .article .article__title {
  width: 80%;
  height: 60px;
  border-top-right-radius: 0.25em;
  border-top-left-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
  background-color: #000066;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font: 700 32px "Oswald", sans-serif;
}
.main .article .article__date {
  width: 50%;
  height: 30px;
  border-bottom-left-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
  background-color: #0000e6;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font: 300 24px "Oswald", sans-serif;
}
.main .article .content {
  /* Class Notes */
  /* Semantics in the Content */
  /* Electronic Configuration Quimica */
  /* Pre Texts */
  /* Titles in the Class Notes*/
  /* Links in the Class Notes */
  /* Images in Class Notes */
  /* All Images */
  /* Image's Sizes */
  /* Smallest */
  /* Very Small */
  /* Small */
  /* Medium */
  /* Medium Big */
  /* Medium Large */
  /* Large */
  /* Very Large */
  /* Max Size */
  /* Float Images */
  /* Asides in the Article */
  /* Aside Floats */
  /* Tables in the Article */
  /* Tables Floats */
  /* Lists in the Articles */
  /* Diferent Markers for the Ulist */
  /* Arrows ">>>" */
  /* long Arrow "---->" */
  /* Lines "---" */
  /* Diamond "<>" */
  /* Flat Lists */
  /* Reference */
  /* Labels in JavaScript Uses */
  /* Inputs in JavaScript Uses */
  /* Unclear Objects (Used in Floats) */
  /* GeoGebra iFrames */
  /* Youtube Videos iFrames */
  /* Activities in the Articles */
}
.main .article .content .content__paragraph {
  width: 95%;
  margin: 10px auto;
  padding: 0 5px;
  text-align: justify;
  font: 500 18px "Montserrat", sans-serif;
  clear: both;
}
.main .article .content strong {
  font: 700 18px "Montserrat", sans-serif;
}
.main .article .content em {
  font: italic 300 20px "Montserrat", sans-serif;
}
.main .article .content i {
  font: italic 500 20px "Newsreader", serif;
}
.main .article .content abbr {
  border-radius: 0.25em;
  padding: 2px 5px;
  background-color: #000066;
  color: #fff;
  font: italic 200 18px "Montserrat", sans-serif;
  text-decoration: underline #99ccff;
}
.main .article .content mark {
  border-radius: 0.25em;
  padding: 2px 5px;
  background-color: #99ccff;
}
.main .article .content .conf-ele {
  padding: 5px;
  border: 2px solid #000044;
  border-radius: 0.5em;
  background-color: #99ccff;
  font: 800 20px "Montserrat", sans-serif;
  display: inline-block;
}
.main .article .content .content__pre {
  max-width: 100%;
  margin: 5px;
  font: 400 15px "Roboto Mono", monospace;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main .article .content .content__title {
  margin: 10px;
  padding: 5px;
  color: #000044;
  font: 500 28px "Oswald", sans-serif;
  clear: both;
}
.main .article .content .content__semititle {
  margin: 10px;
  color: #000066;
  font: 300 22px "Oswald", sans-serif;
  clear: both;
}
.main .article .content .content__link {
  max-width: 50%;
  margin: 10px 5px;
  border-radius: 0.25em;
  padding: 10px;
  background-color: #0000bb;
  color: #fff;
  font: 300 24px "Oswald", sans-serif;
  text-decoration: none;
  transition: all 500ms ease;
  display: block;
}
.main .article .content .content__link:hover {
  max-width: 70%;
}
.main .article .content .content-images {
  margin: 5px auto;
  border-radius: 0.25em;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.main .article .content .content-images picture {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .article .content .content-images .content-images__img {
  width: 100%;
  height: auto;
  border: 2px solid #0000e6;
  border-radius: 0.2em;
}
.main .article .content .content-images .content-images__quote {
  width: 80%;
  padding: 5px 0;
  border-right: 2px solid #0000e6;
  border-left: 2px solid #0000e6;
  border-bottom: 1px solid #0000e6;
  border-radius: 0.2em;
  background-color: #fff;
  text-align: center;
  font: 400 16px "Montserrat", sans-serif;
}
.main .article .content .content-images .content-images__quote cite {
  font: italic 400 16px "Newsreader", serif;
}
.main .article .content .content-images--s {
  width: 20%;
}
.main .article .content .content-images--xs {
  width: 30%;
}
.main .article .content .content-images--xxs {
  width: 40%;
}
.main .article .content .content-images--m {
  width: 50%;
}
.main .article .content .content-images--xm {
  width: 60%;
}
.main .article .content .content-images--xxm {
  width: 70%;
}
.main .article .content .content-images--l {
  width: 80%;
}
.main .article .content .content-images--xl {
  width: 90%;
}
.main .article .content .content-images--xxl {
  width: 100%;
}
.main .article .content .content-images--right {
  float: right;
  margin: 10px;
}
.main .article .content .content-images--left {
  float: left;
  margin: 10px;
}
.main .article .content .content-aside {
  width: 30%;
  border: 5px solid #0000bb;
  border-radius: 0.25em;
  padding: 10px;
  background-color: #000044;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
  /* Title of the Aside */
  /* Paragraphs in the Aside */
  /* Images in the Aside */
  /* TEST image */
  /* Tables in the Aside */
}
.main .article .content .content-aside .content-aside__title {
  width: 85%;
  margin: 5px;
  border: 2px solid #0000e6;
  border-radius: 0.5em;
  padding: 5px;
  background-color: #0000bb;
  color: #fff;
  font: 300 18px "Oswald", sans-serif;
}
.main .article .content .content-aside .content-aside__paragraph {
  width: 95%;
  margin: 5px;
  border: 2px solid #0000e6;
  border-radius: 0.25em;
  padding: 5px;
  background-color: #fff;
  font: 400 16px "Montserrat", sans-serif;
}
.main .article .content .content-aside .aside-image {
  margin: 5px auto;
  padding: 5px;
  border: 2px solid #0000e6;
  border-radius: 0.25em;
  background-color: #0000bb;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.main .article .content .content-aside .aside-image .aside-image__quote {
  width: 90%;
  border: 2px solid #0000e6;
  border-radius: 0.5em;
  background-color: #fff;
  text-align: center;
  font: 300 15px "Montserrat", sans-serif;
}
.main .article .content .content-aside .aside-image--test {
  width: 300px;
}
.main .article .content .content-aside .aside-image--test .aside-image__img {
  width: 300px;
  height: 150px;
}
.main .article .content .content-aside .aside-table {
  background-color: #0000bb;
}
.main .article .content .content-aside .aside-table .table-header .table-header__title {
  border-radius: 0.5em;
  padding: 20px;
  background-color: #0000e6;
  color: #fff;
  font: 500 24px "Oswald", sans-serif;
  text-align: center;
}
.main .article .content .content-aside .aside-table .table-content .table-content__category {
  border-radius: 0.25em;
  padding: 10px;
  background-color: #3399ff;
  color: #000;
  font: 500 20px "Oswald", sans-serif;
  text-align: center;
}
.main .article .content .content-aside .aside-table .table-content .table-content__data {
  border-radius: 0.25em;
  padding: 10px;
  color: #000;
  font: 400 16px "Montserrat", sans-serif;
  text-align: center;
}
.main .article .content .content-aside .aside-table .table-content .table-content--row {
  background-color: #f0f0f0;
}
.main .article .content .content-aside .aside-table .table-content .table-content--row {
  background-color: #cfcfcf;
}
.main .article .content .content-aside--right {
  float: right;
  margin: 10px;
}
.main .article .content .content-aside--left {
  float: left;
  margin: 10px;
}
.main .article .content .table {
  max-width: 95%;
  margin: 10px auto;
  text-align: center;
}
.main .article .content .table .theader .theader__title {
  border-radius: 0.2em;
  padding: 20px;
  background-color: #0000bb;
  color: #fff;
  font: 700 30px "Oswald", sans-serif;
  text-transform: capitalize;
}
.main .article .content .table .theader .theader__category {
  border-radius: 0.5em;
  padding: 10px;
  background-color: #3399ff;
  color: #000;
  font: 500 18px "Oswald", sans-serif;
}
.main .article .content .table .theader .theader__data {
  border-radius: 0.25em;
  padding: 5px;
  background-color: #f0f0f0;
  color: #000;
  font: 400 14px "Montserrat", sans-serif;
}
.main .article .content .table .theader .theader__data:nth-child(odd) {
  background-color: #f0f0f0;
}
.main .article .content .table .theader .theader__data:nth-child(even) {
  background-color: #cfcfcf;
}
.main .article .content .table .tcontent .tcontent__category {
  border: 2px outset #99ccff;
  border-radius: 0.25em;
  padding: 10px;
  background-color: #3399ff;
  color: #000;
  font: 500 18px "Oswald", sans-serif;
}
.main .article .content .table .tcontent .tcontent__data {
  border-radius: 0.5em;
  padding: 5px;
  color: #000;
  font: 400 16px "Montserrat", sans-serif;
}
.main .article .content .table .tcontent tr:nth-child(odd) {
  background-color: #f0f0f0;
}
.main .article .content .table .tcontent tr:nth-child(even) {
  background-color: #cfcfcf;
}
.main .article .content .table--right {
  float: right;
  margin: 10px;
}
.main .article .content .table--left {
  float: left;
  margin: 10px;
}
.main .article .content .list {
  margin: 10px;
  border-left: 1px solid #0000e6;
  padding-left: 25px;
}
.main .article .content .list .list__title {
  margin: 2px;
  padding-inline-start: 5px;
  color: #000044;
  font: 500 28px "Oswald", sans-serif;
  text-decoration: underline solid #000044 1px;
}
.main .article .content .list .list--semi__title {
  margin: 2px;
  padding-inline-start: 5px;
  color: #000066;
  font: 300 22px "Oswald", sans-serif;
  text-decoration: underline solid #000066 1px;
}
.main .article .content .list .list__object {
  margin: 5px;
  padding-left: 10px;
  color: #000;
  font: 500 18px "Montserrat", sans-serif;
}
.main .article .content .list .list__object::marker {
  color: #3399ff;
  font: 700 20px "Oswald", sans-serif;
}
.main .article .content .list--arrows .list__object::marker {
  content: ">>";
}
.main .article .content .list--longarrow .list__object::marker {
  content: "->";
}
.main .article .content .list--lines .list__object::marker {
  content: "--";
}
.main .article .content .list--diamond .list__object::marker {
  content: "<>";
}
.main .article .content .list--flat {
  border-right: 1px solid #0000e6;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.main .article .content .list--flat .list__title {
  width: 100%;
}
.main .article .content .list--flat .list--semi__title {
  width: 100%;
}
.main .article .content .list--flat .list__object {
  margin: 5px 20px;
}
.main .article .content .list--right {
  float: right;
}
.main .article .content .list--left {
  float: left;
}
.main .article .content .ref {
  width: 90%;
  padding: 10px 20px;
  border-left: 5px solid #0000e6;
  border-top-right-radius: 1em;
  border-top-left-radius: 0.25em;
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 0.25em;
  margin: 5px auto;
  background-color: #cce5ff;
}
.main .article .content .ref .ref__title {
  margin: 5px;
  color: #000066;
  font: 800 20px "Oswald", sans-serif;
  text-decoration: underline solid #0000e6 1px;
}
.main .article .content .ref .ref__link {
  padding: 2px 5px;
  border-left: 2px solid #0000e6;
  color: #000;
  font: 500 12px "Montserrat", sans-serif;
  text-decoration: none;
  display: block;
}
.main .article .content .ref .ref__link::before {
  content: "O";
  color: #0000bb;
  font-weight: bolder;
}
.main .article .content .ref .ref__link cite {
  color: #000066;
}
.main .article .content .ref .ref__link:hover cite {
  text-decoration: underline dashed #0000bb 1px;
}
.main .article .content .label {
  margin: 5px;
  padding: 10px;
  font: 500 16px "Montserrat", sans-serif;
  color: #000066;
  display: inline-block;
}
.main .article .content .input {
  margin: 5px;
  border: 1px solid #000;
  border-radius: 0.25em;
  padding: 10px;
  background-color: #fff;
  font: 500 16px "Montserrat", sans-serif;
  display: inline-block;
}
.main .article .content .input:hover, .main .article .content .input:focus {
  border: 1px solid #000066;
  background-color: #cce5ff;
}
.main .article .content .input--button {
  margin: 10px;
  padding: 10px 40px;
  font-size: 20px;
  background-color: #cce5ff;
}
.main .article .content .input--button:hover, .main .article .content .input--button:focus {
  background-color: #99ccff;
}
.main .article .content .unclear {
  clear: none;
}
.main .article .content .content-geogebra {
  width: 800px;
  height: 400px;
  margin: 5px auto;
  border: 2px outset #3399ff;
  border-radius: 0.5em;
}
.main .article .content .content-ytvideo {
  width: 80%;
  height: 500px;
  margin: 5px auto;
  border: 2px outset #3399ff;
  border-radius: 0.25em;
}
.main .article .content .activity {
  /* Reset the Number of the Tasks */
  counter-reset: section;
  list-style-type: none;
  /* Title of the Activities */
  /* Activities Taks, To Do List, Etc */
}
.main .article .content .activity .activity__title {
  width: 100%;
  height: 60px;
  margin: 5px auto;
  border: 2px solid #000066;
  border-radius: 0.25em;
  padding: 5px;
  background-color: #000044;
  color: #fff;
  font: 700 32px "Oswald", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .article .content .activity .activity__task {
  margin: 5px;
  border-right: 3px solid #0000e6;
  border-left: 3px solid #0000e6;
  border-radius: 0.25em;
  padding: 5px;
  font: 300 20px "Oswald", sans-serif;
  clear: both;
}
.main .article .content .activity .activity__task::before {
  counter-increment: section;
  content: "Punto N°" counter(section) ". ";
}