@charset "UTF-8";
/* GOBAL VARIABLES */
/* Base Colors */
/* Blue */
/* Darker Blue */
/* Sky */
/* Darker Sky */
/* Midnight */
/* Even Darker Midnight */
/* General Colors */
/* White */
/* Smoke */
/* Black */
/* Dark Grey */
/* ----- Header Style ----- */
.doc-header {
  height: 80px;
  padding: 5px;
  background-color: #000066;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* Title of the Header */
}
.doc-header .header-title {
  width: 800px;
  border: 2px solid #0000bb;
  padding: 10px 0;
  background-color: #0000e6;
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  /* Text */
  /* Info */
}
.doc-header .header-title .header-title__text {
  color: #fff;
  font-size: 32px;
  /* Name of The Class */
}
.doc-header .header-title .header-title__text span {
  font-size: 40px;
}
.doc-header .header-title .header-title--info__text {
  color: #99ccff;
  font-size: 12px;
}

/* Main Content of the Doc */
.doc-main {
  width: 95%;
  margin: 5px auto;
  border: 2px outset #353535;
  padding: 5px 10px;
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  /* Index of the Main */
  /* Sections in the Main */
  /* Home Section */
  /* Articles in the Main */
}
.doc-main .main-nav {
  width: 25%;
  margin: 5px 0;
  border: 2px solid #000066;
  border-radius: 0.25em;
  padding: 10px;
  background-color: #000044;
}
.doc-main .main-section {
  width: 70%;
  margin: 5px 0;
  border: 5px solid #0000e6;
  border-radius: 0.25em;
  padding: 10px;
  background-color: #0000bb;
}
.doc-main .main-section--home {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.doc-main .main-section--home .main-section--home__className {
  min-width: 80%;
  max-width: 100%;
  margin: 5px;
  border: 4px solid #000066;
  border-radius: 0.25em;
  padding: 10px;
  background-color: #000044;
  color: #fff;
  font-size: 32px;
  text-align: center;
}
.doc-main .main-section--home .home-table {
  width: 45%;
  border: 2px solid #0000e6;
  border-radius: 0.5em;
  padding: 15px;
  background-color: #fff;
  flex: 1 0;
}
.doc-main .main-section--home .home-table .home-table__title {
  border-radius: 0.5em;
  padding: 15px;
  background-color: #0000e6;
  color: #fff;
  font-size: 24px;
  font-weight: 800;
}
.doc-main .main-section--home .home-table .home-table__category {
  width: 95px;
  border-radius: 0.5em;
  padding: 10px;
  background-color: #3399ff;
  color: #000;
  font-size: 18px;
  text-align: center;
}
.doc-main .main-section--home .home-table .home-table__info {
  color: #000;
  font-size: 16px;
  text-align: center;
}
.doc-main .main-section--home .home-table .home-table--large__info {
  font-size: 10px;
}
.doc-main .main-article {
  width: 90%;
  margin: 5px 0;
  /* Class Title */
  /* Date of the Class */
  /* Content-Elements in the Article */
}
.doc-main .main-article .main-article__title {
  width: 80%;
  height: 60px;
  border-top-right-radius: 0.25em;
  border-top-left-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
  background-color: #000066;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 32px;
}
.doc-main .main-article .main-article__date {
  width: 50%;
  height: 30px;
  border-bottom-left-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
  background-color: #0000e6;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 24px;
}
.doc-main .main-article .article-content {
  /* Class Notes */
  /* Titles in the Class Notes*/
  /* Images in Class Notes */
  /* All Images */
  /* Test Image */
  /* LawGexx image */
  /* MapaMental Compuertas Lógicas */
  /* MapaMental "dormir" Lideres Sociales */
  /* Float Images */
  /* Asides in the Article */
  /* Aside Floats */
  /* Tables in the Article */
  /* GeoGebra iFrames */
  /* Activities in the Articles */
}
.doc-main .main-article .article-content .article-content__paragraph {
  width: 95%;
  margin: 10px auto;
  padding: 0 5px;
  text-align: justify;
  font-size: 18px;
}
.doc-main .main-article .article-content .article-content__title {
  margin: 10px;
  padding: 5px;
  color: #000044;
  font-size: 28px;
  font-weight: 1000;
}
.doc-main .main-article .article-content .article-content__semititle {
  margin: 10px;
  color: #000066;
  font-size: 24px;
  font-weight: 800;
}
.doc-main .main-article .article-content .content-images {
  margin: 5px auto;
  padding: 5px;
  border: 2px solid #0000e6;
  border-radius: 0.25em;
  background-color: #0000bb;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.doc-main .main-article .article-content .content-images .content-images__quote {
  width: 80%;
  border: 2px solid #0000e6;
  border-radius: 0.5em;
  background-color: #fff;
  text-align: center;
  font-size: 12px;
}
.doc-main .main-article .article-content .content-images--test {
  width: 500px;
}
.doc-main .main-article .article-content .content-images--test .content-images__img {
  width: 500px;
  height: 200px;
}
.doc-main .main-article .article-content .content-images--lawgeex {
  width: 500px;
}
.doc-main .main-article .article-content .content-images--lawgeex .content-images__img {
  width: 500px;
  height: 200px;
}
.doc-main .main-article .article-content .content-images--mm-compuertasLogicas {
  width: 1100px;
}
.doc-main .main-article .article-content .content-images--mm-compuertasLogicas .content-images__img {
  width: 1100px;
  height: 400px;
}
.doc-main .main-article .article-content .content-images--mm-lideresSociales {
  width: 1100px;
}
.doc-main .main-article .article-content .content-images--mm-lideresSociales .content-images__img {
  width: 1100px;
  height: 400px;
}
.doc-main .main-article .article-content .content-images--angles {
  width: 400px;
}
.doc-main .main-article .article-content .content-images--angles .content-images__img {
  width: 400px;
  height: 250px;
}
.doc-main .main-article .article-content .content-images--right {
  float: right;
  margin: 10px;
}
.doc-main .main-article .article-content .content-images--left {
  float: left;
  margin: 10px;
}
.doc-main .main-article .article-content .content-aside {
  width: 30%;
  border: 5px solid #0000bb;
  border-radius: 0.25em;
  padding: 10px;
  background-color: #000044;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
  /* Title of the Aside */
  /* Paragraphs in the Aside */
  /* Images in the Aside */
  /* TEST image */
  /* Tables in the Aside */
}
.doc-main .main-article .article-content .content-aside .content-aside__title {
  width: 85%;
  margin: 5px;
  border: 2px solid #0000e6;
  border-radius: 0.5em;
  padding: 5px;
  background-color: #0000bb;
  color: #fff;
  font-size: 18px;
}
.doc-main .main-article .article-content .content-aside .content-aside__paragraph {
  width: 95%;
  margin: 5px;
  border: 2px solid #0000e6;
  border-radius: 0.25em;
  padding: 5px;
  background-color: #fff;
  font-size: 16px;
}
.doc-main .main-article .article-content .content-aside .aside-image {
  margin: 5px auto;
  padding: 5px;
  border: 2px solid #0000e6;
  border-radius: 0.25em;
  background-color: #0000bb;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.doc-main .main-article .article-content .content-aside .aside-image .aside-image__quote {
  width: 90%;
  border: 2px solid #0000e6;
  border-radius: 0.5em;
  background-color: #fff;
  text-align: center;
  font-size: 12px;
}
.doc-main .main-article .article-content .content-aside .aside-image--test {
  width: 300px;
}
.doc-main .main-article .article-content .content-aside .aside-image--test .aside-image__img {
  width: 300px;
  height: 150px;
}
.doc-main .main-article .article-content .content-aside .aside-table {
  border: 5px solid #0000e6;
  border-collapse: collapse;
  padding: 5px;
  background-color: #fff;
}
.doc-main .main-article .article-content .content-aside .aside-table .aside-table__header {
  border: 2px solid #000066;
  padding: 5px;
  background-color: #3399ff;
  text-align: center;
}
.doc-main .main-article .article-content .content-aside .aside-table .aside-table--long__header {
  background-color: #0000bb;
  color: #fff;
  font-size: 20px;
  font-weight: 800;
}
.doc-main .main-article .article-content .content-aside .aside-table .aside-table__data {
  border: 2px solid #000066;
  padding: 2px;
  text-align: center;
}
.doc-main .main-article .article-content .content-aside--right {
  float: right;
  margin: 10px;
}
.doc-main .main-article .article-content .content-aside--left {
  float: left;
  margin: 10px;
}
.doc-main .main-article .article-content .content-table {
  width: 70%;
  margin: 10px auto;
  border: 5px solid #000044;
  border-collapse: collapse;
  border-radius: 0.5em;
  padding: 5px;
}
.doc-main .main-article .article-content .content-table .content-table__header {
  border: 2px solid #000066;
  padding: 10px;
  background-color: #3399ff;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}
.doc-main .main-article .article-content .content-table .content-table--long__header {
  padding: 15px;
  background-color: #0000bb;
  color: #fff;
  font-size: 28px;
  font-weight: 1000;
}
.doc-main .main-article .article-content .content-table .content-table--question__header {
  padding: 5px;
  background-color: #fff;
  font-size: 18px;
}
.doc-main .main-article .article-content .content-table .content-table__data {
  border: 2px solid #000066;
  padding: 5px;
  text-align: center;
}
.doc-main .main-article .article-content .content-geogebra {
  width: 800px;
  height: 400px;
  margin: 5px auto;
  border: 2px outset #3399ff;
  border-radius: 0.5em;
}
.doc-main .main-article .article-content .content-activity {
  /* Reset the Number of the Tasks */
  counter-reset: section;
  list-style-type: none;
  /* Title of the Activities */
  /* Info of the Activities */
  /* Activities Taks, To Do List, Etc */
}
.doc-main .main-article .article-content .content-activity .content-activity__title {
  width: 100%;
  height: 60px;
  margin: 5px auto;
  border: 2px solid #000066;
  border-radius: 0.25em;
  padding: 5px;
  background-color: #000044;
  color: #fff;
  font-size: 32px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
}
.doc-main .main-article .article-content .content-activity .activity-info {
  /* Info of the Student */
}
.doc-main .main-article .article-content .content-activity .activity-info .info-table {
  width: 80%;
  margin: 10px auto;
  border: 4px solid #000044;
  border-collapse: collapse;
  border-radius: 0.5em;
}
.doc-main .main-article .article-content .content-activity .activity-info .info-table .info-table__header {
  border: 2px solid #000066;
  padding: 5px;
  background-color: #3399ff;
  font-size: 18px;
  text-align: center;
}
.doc-main .main-article .article-content .content-activity .activity-info .info-table .info-table__data {
  border: 2px solid #000066;
  padding: 5px;
  font-size: 18px;
  text-align: center;
}
.doc-main .main-article .article-content .content-activity .content-activity__task {
  margin: 5px;
  border: 2px solid #0000e6;
  border-radius: 0.25em;
  padding: 5px;
  font-size: 24px;
  font-weight: 600;
}
.doc-main .main-article .article-content .content-activity .content-activity__task::before {
  counter-increment: section;
  content: "Punto N°" counter(section) ". ";
}