/* ----- Header Style ----- */

.header {
  padding: 0.25em;
 
  background-color: $color-dark1;
 
  display: flex;
  justify-content: space-evenly;
  align-items: center;
 
  grid-column: 1 / -1;
  grid-row: span 1;
  grid-area: header;
 
  /* Buttons in the Header */
  .button {
   margin: 0 0.5em;
   border: none;
   border-radius: 0.25em;
   padding: 0.5em;
 
   background-color: $color-base1;
 
   display: block;
 
   i {
    color: $color-white1;
    font-size: 4.5em;
    text-align: center;
   }
  }
 
  /* Title of the Header */
  .title {
   width: 70vw;
 
   border-radius: 0.25em;
   padding: 0.6em 0.25em;
 
   background-color: $color-base1;
 
   display: flex;
   align-items: baseline;
   justify-content: space-evenly;
 
   /* Text */
   .title__text {
    color: $color-white1;
    font: 700 1.8em 'Oswald', sans-serif;
    text-align: center;
 
    /* Name of The Class */
    span { font-size: 1.2em; }
   }
 
   /* Info */
   .title--info__text {
    color: $color-white1;
    font: italic 400 1em 'Montserrat', sans-serif;
   }
  }
}

/* Responsive Style */

@media screen and (max-width: 900px) {
 .header {
  .button { i { font-size: 2.5em; } }

  .title--info__text { display: none; }
 }
}

@media screen and (max-width: 486px) {
  .header {
   padding: 0.25rem 0;
 
   .button { 
     margin: 0;
 
     i { font-size: 2em; }
    }
 
   .title {
    padding: 0;
 
    .title__text { 
     font-size: 1.5em; 
    }
   }
  }
}