/* --- Variables Globales --- */

/* -- Base Colors -- */
$color-base1: #0000e6; /* Blue */
$color-base2: #0000bb; /* Darker Blue */

$color-light1: #99ccff; /* Sky */
$color-light2: #3399ff; /* Darker Sky */
$color-light3: #cce5ff; /* Even More light Sky*/

$color-dark1: #000066; /* Midnight */
$color-dark2: #000044; /* Even Darker Midnight */

/* -- Classes Colors -- */

/* Química */
$color-qui-base: #944dff;
$color-qui-light: #d1b3ff;
$color-qui-dark: #8533ff;

/* Artes */
$color-art-base: #ff66cc;
$color-art-light: #ffb3e6;
$color-art-dark: #cc0088;
/* Inglés */
$color-ing-base: #ffcc00;
$color-ing-light: #ffe680;
$color-ing-dark: #e6b800;

/* Religión */
$color-reli-base: #ff99ff;
$color-reli-light: #ffccff;
$color-reli-dark: #ff33ff;

/* Tecnología */
$color-tecno-base: #b3d9ff;
$color-tecno-light: #e6f2ff;
$color-tecno-dark: #3396ff;

/* Filosofía */
$color-filo-base: #cc00cc;
$color-filo-light: #ff00ff;
$color-filo-dark: #800080;

/* Gestión Social */
$color-gest-base: #ff751a;
$color-gest-light: #ff944d;
$color-gest-dark: #cc5200;

/* Ed. Física */
$color-edf-base: #66ff66;
$color-edf-light: #b3ffb3;
$color-edf-dark: #00e600;

/* Matemáticas */
$color-mat-base: #4d4dff;
$color-mat-light: #9999ff;
$color-mat-dark: #000099;

/* Español */
$color-esp-base: #ff704d;
$color-esp-light: #ffad99;
$color-esp-dark: #e62e00;

/* Política y Economía */
$color-eco-base: #00a3cc;
$color-eco-light: #1ad1ff;
$color-eco-dark: #008fb3;

/* Física */
$color-fis-base: #ff66b3;
$color-fis-light: #ffb3d9;
$color-fis-dark: #e60073;

/* Ética */
$color-eti-base: #99ccff;
$color-eti-light: #cce5ff;
$color-eti-dark: #3396ff;

/* Articulación */

/* Excel */
$color-exc-base: #009933;
$color-exc-light: #00e64d;
$color-exc-dark: #006622;

/* Programación Básica */
$color-pro-base: #3366ff;
$color-pro-light: #99b3ff;
$color-pro-dark: #001a66;

/* Electrónica Digital */
$color-elec-base: #f9f900;
$color-elec-light: #ffff99;
$color-elec-dark: #999900;

/* Gestión Básica de la Informatíca */
$color-gbi-base: #4dc3ff;
$color-gbi-light: #b3e6ff;
$color-gbi-dark: #006699;

/* Investigación */
$color-ins-base: #a6a6a6;
$color-ins-light: #ccc;
$color-ins-dark: #8c8c8c;

/* -- General Colors -- */
$color-white1: #fff; /* White */
$color-white2: #cfcfcf; /* Smoke */
$color-white3: #f0f0f0; /* A little bit dark White */

$color-black1: #000; /* Black */
$color-black2: #353535; /* Dark Grey */
$color-black3: #666; /* Grey */