/* /-------- Styles para objects Unicos de Filosofia --------\ */

/* Variables */
@import "./master";

.activity {

  /* Fichas Bibliograficas de los filosofos */
  .ficha-filosofos {
    width: 80%;

    margin: 1rem auto;
    border: 0.15rem outset $color-light2;
    padding: 2rem;
    
    background-color: $color-light1;

    display: grid;
    grid-template: 1fr / 35% 1fr;
    grid-area: "header header "
               "image  content"
               "footer footer ";
    grid-gap: 0.25rem;

    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;

  /* Header de la ficha bibliografica */
  .fheader {
    width: 90%;

    border-radius: 0.25em;
    padding: 0.5rem;

    background-color: $color-light2;

    grid-column: 1 / -1;
    grid-row: 1 / 2;

    .fheader__title {
      font: 700 2em 'Oswald', sans-serif;
      text-align: center;
      text-decoration: underline solid $color-base2 0.15rem;
      text-transform: capitalize;
    }
  }
  
  .fpicture {
    width: 95%;
    height: auto;

    padding: 0.25rem;

    background-color: $color-light2;
  }
  
  /* Cuerpo de la ficha biblio grafica */
  .fcontent {
    width: 90%;

    margin: 0 auto;
    border-radius: 0.5em;
    padding: 1rem;

    background-color: $color-light3;

    grid-column: 2 / 3;
    grid-row: 2 / 3;
    
    .fcontent__title {
      padding-left: 0.25rem;

      color: $color-dark2;
      font: 500 1.5em 'Oswald', sans-serif;
      text-transform: capitalize;
      text-decoration: underline solid $color-dark2 0.1rem;
    }
    
    .fcontent__paragraph {
      padding-left: 0.25rem;

      color: $color-black1;
      font: 500 1em 'Montserrat', sans-serif;
    }

    .fcontent__list {
      border-left: 0.2rem solid $color-light1;
      padding-left: 0.25rem;

      color: $color-black1;
      font: 500 1em 'Montserrat', sans-serif;

      list-style: none;

      li::before {
        margin-right: 0.15rem;

        color: $color-light2;
        content: "\f101";
        font: 800 1em "FontAwesome";
      }
    }
  }

    /* Footer de la ficha bibliografica */
    .ffooter {
      width: 95%;

      border-radius: 0.5em;
      padding: 0.5rem;

      background-color: $color-base1;
      
      grid-column: 1 / -1;
      grid-row: span 1;

      display: flex;
      justify-content: space-around;
      align-content: baseline;

      color: $color-white1;
      font: 500 1em 'MontSerrat', sans-serif;
      
      .ffooter__label {
        font-weight: 800;
        text-decoration: underline solid $color-white1 0.1rem;
      }
    }
  }
}
