/* Variables */
@import "./master";

/* Imports */
@import "./header";
@import "./footer";
@import "./scrollbar";
 
.wrapper {
  width: 100%;
  min-height: 100vh;
  
  display: grid;
  grid-template: auto 1fr auto / repeat(3, 1fr);
  grid-template-areas: "header  header  header "
                       "content content content"
                       "footer  footer  footer ";
  
  overflow: hidden;
}

/* Main of the Home */
.main { 
  display: grid;
  grid-template: 1fr / repeat(2, 1fr);

  grid-area: content;

 /* Sections in the Main */
 .section {
    margin: 0.5rem;
    padding: 0.15rem;

    grid-column: span 1;
    grid-row: span 1;

    
    /* Title of the section */ 
    .section__title {
      width: 90%;
      
      margin: 0.25rem auto;
      border-radius: 0.15em;
      padding: 0.5rem;
      padding-left: 2rem;

      background-color: $color-base2;

      display: flex;
      align-items: center;
      
      color: $color-white1;
      font: 700 1.8rem 'Oswald', sans-serif;
    }

    /* Content of the section */
    .content {
      display: flex;
      flex-flow: row wrap;

      .content__paragraph {
        width: 85%;

        margin: 0.15rem auto;
        padding: 0.65rem;

        color: $color-black1;
        font: 500 1em 'Montserrat', sans-serif;
      }

      .content__paragraph--borders {
        border-right: 0.05rem solid $color-black2;
        border-left: 0.05rem solid $color-black2;
      }

      /* Import Text Semantics */
      @import "./textsemantics";

    
      /* Lists Styles */
    
      .list {
        margin: 0.25rem;
        margin-left: 1.5rem;
        border-left: 0.15rem solid $color-base1;
        padding: 0.25rem;
        padding-left: 0.25rem;

        
        .list__obj {
          margin: 0.25rem;
          
          color: $color-black1;
          font: 500 1em 'Montserrat', sans-serif;

          list-style: none;

          &::before {
            margin: 0.25rem; 
            border-right: 0.15rem solid $color-base1;
            padding: 0 0.25rem;

            content: "\f101";
            color: $color-base1;
            font: 800 1em "FontAwesome";
          }
        }
      }

      .list--fat {
        margin: 0.25rem;
        margin-left: 1.5rem;
        padding: 0.25rem;
        padding-left: 0.25rem;
        
        .list__obj {
          margin: 0.25rem;
          border-radius: 0.25rem;
          padding: 0.5rem; 
          
          background-color: $color-base1;
          
          color: $color-white1;
          font: 500 1em 'Montserrat', sans-serif;
          
          list-style: none;

          &::before {
            border-left: 0.15rem solid $color-white1;
            padding: 0 0.5rem;

            content: "\f101";
            color: $color-white1;
            font: 800 1em 'FontAwesome';
          }
        }
      }

      ol.list {
        .list__obj {
          list-style-type: inherit;
          list-style-position: inside;

          &::before {
            content: none;
          }

          &::marker {
            color: $color-base1;
            font: 800 1em 'Montserrat', sans-serif;
          }
        }
      }

      ol.list--fat {
        .list__obj {
          list-style-type: inherit;
          list-style-position: inside;

          &::before {
            content: none;
          }

          &::marker {
            color: $color-white1;
            font: 800 1em 'Montserrat', sans-serif;
          }
        }
      }
    
      /* Links Styles */
      
      .content__link {
        width: 60%;

        margin: 0.65rem 1.5rem;
        border-radius: 0.25em;
        padding: 0.25rem;
        padding-left: 1rem;
        
        background-color: $color-base1;

        color: $color-white1;
        font: 300 1.25rem 'Oswald', sans-serif;
        text-decoration: none;
        
        display: block;
        transition-duration: 500ms;
        transition-timing-function: ease;
        transition-property: padding, background-color;

        &:hover {
          padding-right: 20%;
          
          background-color: $color-dark1;
          
          text-decoration: underline solid $color-white1;
        }
      }

      .content__link--small {
        color: $color-dark1;
        font: 700 1em 'Montserrat', sans-serif;
        text-decoration: underline solid $color-dark2 0.15rem;

        transition-duration: 500ms;
        transition-timing-function: ease;
        transition-property: color, text-decoration;

        &:hover {
          color: $color-base1;
          text-decoration: underline dashed $color-base1 0.15rem;
        }
      }

      .content__link--class {
        width: 60%;

        margin: 0.65rem 1.5rem;
        border-radius: 0.25em;
        padding: 0.25rem;
        padding-left: 1rem;
        
        background-color: $color-base1;

        color: $color-white1;
        font: 300 1.25rem 'Oswald', sans-serif;
        text-decoration: none;
      }

      /* Images Style */

      .fig {
        width: auto;

        margin: 0.65rem auto;
        padding-bottom: 0.25rem;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: row wrap;

        .fig-wrapper {
          width: 100%;

          border: 0.15rem solid $color-base1;

          display: flex;
          align-items: center;
          justify-content: center;
        }

        .fig__img { 
          width: 100%;
          height: auto; 

          background-color: $color-base1;

          color: $color-white1;
          font: 600 1em 'Roboto Mono', monospace;
          text-align: justify;
        }

        .fit__cap {
          border: 0.15rem solid $color-base1;
          border-top: none;
          padding: 0.15rem 0.25rem;

          color: $color-black1;
          font: 400 0.85rem 'Montserrat', sans-serif;
          text-align: center;
        }
      }

      /* Obj's Sizes */
      /* Can be images, tables or others */
      .s {width: 20%;} /* Smallest */
      .xs {width: 30%;} /* Very Small */
      .xxs {width: 40%;} /* Small */

      .m {width: 50%;} /* Medium */
      .xm {width: 60%;} /* Medium Big */
      .xxm {width: 70%;} /* Medium Large */

      .l {width: 80%;} /* Large */
      .xl {width: 90%;} /* Very Large */
      .xxl {width: 100%;} /* Max Size */

      /* Alerts in the Sections */

      .alert {
        width: 90%;

        margin: 0 auto;
        border: 0.25rem solid $color-base2;
        border-top-right-radius: 0.75em;

        .alert__title {
          padding: 0.5rem 0.75rem;

          background-color: $color-base2;

          color: $color-white1;
          font: 500 1.5rem 'Oswald', sans-serif;
        }

        .alert__paragraph {
          width: 95%;

          padding: 0.25rem 0.75rem;

          color: $color-black1;
          font: 500 1em 'Montserrat', sans-serif;
        }
      }

      /* Advises in the sections */

      .content-advise {

        &:hover {
          .advise-content {
            display: block;
          }
        }

        .content-advise__text {
          border-radius: 0.5em;
          padding: 10px 20px; 

          background-color: $color-base2;

          color: $color-white1;
          font: 500 20px 'Oswald', sans-serif;

          display: inline-block;
        }

        /* Content of the advise */
        .advise-content {
          margin-inline-start: 5px;
          border-radius: 0.5em; 
          padding: 10px;

          background-color: $color-base2;

          display: none; /* Hidden if not hover advise */
          position: absolute;
          z-index: 1;

          .advise-content__paragraph {
            border-radius: 0.25em;
            padding: 5px;

            background-color: $color-white1;

            color: $color-black1;
            font: 300 14px 'Montserrat', sans-serif;
          }
        }
      }
    }
  }
 
  /* Wellcome Section */
  .section--special {
    border: 0.15rem solid $color-light2;
    border-radius: 0.25em;
    padding: 0 0.75rem;

    background-color: $color-light1;

    .content {
      border: 0.15rem solid $color-light2;
      border-radius: 0.15rem;
      padding: 0.5rem;
      
      background-color: $color-white1;

      .content__paragraph {
        width: 90%;

        .saludo {
          font: 700 1.2rem 'Montserrat', sans-serif;
          text-decoration: underline $color-base2;
        }
      }
    }
  }

  /* Schedule Section */

  .section--schedule {
    grid-column: 1 / -1;
    grid-row: span 1;

    .content {

      /* Calendar Table */
      .calendar {
        width: 95%;
        max-height: 100vh;

        margin: 0.2rem auto;

        display: grid;
        grid-template: auto repeat(8, 1fr) / 5% repeat(5, 1fr);
        grid-template-areas: "time_header cday_1   cday_2   cday_3   cday_4   cday_5  "
                             "time_10     day_1    day_2    day_3    day_4    day_5   "
                             "time_11     day_1    day_2    day_3    day_4    day_5   "
                             "time_12     day_1    day_2    day_3    day_4    day_5   "
                             "time_13     day_1    day_2    day_3    day_4    day_5   "
                             "time_14     day_1    day_2    day_3    day_4    day_5   "
                             "time_15     day_1    day_2    day_3    day_4    day_5   "
                             "time_16     day_1    day_2    day_3    day_4    day_5   "
                             "time_17     day_1    day_2    day_3    day_4    day_5   ";
    
        .time {
          border-bottom: 0.15rem solid $color-base2;

          background-color: $color-dark1;

          color: $color-white1;
          font: 600 0.9rem "Oswald", sans-serif;
          text-align: center;

          display: flex;
          align-items: center;
          justify-content: center;

          grid-column: span 1;
          grid-row: span 1;
        }

        .time--header { grid-area: time_header; }
        .time--10 { grid-area: time_10; }
        .time--11 { grid-area: time_11; }
        .time--12 { grid-area: time_12; }
        .time--13 { grid-area: time_13; }
        .time--14 { grid-area: time_14; }
        .time--15 { grid-area: time_15; }
        .time--16 { grid-area: time_16; }
        .time--17 { grid-area: time_17; }

        /* calendar's Days */
        .calendar__day {
          background-color: $color-base2;
          
          grid-column: span 1;
          grid-row: span 1;
          
          border-right: 0.15rem solid $color-dark1;
          padding: 0.5rem 0;
          
          color: $color-white1;
          font: 800 1.5rem "Oswald", sans-serif;
          text-align: center;
        }

        .calendar__day--1 { grid-area: cday_1; }
        .calendar__day--2 { grid-area: cday_2; }
        .calendar__day--3 { grid-area: cday_3; }
        .calendar__day--4 { grid-area: cday_4; }
        .calendar__day--5 { grid-area: cday_5; }

        .day {
          display: grid;
          grid-template: repeat(8, 1fr) / 1fr;
          align-items: stretch;
          justify-items: stretch;

          .clear {
            content: "";

            border-top: 0.05rem solid $color-white2;
            border-right: 0.05rem solid $color-white2;
            padding: 2rem;

            grid-column: 1 / -1;
            grid-row: span 1;
            
            background-color: $color-white3;
          }
          
          .class {
            padding: 0.5rem;

            grid-column: 1 / -1;
            grid-row: span 1;
            
            display: flex;
            align-items: center;
            justify-content: center;

            transition-property: background-color, color, border-color, text-decoration;
            transition-duration: 250ms;
            transition-timing-function: ease;
            
            .class__link {
              width: 80%;
              height: 75%;
              
              border: 0.15rem solid $color-black1;
              padding: 0.5rem;
              
              font: 600 1em "Montserrat", sans-serif;
              text-align: center;
              text-decoration: none;
              
              display: flex;
              align-items: center;
              justify-content: center;

              transition-property: background-color, color, border-color, text-decoration;
              transition-duration: 250ms;
              transition-timing-function: ease;
            }
          }

          .class--span2 { grid-row: span 2; font-size: 1.25rem; }
          
          @mixin classColor ($base, $dark, $light) {
            background-color: $base;

            .class__link {
              border-color: $dark;
              background-color: $light;
              color: $dark;
            }

            &:hover {
              background-color: $light;

              .class__link {
                border-color: $base;
                background-color: $base;
                color: $light;
              }
            }
          }

          @import "./_classColors";
        }

        .day--1 { grid-area: day_1; }
        .day--2 { grid-area: day_2; }
        .day--3 { grid-area: day_3; }
        .day--4 { grid-area: day_4; }
        .day--5 { grid-area: day_5; }
      }
    }
  }
}

@mixin sectionClassColor ($base, $dark, $light) {
  .section__title { background-color: $base; }

  .content {
  
    /* Lists Styles */
  
    .list {
      border-left-color: $base;
      .list__obj {
        &::before {
          border-right-color: $base;
          color: $base;
        }
      }
    }

    .list--fat { .list__obj { background-color: $base; } }

    ol.list { .list__obj { &::marker { color: $base; } } }
  
    /* Links Styles */
    
    .content__link { 
      background-color: $base;
      &:hover { background-color: $dark; }
    }

    .content__link--small {
      color: $dark;
      text-decoration-color: $dark;

      &:hover {
        color: $base;
        text-decoration-color: $base;
      }
    }
    
    .content__link--class { background-color: $base; }

    /* Images Style */

    .fig {
      .fig-wrapper { border-color: $base; }
      .fig__img { background-color: $base; }
      .fit__cap { border-color: $base; }
    }

    /* Alerts in the Sections */

    .alert {
      border-color: $base;
      .alert__title { background-color: $base; }
    }
  }
}

@import "./sectionClassColors";

@media screen and (max-width: 1048px) {
  .main {
    .section {
      .content {
        .content__link {
          width: 95%;

          margin: 0.5rem 0.25rem;
          padding-left: 0.25rem;
  
          &:hover {
            padding-right: 0.25rem;  
          }
        }
      }
    }
  }
}

@media screen and (max-width: 856px) {
  .main {
    grid-template: repeat(1, 1fr) / 1fr;

    .section {
      .section__title {
        padding-left: 0.5rem;

        text-align: center;

        display: block;
        align-items: none;
      }

      .content {
        .content__link {
          width: 95%;

          margin: 0.65rem 1.5rem;
          padding: 0.25rem;
          padding-left: 1rem;
  
          &:hover {
            padding-right: 0.25rem;  
          }
        }
      }
    }

    .section--schedule {
      .content {
        .calendar {
          width: 70%;
          max-height: initial;

          grid-template: repeat(1, 1fr) / 1fr;
          grid-template-areas: "cday_1"
                               "day_1 "
                               "cday_2"
                               "day_2 "
                               "cday_3"
                               "day_3 "
                               "cday_4"
                               "day_4 "
                               "cday_5"
                               "day_5 ";

          .time { display: none; }

          .calendar__day {
            border: none;
            border-radius: 0.25rem;

            font-size: 1.8rem;
            text-decoration: underline solid $color-white1;
          }

          .day {
            display: block;

            margin-bottom: 0.25rem;
            border: 0.15rem dashed $color-white2;
            border-top: none;

            background-color: $color-white3;

            .clear { display: none; }

            .class {
              width: 85%;
              min-height: 10vh;

              margin: 0.25rem auto;
              border-radius: 0.15rem;

              .class__link {
                width: 90%;
                height: 90%;

                padding: 1rem;
              }

              .class__link,
              .class__link--span2 {
                font-size: 1.5rem;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 486px) {
  .main {
    .section {
      .section__title {
        width: 95%;
      }

      .content {
        .content__paragraph {
          width: 90%;
        }
        
        .content__link {
          width: 95%;

          margin: 0.5rem 0.25rem;
          padding-left: 0.25rem;
  
          &:hover {
            padding-right: 0.25rem;  
          }
        }

        .list {
          margin-left: 0.5rem;
        }

        .alert {
          width: 95%;
        }
      }
    }

    .section--schedule {
      .content {
        .calendar {
          width: 95%;
        }
      }
    }
  }
}
 
