/* GOBAL VARIABLES */

/* Base Colors */
$color-base1: #0000e6; /* Blue */
$color-base2: #0000bb; /* Darker Blue */
$color-light1: #99ccff; /* Sky */
$color-light2: #3399ff; /* Darker Sky */
$color-dark1: #000066; /* Midnight */
$color-dark2: #000044; /* Even Darker Midnight */

/* General Colors */
$color-white1: #fff; /* White */
$color-white2: #cfcfcf; /* Smoke */
$color-white3: #f0f0f0; /* A little bit dark White */

$color-black1: #000; /* Black */
$color-black2: #353535; /* Dark Grey */

/* Class Colors */

/* Química */
$color-qui-base: #944dff;
$color-qui-light: #d1b3ff;
$color-qui-dark: #8533ff;

/* Artes */
$color-art-base: #ff66cc;
$color-art-light: #ffb3e6;
$color-art-dark: #cc0088;
/* Inglés */
$color-ing-base: #ffcc00;
$color-ing-light: #ffe680;
$color-ing-dark: #e6b800;

/* Religión */
$color-reli-base: #ff99ff;
$color-reli-light: #ffccff;
$color-reli-dark: #ff33ff;

/* Tecnología */
$color-tecno-base: #b3d9ff;
$color-tecno-light: #e6f2ff;
$color-tecno-dark: #3396ff;

/* Filosofía */
$color-filo-base: #cc00cc;
$color-filo-light: #ff00ff;
$color-filo-dark: #800080;

/* Gestión Social */
$color-gest-base: #ff751a;
$color-gest-light: #ff944d;
$color-gest-dark: #cc5200;

/* Ed. Física */
$color-edf-base: #66ff66;
$color-edf-light: #b3ffb3;
$color-edf-dark: #00e600;

/* Matemáticas */
$color-mat-base: #4d4dff;
$color-mat-light: #9999ff;
$color-mat-dark: #000099;

/* Español */
$color-esp-base: #ff704d;
$color-esp-light: #ffad99;
$color-esp-dark: #e62e00;

/* Política y Economía */
$color-eco-base: #00a3cc;
$color-eco-light: #1ad1ff;
$color-eco-dark: #008fb3;

/* Física */
$color-fis-base: #ff66b3;
$color-fis-light: #ffb3d9;
$color-fis-dark: #e60073;

/* Ética */
$color-eti-base: #99ccff;
$color-eti-light: #cce5ff;
$color-eti-dark: #3396ff;

/* Articulación */

/* Excel */
$color-exc-base: #009933;
$color-exc-light: #00e64d;
$color-exc-dark: #006622;

/* Programación Básica */
$color-pro-base: #3366ff;
$color-pro-light: #99b3ff;
$color-pro-dark: #001a66;

/* Electrónica Digital */
$color-elec-base: #f9f900;
$color-elec-light: #ffff99;
$color-elec-dark: #999900;

/* Gestión Básica de la Informatíca */
$color-gbi-base: #4dc3ff;
$color-gbi-light: #b3e6ff;
$color-gbi-dark: #006699;

/* Investigación */
$color-ins-base: #a6a6a6;
$color-ins-light: #ccc;
$color-ins-dark: #8c8c8c;

/* Google Fonts */
/*  
 - Montserrat {
  Medium 500 : Medium or big texts. 
  Regular 400 : Medium-small or small texts.
  light 300 : short and small texts. 
  
  Semantics {
   Bold 700 : <strong>s on Medium or big texts.
   Medium 500 : <strong>s on Medium-small or small texts.

   italic | Regular 400 : <em>s, <mark>s in Medium or big texts.
   italic | light 300 : <em>s, <mark>s in Medium-small or small texts.
  }

  --Other uses {
   italic | extra-light 200 : other uses.
   thin 100 : other uses.
   italic | thin 100 : other uses.
  }
 }

 - Oswald {
  Bold 700 : Medium or big titles and Lists Icons.
  Medium 500 : Medium, small, not important titles.
  light 300 : Questions in activities, links.
 }

 - Newsreader {
  light 300 : <i>s, <q>s, <cite>s, <blockquote>s, <abbr>s, <sub>s, <sup>s on Medium, Medium-large or Large objects
  extra-light 200 : the same than the other, but on Medium-small, small objects.
 }

*/

/* The Header */

.doc-header {
 height: 80px;

 padding: 5px;

 background-color: $color-dark1;

 display: flex;
 justify-content: space-around;
 align-items: center;

 /* Title of the Header */
 .header-title {
  width: 800px;

  border: 2px solid $color-base2;
  padding: 10px 0;

  background-color: $color-base1;

  display: flex;
  align-items: baseline;
  justify-content: space-evenly;

  /* Text */
  .header-title__text {
   color: $color-white1;
   font: 700 32px 'Oswald', sans-serif;

   /* Name of The Class */
   span {font-size: 40px;}
  }

  /* Info */
  .header-title--info__text {
   color: $color-light1;
   font: italic 200 12px 'Montserrat', sans-serif;
  }
 }
}


/* Main of the Home */
.doc-main {
 margin-right: 5px;
 margin-left: 5px;
 border-right: 2px outset $color-black2;
 border-left: 2px outset $color-black2;

 display: flex;
 flex-flow: row wrap;
 justify-content: space-between;

 /* Sections in the Main */
 .main-section {
  max-width: 50%;

  margin: 10px;
  border-radius: 0.25em;
  padding: 5px;

  
  /* Title of the section */ 
  .main-section__title {
   width: 90%;
   height: 60px;
   
   margin: 10px;
   border: 5px solid $color-base2;
   border-radius: 0.1em;
   padding-inline-start: 30px;

   background-color: $color-base2;

   display: flex;
   align-items: center;
   
   color: $color-white1;
   font: 700 32px 'Oswald', sans-serif;
  }

  /* Content of the section */
  .section-content {
   display: flex;
   flex-flow: column wrap;

   .section-content__paragraph {
    width: 85%;

    margin: 0 auto;
    border-right: 1px solid $color-black2;
    border-left: 1px solid $color-black2;
    padding: 10px;

    color: $color-black1;
    font: 500 18px 'Montserrat', sans-serif;

    strong {
      font: 700 18px 'Montserrat', sans-serif;
     }
 
     em {
      font: italic 400 18px 'Montserrat', sans-serif;
     }
 
     i {
      font: italic 300 18px 'Newsreader', serif;
     }
 
     abbr {
      border-radius: 0.25em;
      padding: 2px 5px;
 
      background-color: $color-dark1;
 
      color: $color-white1;
      font: italic 200 18px 'Montserrat', sans-serif;
      text-decoration: underline $color-light1;
     }
 
     mark {
      border-radius: 0.25em;
      padding: 2px 5px;
 
      background-color: $color-light1;
     }
   }
   
   .section-content__link {
    width: 60%;
 
    margin: 10px;
    margin-inline-start: 30px;
    border: 2px solid $color-dark1;
    border-radius: 0.25em;
    padding: 5px;
    padding-inline-start: 25px;
    
    background-color: $color-base1;
 
    color: $color-white1;
    font: 300 20px 'Oswald', sans-serif;
    text-decoration: none;
    
    display: block;
    transition-duration: 500ms;
    transition-timing-function: ease;
    transition-property: width, color, background-color;
 
    &:hover {
     width: 80%;
     
     background-color: $color-dark1;
     
     color: $color-light1;
     text-decoration: underline $color-light1;
    }
   }

   /* Alerts in the Sections */

   .section-content__alert {
    width: 90%;

    margin: 0 auto;
    border: 5px solid $color-base2;
    border-radius: 1em;
    padding: 15px;

    background-color: $color-white1;

    color: $color-black1;
    font: 500 16px 'Montserrat', sans-serif;

    .section-content--title__alert {
     width: 60%;

     border: 2px solid $color-dark1;
     border-radius: 0.25em;
     padding: 5px;

     background-color: $color-base2;

     color: $color-white1;
     font: 500 20px 'Oswald', sans-serif;

     display: block;
    }

    strong {
      font: 700 18px 'Montserrat', sans-serif;
     }
 
     em {
      font: italic 400 18px 'Montserrat', sans-serif;
     }
 
     i {
      font: italic 300 18px 'Newsreader', serif;
     }
 
     abbr {
      border-radius: 0.25em;
      padding: 2px 5px;
 
      background-color: $color-dark1;
 
      color: $color-white1;
      font: italic 200 18px 'Montserrat', sans-serif;
      text-decoration: underline $color-light1;
     }
 
     mark {
      border-radius: 0.25em;
      padding: 2px 5px;
 
      background-color: $color-light1;
     }
   }

   /* Lists in the Sections */

   /* Unorder Lists */
   .content-ulist {
    width: 70%;

    margin: 10px;
    margin-inline-start: 20px;
    padding: 10px;

    list-style-position: inside;

    .ulist-object {
     margin: 5px;
     border: 2px outset $color-light1;
     padding: 10px;

     background-color: $color-base2;

     color: $color-white1;
     font: 500 16px 'Montserrat', sans-serif;
    }
   }

   /* Advises in the sections */

   .content-advise {
    align-self: flex-start;

    &:hover {
     .advise-content {
      display: block;
     }
    }

    .content-advise__text {
     border-radius: 0.5em;
     padding: 10px 20px; 

     background-color: $color-base2;

     color: $color-white1;
     font: 500 20px 'Oswald', sans-serif;

     display: inline-block;
    }

    /* Content of the advise */
    .advise-content {
     margin-inline-start: 5px;
     border-radius: 0.5em; 
     padding: 10px;

     background-color: $color-base2;

     display: none; /* Hidden if not hover advise */
     position: absolute;
     z-index: 1;

     .advise-content__paragraph {
      border-radius: 0.25em;
      padding: 5px;

      background-color: $color-white1;

      color: $color-black1;
      font: 300 14px 'Montserrat', sans-serif;
     }
    }
   }
  }
 }
 
 /* Wellcome Section */
 .main-section--wellcome {
  width: 45%;

  border: 2px solid $color-light2;
  border-radius: 0.5em;

  background-color: $color-light1;

  .section-images {
   margin: 10px;
   border-radius: 0.5em;
   padding: 5px;

   .section-images__img {
    width: 100%;
    height: 300px;
   }
  }

  .section-content {
    margin: 5px; 
    border: 2px outset $color-light2;
    border-radius: 1em;
    padding: 10px;
    
    background-color: $color-white1;

   .section-content__paragraph {
    width: 95%;
    border: none;
    padding: 5px;

    .saludo {
     font: 700 20px 'Montserrat', sans-serif;
     text-decoration: underline $color-base2;
    }

    .Bl4ky113 {
     color: $color-base2;
     text-decoration: underline $color-base2;
     text-shadow: 1px 1px 1px $color-black1;
    }

    .commentary {
     color: $color-black2;
     font: 100 10px 'Montserrat', sans-serif;
    }
   }
  }
 }

 /* Schedule Section */

 .main-section--schedule {
  max-width: 95%;

  margin: 10px auto;

  .section-content {

   /* Calendar Table */
   .content-calendar {
    margin: 5px auto;
 
    .content-calendar__day {
     width: 200px;

     padding: 20px;
 
     background-color: $color-base1;
 
     font: 700 32px 'Oswald', sans-serif;
    }
 
    .content-calendar__time {
     padding: 10px;
 
     background-color: $color-light1;
 
     font: 500 20px 'Oswald', sans-serif;
    }
 
    .calendar-data {
     height: 65px;
 
     border-radius: 0.5em;
   
     background-color: $color-white3;
 
     .calendar-data__link {
      height: 60%;
      width: 70%;
 
      margin: 0 auto;
      border: 2px outset transparent;
      border-radius: 0.5em;
      padding: 5px;
      
      font: 500 20px 'Montserrat', sans-serif;
      text-align: center;
      text-decoration: none;
 
      display: flex;
      align-items: center;
      justify-content: center;
     }
    }
 
    .calendar-data[rowspan="2"] {
     height: 130px;
 
     .calendar-data__link {
      font-size: 24px;
     }
    }
 
    .calendar-data--quimica {
     background-color: $color-qui-base;
 
     .calendar-data__link {
      border-color: $color-qui-dark;
 
      background-color: $color-qui-light;
 
      color: $color-qui-dark;
     }
    }
 
    .calendar-data--artes {
     background-color: $color-art-base;
 
     .calendar-data__link {
      border-color: $color-art-dark;
 
      background-color: $color-art-light;
 
      color: $color-art-dark;
     }
    }
 
    .calendar-data--ingles {
     background-color: $color-ing-base;
 
     .calendar-data__link {
      border-color: $color-ing-dark;
 
      background-color: $color-ing-light;
 
      color: $color-ing-dark;
     }
    }
 
    .calendar-data--religion {
     background-color: $color-reli-base;
 
     .calendar-data__link {
      border-color: $color-reli-dark;
 
      background-color: $color-reli-light;
 
      color: $color-reli-dark;
     }
    }
 
    .calendar-data--tecnologia {
     background-color: $color-tecno-base;
 
     .calendar-data__link {
      border-color: $color-tecno-dark;
 
      background-color: $color-tecno-light;
 
      color: $color-tecno-dark;
     }
    }
    
    .calendar-data--filosofia {
     background-color: $color-filo-base;
 
     .calendar-data__link {
      border-color: $color-filo-dark;
 
      background-color: $color-filo-light;
 
      color: $color-filo-dark;
     }
    }
 
    .calendar-data--gestion {
     background-color: $color-gest-base;
 
     .calendar-data__link {
      border-color: $color-gest-dark;
 
      background-color: $color-gest-light;
 
      color: $color-gest-dark;
     }
    }
 
    .calendar-data--edfisica {
     background-color: $color-edf-base;
 
     .calendar-data__link {
      border-color: $color-edf-dark;
 
      background-color: $color-edf-light;
 
      color: $color-edf-dark;
     }
    }
 
    .calendar-data--matematicas {
     background-color: $color-mat-base;
 
     .calendar-data__link {
      border-color: $color-mat-dark;
 
      background-color: $color-mat-light;
 
      color: $color-mat-dark;
     }
    }
 
    .calendar-data--espanol {
     background-color: $color-esp-base;
 
     .calendar-data__link {
      border-color: $color-esp-dark;
 
      background-color: $color-esp-light;
 
      color: $color-esp-dark;
     }
    }
 
    .calendar-data--economia {
     background-color: $color-eco-base;
 
     .calendar-data__link {
      border-color: $color-eco-dark;
 
      background-color: $color-eco-light;
 
      color: $color-eco-dark;
     }
    }
 
    .calendar-data--fisica {
     background-color: $color-fis-base;
 
     .calendar-data__link {
      border-color: $color-fis-dark;
      
      background-color: $color-fis-light;
 
      color: $color-fis-dark;
     }
    }
 
    .calendar-data--etica {
     background-color: $color-eti-base;
 
     .calendar-data__link {
      border-color: $color-eti-dark;
      
      background-color: $color-eti-light;
 
      color: $color-eti-dark;
     }
    }
 
    .calendar-data--excel {
     background-color: $color-exc-base;
 
     .calendar-data__link {
      border-color: $color-exc-dark;
 
      background-color: $color-exc-light;
 
      color: $color-exc-dark;
     }
    }
 
    .calendar-data--programacion {
     background-color: $color-pro-base;
 
     .calendar-data__link {
      border-color: $color-pro-dark;
 
      background-color: $color-pro-light;
 
      color: $color-pro-dark;
     }
    }
 
    .calendar-data--electronica {
     background-color: $color-elec-base;
 
     .calendar-data__link {
      border-color: $color-elec-dark;
 
      background-color: $color-elec-light;
 
      color: $color-elec-dark;
     }
    }
 
    .calendar-data--gestioninformatica {
     background-color: $color-gbi-base;
 
     .calendar-data__link {
      border-color: $color-gbi-dark;
 
      background-color: $color-gbi-light;
 
      color: $color-gbi-dark;
     }
    }
 
    .calendar-data--investigacion {
     background-color: $color-ins-base;
 
     .calendar-data__link {
      border-color: $color-ins-dark;
 
      background-color: $color-ins-light;
 
      color: $color-ins-dark;
     }
    }
   }
  }
 }
}