/* Variables */
@import "./master";

/* Imports */
@import "./header";
@import "./footer";
@import "./scrollbar";
 
.wrapper {
  width: 100%;
  min-height: 100vh;
  
  display: grid;
  grid-template: auto 1fr auto / repeat(3, 1fr);
  grid-template-areas: "header  header  header "
                       "content content content"
                       "footer  footer  footer ";
  
  overflow: hidden;
}

/* Main of the Home */
.main { 
  display: grid;
  grid-template: 1fr / repeat(2, 1fr);

  grid-area: content;

 /* Sections in the Main */
 .section {
  margin: 0.5rem;
  padding: 5px;

  grid-column: span 1;
  grid-row: span 1;

  
  /* Title of the section */ 
  .section__title {
   width: 90%;
   
   margin: 0.25rem auto;
   border-radius: 0.15em;
   padding: 0.5rem;
   padding-left: 3rem;

   background-color: $color-base2;

   display: flex;
   align-items: center;
   
   color: $color-white1;
   font: 700 2.25rem 'Oswald', sans-serif;
  }

  /* Content of the section */
  .content {
    display: flex;
    flex-flow: row wrap;

    .content__paragraph {
      width: 85%;

      margin: 0 2rem 0 auto;
      border-right: 0.05rem solid $color-black2;
      border-left: 0.05rem solid $color-black2;
      padding: 0.65rem;

      color: $color-black1;
      font: 500 1em 'Montserrat', sans-serif;
    }

    /* Import Text Semantics */
    @import "./textsemantics";

  
     /* Lists Styles */
   
    .list {
      margin: 0.25rem;
      margin-left: 1.5rem;
      border-left: 0.15rem solid $color-base1;
      padding: 0.25rem;
      padding-left: 0.25rem;

      
      .list__obj {
        margin: 0.25rem;
        
        color: $color-black1;
        font: 500 1em 'Montserrat', sans-serif;

        list-style: none;

        &::before {
          margin: 0.25rem; 
          border-right: 0.15rem solid $color-base1;
          padding: 0 0.25rem;

          content: "\f101";
          color: $color-base1;
          font: 800 1em "FontAwesome";
        }
      }
    }

    .list--fat {
      margin: 0.25rem;
      margin-left: 1.5rem;
      padding: 0.25rem;
      padding-left: 0.25rem;
      
      .list__obj {
        margin: 0.25rem;
        border-radius: 0.25rem;
        padding: 0.5rem; 
        
        background-color: $color-base1;
        
        color: $color-white1;
        font: 500 1em 'Montserrat', sans-serif;
        
        list-style: none;

        &::before {
          border-left: 0.15rem solid $color-white1;
          padding: 0 0.5rem;

          content: "\f101";
          color: $color-white1;
          font: 800 1em 'FontAwesome';
        }
      }
    }

    ol.list {
      .list__obj {
        list-style-type: inherit;
        list-style-position: inside;

        &::before {
          content: none;
        }

        &::marker {
          color: $color-base1;
          font: 800 1em 'Montserrat', sans-serif;
        }
      }
    }

    ol.list--fat {
      .list__obj {
        list-style-type: inherit;
        list-style-position: inside;

        &::before {
          content: none;
        }

        &::marker {
          color: $color-white1;
          font: 800 1em 'Montserrat', sans-serif;
        }
      }
    }
   
    /* Links Styles */
    
    .content__link {
      width: 60%;

      margin: 0.65rem 1.5rem;
      border-radius: 0.25em;
      padding: 0.25rem;
      padding-left: 1rem;
      
      background-color: $color-base1;

      color: $color-white1;
      font: 300 1.25rem 'Oswald', sans-serif;
      text-decoration: none;
      
      display: block;
      transition-duration: 500ms;
      transition-timing-function: ease;
      transition-property: padding, background-color;

      &:hover {
        padding-right: 20%;
        
        background-color: $color-dark1;
        
        text-decoration: underline solid $color-white1;
      }
    }

    .content__link--small {
      color: $color-black1;
      font: 400 1em 'Montserrat', sans-serif;
      text-decoration: none;

      &:hover {
        color: $color-base1;
        text-decoration: under solid $color-base1
      }
    }

    /* Images Style */

    .fig {
      width: auto;

      margin: 0.65rem auto;
      padding-bottom: 0.25rem;

      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: row wrap;

      .fig-wrapper {
        width: 100%;

        border: 0.15rem solid $color-base1;

        display: flex;
        align-items: center;
        justify-content: center;
      }

      .fig__img { 
        width: 100%;
        height: auto; 

        background-color: $color-base1;

        color: $color-white1;
        font: 600 1em 'Roboto Mono', monospace;
        text-align: justify;
      }

      .fit__cap {
        border: 0.15rem solid $color-base1;
        border-top: none;
        padding: 0.15rem 0.25rem;

        color: $color-black1;
        font: 400 0.85rem 'Montserrat', sans-serif;
        text-align: center;
      }
    }

    /* Obj's Sizes */
    /* Can be images, tables or others */
    .s {width: 20%;} /* Smallest */
    .xs {width: 30%;} /* Very Small */
    .xxs {width: 40%;} /* Small */

    .m {width: 50%;} /* Medium */
    .xm {width: 60%;} /* Medium Big */
    .xxm {width: 70%;} /* Medium Large */

    .l {width: 80%;} /* Large */
    .xl {width: 90%;} /* Very Large */
    .xxl {width: 100%;} /* Max Size */

    /* Alerts in the Sections */

    .alert {
      width: 90%;

      margin: 0 auto;
      border: 0.25rem solid $color-base2;
      border-top-right-radius: 0.75em;

      .alert__title {
        padding: 0.5rem 0.75rem;

        background-color: $color-base2;

        color: $color-white1;
        font: 500 1.5rem 'Oswald', sans-serif;
      }

      .alert__paragraph {
        width: 95%;

        padding: 0.75rem;

        color: $color-black1;
        font: 500 1em 'Montserrat', sans-serif;
      }
    }

    /* Advises in the sections */

    .content-advise {

      &:hover {
        .advise-content {
          display: block;
        }
      }

      .content-advise__text {
        border-radius: 0.5em;
        padding: 10px 20px; 

        background-color: $color-base2;

        color: $color-white1;
        font: 500 20px 'Oswald', sans-serif;

        display: inline-block;
      }

      /* Content of the advise */
      .advise-content {
        margin-inline-start: 5px;
        border-radius: 0.5em; 
        padding: 10px;

        background-color: $color-base2;

        display: none; /* Hidden if not hover advise */
        position: absolute;
        z-index: 1;

        .advise-content__paragraph {
          border-radius: 0.25em;
          padding: 5px;

          background-color: $color-white1;

          color: $color-black1;
          font: 300 14px 'Montserrat', sans-serif;
        }
      }
    }
  }
}
 
 /* Wellcome Section */
 .section--wellcome {
  width: 45%;

  border: 2px solid $color-light2;
  border-radius: 0.5em;

  background-color: $color-light1;

  .section-images {
    width: 90%;
    margin: 10px;
    border-radius: 0.5em;
    padding: 5px;

    .section-images__img {
      width: 100%;
      height: 300px;
    }
  }

  .section-content {
    margin: 5px; 
    border: 2px outset $color-light2;
    border-radius: 1em;
    padding: 10px;
    
    background-color: $color-white1;

   .section-content__paragraph {
    width: 95%;
    border: none;
    padding: 5px;

    .saludo {
     font: 700 20px 'Montserrat', sans-serif;
     text-decoration: underline $color-base2;
    }

    .Bl4ky113 {
     color: $color-base2;
     text-decoration: underline $color-base2;
     text-shadow: 1px 1px 1px $color-black1;
    }

    .commentary {
     color: $color-black2;
     font: 100 10px 'Montserrat', sans-serif;
    }
   }
  }
 }

 /* Schedule Section */

 .main-section--schedule {
  max-width: 95%;

  margin: 10px auto;

  .section-content {

   /* Calendar Table */
   .content-calendar {
    margin: 5px auto;
 
    .content-calendar__day {
     width: 200px;

     padding: 20px;
 
     background-color: $color-base1;
 
     font: 700 32px 'Oswald', sans-serif;
    }
 
    .content-calendar__time {
     padding: 10px;
 
     background-color: $color-light1;
 
     font: 500 20px 'Oswald', sans-serif;
    }
 
    .calendar-data {
     height: 65px;
 
     border-radius: 0.5em;
   
     background-color: $color-white3;

     transition-duration: 500ms;
     transition-timing-function: ease-in-out;
     transition-property: background-color, color, border-color, width;
 
     .calendar-data__link {
      height: 60%;
      width: 70%;
 
      margin: 0 auto;
      border: 2px outset transparent;
      border-radius: 0.5em;
      padding: 5px;
      
      font: 500 20px 'Montserrat', sans-serif;
      text-align: center;
      text-decoration: none;
 
      display: flex;
      align-items: center;
      justify-content: center;

      transition: inherit;
     }
    }
 
    .calendar-data[rowspan="2"] {
     height: 130px;
 
     .calendar-data__link {
      font-size: 24px;
     }
    }
 
    .calendar-data--quimica {
     background-color: $color-qui-base;
 
     .calendar-data__link {
      border-color: $color-qui-dark;
 
      background-color: $color-qui-light;
 
      color: $color-qui-dark;
     }

     &:hover {
      background-color: $color-qui-light;

      .calendar-data__link {
       border-color: $color-qui-base;

       background-color: $color-qui-base;

       color: $color-qui-light;
      }
     }
    }
 
    .calendar-data--artes {
     background-color: $color-art-base;
 
     .calendar-data__link {
      border-color: $color-art-dark;
 
      background-color: $color-art-light;
 
      color: $color-art-dark;
     }

     &:hover {
      background-color: $color-art-light;

      .calendar-data__link {
       border-color: $color-art-base;

       background-color: $color-art-base;

       color: $color-art-light;
      }
     }
    }
 
    .calendar-data--ingles {
     background-color: $color-ing-base;
 
     .calendar-data__link {
      border-color: $color-ing-dark;
 
      background-color: $color-ing-light;
 
      color: $color-ing-dark;
     }

     &:hover {
      background-color: $color-ing-light;

      .calendar-data__link {
       border-color: $color-ing-base;

       background-color: $color-ing-base;

       color: $color-ing-light;
      }
     }
    }
 
    .calendar-data--religion {
     background-color: $color-reli-base;
 
     .calendar-data__link {
      border-color: $color-reli-dark;
 
      background-color: $color-reli-light;
 
      color: $color-reli-dark;
     }

     &:hover {
      background-color: $color-reli-light;

      .calendar-data__link {
       border-color: $color-reli-base;

       background-color: $color-reli-base;

       color: $color-reli-light;
      }
     }
    }
 
    .calendar-data--tecnologia {
     background-color: $color-tecno-base;
 
     .calendar-data__link {
      border-color: $color-tecno-dark;
 
      background-color: $color-tecno-light;
 
      color: $color-tecno-dark;
     }

     &:hover {
      background-color: $color-tecno-light;

      .calendar-data__link {
       border-color: $color-tecno-base;

       background-color: $color-tecno-base;

       color: $color-tecno-light;
      }
     }
    }
    
    .calendar-data--filosofia {
     background-color: $color-filo-base;
 
     .calendar-data__link {
      border-color: $color-filo-dark;
 
      background-color: $color-filo-light;
 
      color: $color-filo-dark;
     }

     &:hover {
      background-color: $color-filo-light;

      .calendar-data__link {
       border-color: $color-filo-base;

       background-color: $color-filo-base;

       color: $color-filo-light;
      }
     }
    }
 
    .calendar-data--gestion {
     background-color: $color-gest-base;
 
     .calendar-data__link {
      border-color: $color-gest-dark;
 
      background-color: $color-gest-light;
 
      color: $color-gest-dark;
     }

     &:hover {
      background-color: $color-gest-light;

      .calendar-data__link {
       border-color: $color-gest-base;

       background-color: $color-gest-base;

       color: $color-gest-light;
      }
     }
    }
 
    .calendar-data--edfisica {
     background-color: $color-edf-base;
 
     .calendar-data__link {
      border-color: $color-edf-dark;
 
      background-color: $color-edf-light;
 
      color: $color-edf-dark;
     }

     &:hover {
      background-color: $color-edf-light;

      .calendar-data__link {
       border-color: $color-edf-base;

       background-color: $color-edf-base;

       color: $color-edf-light;
      }
     }
    }
 
    .calendar-data--matematicas {
     background-color: $color-mat-base;
 
     .calendar-data__link {
      border-color: $color-mat-dark;
 
      background-color: $color-mat-light;
 
      color: $color-mat-dark;
     }

     &:hover {
      background-color: $color-mat-light;

      .calendar-data__link {
       border-color: $color-mat-base;

       background-color: $color-mat-base;

       color: $color-mat-light;
      }
     }
    }
 
    .calendar-data--espanol {
     background-color: $color-esp-base;
 
     .calendar-data__link {
      border-color: $color-esp-dark;
 
      background-color: $color-esp-light;
 
      color: $color-esp-dark;
     }

     &:hover {
      background-color: $color-esp-light;

      .calendar-data__link {
       border-color: $color-esp-base;

       background-color: $color-esp-base;

       color: $color-esp-light;
      }
     }
    }
 
    .calendar-data--economia {
     background-color: $color-eco-base;
 
     .calendar-data__link {
      border-color: $color-eco-dark;
 
      background-color: $color-eco-light;
 
      color: $color-eco-dark;
     }

     &:hover {
      background-color: $color-eco-light;

      .calendar-data__link {
       border-color: $color-eco-base;

       background-color: $color-eco-base;

       color: $color-eco-light;
      }
     }
    }
 
    .calendar-data--fisica {
     background-color: $color-fis-base;
 
     .calendar-data__link {
      border-color: $color-fis-dark;
      
      background-color: $color-fis-light;
 
      color: $color-fis-dark;
     }

     &:hover {
      background-color: $color-fis-light;

      .calendar-data__link {
       border-color: $color-fis-base;

       background-color: $color-fis-base;

       color: $color-fis-light;
      }
     }
    }
 
    .calendar-data--etica {
     background-color: $color-eti-base;
 
     .calendar-data__link {
      border-color: $color-eti-dark;
      
      background-color: $color-eti-light;
 
      color: $color-eti-dark;
     }

     &:hover {
      background-color: $color-eti-light;

      .calendar-data__link {
       border-color: $color-eti-base;

       background-color: $color-eti-base;

       color: $color-eti-light;
      }
     }
    }
 
    .calendar-data--excel {
     background-color: $color-exc-base;
 
     .calendar-data__link {
      border-color: $color-exc-dark;
 
      background-color: $color-exc-light;
 
      color: $color-exc-dark;
     }

     &:hover {
      background-color: $color-exc-light;

      .calendar-data__link {
       border-color: $color-exc-base;

       background-color: $color-exc-base;

       color: $color-exc-light;
      }
     }
    }
 
    .calendar-data--programacion {
     background-color: $color-pro-base;
 
     .calendar-data__link {
      border-color: $color-pro-dark;
 
      background-color: $color-pro-light;
 
      color: $color-pro-dark;
     }

     &:hover {
      background-color: $color-pro-light;

      .calendar-data__link {
       border-color: $color-pro-base;

       background-color: $color-pro-base;

       color: $color-pro-light;
      }
     }
    }
 
    .calendar-data--electronica {
     background-color: $color-elec-base;
 
     .calendar-data__link {
      border-color: $color-elec-dark;
 
      background-color: $color-elec-light;
 
      color: $color-elec-dark;
     }

     &:hover {
      background-color: $color-elec-light;

      .calendar-data__link {
       border-color: $color-elec-base;

       background-color: $color-elec-base;

       color: $color-elec-light;
      }
     }
    }
 
    .calendar-data--gestioninformatica {
     background-color: $color-gbi-base;
 
     .calendar-data__link {
      border-color: $color-gbi-dark;
 
      background-color: $color-gbi-light;
 
      color: $color-gbi-dark;
     }

     &:hover {
      background-color: $color-gbi-light;

      .calendar-data__link {
       border-color: $color-gbi-base;

       background-color: $color-gbi-base;

       color: $color-gbi-light;
      }
     }
    }
 
    .calendar-data--investigacion {
     background-color: $color-ins-base;
 
     .calendar-data__link {
      border-color: $color-ins-dark;
 
      background-color: $color-ins-light;
 
      color: $color-ins-dark;
     }

     &:hover {
      background-color: $color-ins-light;

      .calendar-data__link {
       border-color: $color-ins-base;

       background-color: $color-ins-base;

       color: $color-ins-light;
      }
     }
    }
   }
  }
 }
}