/* GOBAL VARIABLES */

/* Base Colors */
$color-base1: #0000e6; /* Blue */
$color-base2: #0000bb; /* Darker Blue */
$color-light1: #99ccff; /* Sky */
$color-light2: #3399ff; /* Darker Sky */
$color-dark1: #000066; /* Midnight */
$color-dark2: #000044; /* Even Darker Midnight */

/* General Colors */
$color-white1: #fff; /* White */
$color-white2: #cfcfcf; /* Smoke */

$color-black1: #000; /* Black */
$color-black2: #353535; /* Dark Grey */

/* Google Fonts */
/*  
 - Oswald [Bold | 700] (Titles), sans-serif
 
 - Oswald [Medium | 500] (Small Titles), sans-serif

 - Oswald [Light | 300] (Semi Titles), sans-serif

 - Montserrat [Medium | 500] (Paragraphs), sans-serif

 - Montserrat [Regular | 400] (Small Paragraphs), sans-serif

 - Newsreader [Medium, Regular | 300, 200 | italic] (Italic Spans), serif

 - Montserrat [Light, Extralight | 300, 200 | italic] (Emphrased Spans), sans-serif
*/

/* ----- Header Style ----- */

.doc-header {
 height: 80px;

 padding: 5px;

 background-color: $color-dark1;

 display: flex;
 justify-content: space-around;
 align-items: center;

 /* Title of the Header */
 .header-title {
  width: 800px;

  border: 2px solid $color-base2;
  padding: 10px 0;

  background-color: $color-base1;

  display: flex;
  align-items: baseline;
  justify-content: space-evenly;

  /* Text */
  .header-title__text {
   color: $color-white1;
   font: 700 32px 'Oswald', sans-serif;

   /* Name of The Class */
   span {font-size: 36px;}
  }

  /* Info */
  .header-title--info__text {
   color: $color-light1;
   font: italic 200 12px 'Montserrat', sans-serif;
  }
 }
}

/* Main Content of the Doc */

.doc-main {
 width: 95%;

 margin: 5px auto; 
 border: 2px outset $color-black2;
 padding: 5px 10px;

 display: flex;
 justify-content: space-evenly;
 flex-flow: row wrap;

 /* Index of the Main */

 .main-nav {
  width: 25%;

  margin: 5px 0;
  border: 2px solid $color-dark1;
  border-radius: 0.25em;
  padding: 10px;

  background-color: $color-dark2;
 }

 /* Sections in the Main */

 .main-section { 
  width: 70%;

  margin: 5px 0;
  border: 5px solid $color-base1;
  border-radius: 0.25em;
  padding: 10px;

  background-color: $color-base2;
 }

 /* Home Section */
 .main-section--home {

  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;

  .main-section--home__className {
   min-width: 80%;
   max-width: 100%;

   margin: 5px;
   border: 4px solid $color-dark1;
   border-radius: 0.25em;
   padding: 10px;

   background-color: $color-dark2;

   color: $color-white1;
   font: 700 26px 'Oswald', sans-serif;
   text-align: center;
  }

  .home-table {
   width: 45%;

   border: 2px outset $color-base1;
   border-radius: 0.5em;
   padding: 15px;

   background-color: $color-white1;

   .home-table__title {
    border-radius: 0.5em;
    padding: 15px;

    background-color: $color-base1;
    
    color: $color-white1;
    font: 500 24px 'Oswald', sans-serif;
   }

   .home-table__category {
    width: 95px;

    border-radius: 0.5em;
    padding: 10px;

    background-color: $color-light2;

    color: $color-black1;
    font: 500 16px 'Oswald', sans-serif;
    text-align: center;
   }
   
   .home-table__info {
    color: $color-black1;
    font: 400 15px 'Montserrat', sans-serif;
    text-align: center;
   }
  }

  /* List on the home section */

  .home-ulist {
   width: 45%;

   border: 2px outset $color-base1;
   border-radius: 0.5em;
   padding: 15px;

   background-color: $color-white1;

   flex-grow: 1;

   list-style-type: square;

   .home-ulist__title {
    border-radius: 0.5em;
    padding: 5px;

    background-color: $color-base1;
    
    color: $color-white1;
    font: 500 24px 'Oswald', sans-serif;
    font-weight: 800;
   }

   .home-ulist--semi__title {
    max-width: 80%;

    margin: 2px;
    margin-inline-start: 15px;
    border-radius: 0.5em;
    padding: 5px;

    background-color: $color-light2;

    color: $color-black1;
    font: 500 15px 'Oswald', sans-serif;
   }

   .ulist-object {
    margin-inline-start: 20px;
    padding: 2px;

    font: 400 14px 'Montserrat', sans-serif;
    text-align: justify;

    &::marker{
     color: $color-light2; 
    }
   }
  }
 }


 /* Articles in the Main */

 .main-article {
  width: 90%;

  margin: 5px 0;

  /* Class Title */
  .main-article__title {
   width: 80%;
   height: 60px;

   border-top-right-radius: 0.25em;
   border-top-left-radius: 0.25em;
   border-bottom-right-radius: 0.25em;

   background-color: $color-dark1;

   display: flex;
   align-items: center;
   justify-content: center;

   color: $color-white1;
   font: 700 32px 'Oswald', sans-serif;
  }

  /* Date of the Class */
  .main-article__date {
   width: 50%;
   height: 30px;

   border-bottom-left-radius: 0.25em;
   border-bottom-right-radius: 0.25em;

   background-color: $color-base1;

   display: flex;
   align-items: center;
   justify-content: center; 

   color: $color-white1;
   font: 300 24px 'Oswald', sans-serif;
  }

  /* Content-Elements in the Article */
  .article-content {

   /* Class Notes */
   .article-content__paragraph {
    width: 95%;

    margin: 10px auto;
    padding: 0 5px;

    text-align: justify;
    font: 500 18px 'Montserrat', sans-serif;

    em {
     font: italic 400 18px 'Montserrat', sans-serif;
    }

    i {
     font: italic 500 18px 'Newsreader', serif;
    }
   }

   /* Titles in the Class Notes*/
   .article-content__title {
    margin: 10px;
    padding: 5px;

    color: $color-dark2;
    font: 500 28px 'Oswald', sans-serif;
   }

   .article-content__semititle {
    margin: 10px;

    color: $color-dark1;
    font: 300 22px 'Oswald', sans-serif;
   }

   /* Images in Class Notes */

   /* All Images */
   .content-images {
    margin: 5px auto;
    padding: 5px;

    border: 2px solid $color-base1;
    border-radius: 0.25em;

    background-color: $color-base2;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    .content-images__quote {
     width: 80%;

     border: 2px solid $color-base1;
     border-radius: 0.5em;

     background-color: $color-white1;

     text-align: center;
     font: 400 12px 'Montserrat', sans-serif;

     cite {
      font: italic 300 12px 'Newsreader', serif;
     }
    }

   }
   
   /* Test Image */
   .content-images--test {
    width: 500px;
    
    .content-images__img {
     width: 500px;
     height: 200px;
    }

   }

   /* LawGexx image */
   .content-images--lawgeex {
    width: 500px;

    .content-images__img {
     width: 500px;
     height: 200px;
    }
   }

   /* MapaMental Compuertas Lógicas */
   .content-images--mm-compuertasLogicas {
    width: 1100px;

    .content-images__img {
     width: 1100px;
     height: 400px;
    }
   }

   /* MapaMental "dormir" Lideres Sociales */
   .content-images--mm-lideresSociales {
    width: 1100px;

    .content-images__img {
     width: 1100px;
     height: 400px;
    }
   }

   /* Angles on Matematic */
   .content-images--angles {
    width: 400px;

    .content-images__img {
     width: 400px;
     height: 250px;
    }
   }

   /* "Angulos de 90°" que duelen */
   .content-images--angulosqueduelen {
    width: 800px;

    .content-images__img {
     width: 800px;
     height: 400px;
    }
   }
   
   /* Float Images */
   .content-images--right {
    float: right; 
    margin: 10px;
   }
   .content-images--left {
    float: left; 
    margin: 10px;
   }

   /* Asides in the Article */

   .content-aside {
    width: 30%;

    border: 5px solid $color-base2;
    border-radius: 0.25em;
    padding: 10px;

    background-color: $color-dark2;

    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;

    /* Title of the Aside */
    .content-aside__title {
     width: 85%;

     margin: 5px;
     border: 2px solid $color-base1;
     border-radius: 0.5em;
     padding: 5px;

     background-color: $color-base2;

     color: $color-white1;
     font: 300 18px 'Oswald', sans-serif;
    }

    /* Paragraphs in the Aside */ 
    .content-aside__paragraph {
     width: 95%;

     margin: 5px;
     border: 2px solid $color-base1;
     border-radius: 0.25em;
     padding: 5px;

     background-color: $color-white1;

     font: 400 16px 'Montserrat', sans-serif;
    }

    /* Images in the Aside */
    .aside-image {
     margin: 5px auto;
     padding: 5px;
 
     border: 2px solid $color-base1;
     border-radius: 0.25em;

     background-color: $color-base2;
 
     display: flex;
     flex-flow: row wrap;
     justify-content: center;

     .aside-image__quote {
      width: 90%;

      border: 2px solid $color-base1;
      border-radius: 0.5em;

      background-color: $color-white1;

      text-align: center;
      font: 400 15px 'Montserrat', sans-serif;
     }
    }

    /* TEST image */
    .aside-image--test {
     width: 300px;

     .aside-image__img {
      width: 300px;
      height: 150px;
     }
    }

    /* Tables in the Aside */
    .aside-table {
     border: 5px solid $color-base1;
     border-collapse: collapse;
     padding: 5px;

     background-color: $color-white1;

     .aside-table__header {
      border: 2px solid $color-dark1;
      padding: 5px;

      background-color: $color-light2;

      text-align: center;
     }

     .aside-table--long__header {
      background-color: $color-base2;

      color: $color-white1;
      font-size: 20px;
      font-weight: 800;
     }

     .aside-table__data {
      border: 2px solid $color-dark1;
      padding: 2px;

      text-align: center;
     }
    }
   }

   /* Aside Floats */
   .content-aside--right {
    float: right;
    margin: 10px;
   }

   .content-aside--left {
    float: left;
    margin: 10px;
   }

   /* Tables in the Article */

   .content-table {
    width: 70%;

    margin: 10px auto;
    border: 5px solid $color-dark2;
    border-collapse: collapse;
    border-radius: 0.5em;
    padding: 5px;

    .content-table__header {
     border: 2px solid $color-dark1;
     padding: 10px;

     background-color: $color-light2;

     text-align: center;
     font-size: 20px;
     font-weight: 600;
    }

    .content-table--long__header {
     padding: 15px;

     background-color: $color-base2;

     color: $color-white1;
     font-size: 28px;
     font-weight: 1000;
    }

    .content-table--question__header {
     padding: 5px;

     background-color: $color-white1;

     font-size: 18px;
    }

    .content-table__data {
     border: 2px solid $color-dark1;
     padding: 5px;

     text-align: center;
    }
   }

   /* Lists in the Articles */

   /* Unordered */
   .content-ulist {
    margin: 10px;
    margin-inline-start: 25px;

    .content-list__title {
     margin: 5px;
     padding-inline-start: 15px;

     color: $color-dark2;
     font: 500 24px 'Oswald', sans-serif;
    }

    .content-list--semi__title {
     margin: 5px;
     padding-inline-start: 15px;
     
     color: $color-dark1;
     font: 500 18px 'Oswald', sans-serif;
    }

    .list-object {
     margin: 5px;
     padding-inline-start: 10px ;

     color: $color-black1;
     font: 400 16px 'Montserrat', sans-serif;

     &::marker {
      color: $color-light2;
      font: 700 20px 'Oswald', sans-serif;
     }
    }
   }

   /* Diferent Markers for the Ulist */

   /* Arrows ">>>" */
   .content-ulist--arrows {

    .list-object {

     &::marker {content: '>>>';}
    }
   }

   /* long Arrow "---->" */
   .content-ulist--longarrow {

    .list-object {

     &::marker {content: "---->";}
    }
   }

   /* Lines "---" */
   .content-ulist--lines {

    .list-object {

     &::marker {content: '---';}
    }
   }

   /* Diamond "<>" */
   .content-ulist--diamond {

    .list-object {

     &::marker {content: '<>'}
    }
   }

   /* Ordered */
   .content-olist {
    margin: 10px;
    margin-inline-start: 25px;

    .content-list__title {
     margin: 5px;
     padding-inline-start: 15px;

     color: $color-dark2;
     font: 500 24px 'Oswald', sans-serif;
    }

    .content-list--semi__title {
     margin: 5px;
     padding-inline-start: 15px;
     
     color: $color-dark1;
     font: 500 18px 'Oswald', sans-serif;
    }

    .list-object {
     margin: 5px;
     padding-inline-start: 10px ;

     color: $color-black1;
     font: 400 16px 'Montserrat', sans-serif;

     &::marker {
      padding: 2px 5px;

      color: $color-light2;
      font: 700 18px 'Oswald', sans-serif;
     }
    }
   }

   /* Ordered Alphabetical */
   .content-olist[type="a"], .content-olist[type="A"] {
    margin: 10px;
    margin-inline-start: 25px;

    .list-object {

     mark {
      padding: 2px 10px;
      border-radius: 0.25em;

      background-color: $color-light2;

      color: $color-black1;
      font: italic 300 16px 'Montserrat', sans-serif;
     }
    }
   }
   
   /* GeoGebra iFrames */
   .content-geogebra {
    width: 800px;
    height: 400px;

    margin: 5px auto;
    border: 2px outset $color-light2;
    border-radius: 0.5em;
   }

   /* Activities in the Articles */
   .content-activity {

    /* Reset the Number of the Tasks */
    counter-reset: section;
    list-style-type: none;

    /* Title of the Activities */
    .content-activity__title {
     width: 100%;
     height: 60px;

     margin: 5px auto;
     border: 2px solid $color-dark1;
     border-radius: 0.25em;
     padding: 5px;

     background-color: $color-dark2;

     color: $color-white1;
     font: 700 32px 'Oswald', sans-serif;

     display: flex;
     align-items: center;
     justify-content: center;
    }

    /* Info of the Activities */
    .activity-info {
       
     /* Info of the Student */
     .info-table{
      width: 80%;
      
      margin: 10px auto;
      border: 4px solid $color-dark2;
      border-collapse: collapse;
      border-radius: 0.5em;
         
      .info-table__header {
       border: 2px solid $color-dark1;
       padding: 5px;
        
       background-color: $color-light2;
        
       font-size: 18px;
       text-align: center;
      }
      .info-table__data {
       border: 2px solid $color-dark1;
       padding: 5px;
    
       font-size: 18px;
       text-align: center;
      }
     }
    }

    /* Activities Taks, To Do List, Etc */
    .content-activity__task {
     margin: 5px;
     border-right: 3px solid $color-base1;
     border-left: 3px solid $color-base1;
     border-radius: 0.25em;
     padding: 5px;

     font: 300 20px 'Oswald', sans-serif;

     &::before {
      counter-increment: section;
      content: "Punto N°" counter(section) ". ";
     }
    }
   }
  }
 }
}
