/* Variables */
@import "./master";

/* Scroll Bar in the document */

::-webkit-scrollbar {
 width: 1.2vw;
 height: 1.8vh;

}

::-webkit-scrollbar-track {
 border-radius: 0.25em;

 background-color: $color-light3;
}

::-webkit-scrollbar-thumb {
 border-radius: 0.25em;
 
 background-color: $color-light1;

 &:hover {
  background-color: $color-light2;
 }
}

.wrapper {
 width: 100%;

 display: grid;

 grid-template: auto 1fr auto / repeat(3, 1fr);

 grid-template-areas: "header header header"
                      "content content content"
                      "footer footer footer";
 overflow: hidden;
}

/* ----- Header Style ----- */

.header {
 padding: 0.25em;

 background-color: $color-dark1;

 display: flex;
 justify-content: space-evenly;
 align-items: center;

 grid-column: span 3;
 grid-row: span 1;
 grid-area: header;

 /* Buttons in the Header */
 .button {
  margin: 0 0.5em;
  border: none;
  border-radius: 0.25em;
  padding: 0.5em;

  background-color: $color-base1;

  display: block;

  i {
   color: $color-white1;
   font-size: 4.5em;
   text-align: center;
  }
 }

 /* Title of the Header */
 .title {
  width: 70vw;

  border-radius: 0.25em;
  padding: 0.6em 0.25em;

  background-color: $color-base1;

  display: flex;
  align-items: baseline;
  justify-content: space-evenly;

  /* Text */
  .title__text {
   color: $color-white1;
   font: 700 1.8em 'Oswald', sans-serif;
   text-align: center;

   /* Name of The Class */
   span { font-size: 1.2em; }
  }

  /* Info */
  .title--info__text {
   color: $color-white1;
   font: italic 400 1em 'Montserrat', sans-serif;
  }
 }
}

/* Main Content of the Doc */

.main {
 width: 95%;

 margin: 0 auto; 
 border-left: 0.1em solid $color-black1;
 border-right: 0.1em solid $color-black1;
 padding: 0.35em 0.7em;

 box-shadow: 0 0 0.12em $color-black3;

 display: flex;
 justify-content: space-evenly;
 flex-flow: row wrap;

 grid-column: span 3;
 grid-row: span 1;
 grid-area: content;

 /* Nav and ClassInfo Wrapper */

 .nav-classinfo-wrapper {
  width: 100%;
  height: auto;

  padding: 0.5em;

  display: grid;

  grid-template: repeat(1, auto) / minmax(auto, 35%) 1fr;
  grid-gap: 0.5em;
 }

 /* Index of the Main */

 .nav {
  border-radius: 0.25em;
  padding: 0.6em;

  background-color: $color-dark2;

  grid-column: span 1;
  grid-row: span 1;

  .nav__title {
   color: $color-white1;
   font: 500 1.5em 'Oswald', sans-serif;
  }

  .nav-list {
   padding: 0.4em;
   padding-left: 0.8em;
   border: 0.125em dashed $color-base1;

   background-color: $color-dark1;
   
   list-style: none;

   .nav-list__link {
    font: 400 1em 'Montserrat', sans-serif;

    display: flex;
    align-items: center;

    &::before { 
     margin-right: 0.5em; 

     content: "\f111";
     color: $color-base1; 
     font: 500 0.5em 'FontAwesome';
    }

    a {
     color: $color-white2;
     text-decoration: none;
    }

    &:hover {
     &::before { color: $color-light1; }
     
     a {
      color: $color-white1;
      text-decoration: underline dashed $color-light1 0.15em;
     }
    }
   }
  }

  .nav-sublist {
   padding: 0.4em;
   padding-left: 1em;

   background-color: $color-dark1;
   
   list-style: none;

   .nav-sublist__link {
    padding-left: 0.4em;
    border-left: 0.15em solid $color-base1;

    font: 400 1em 'Montserrat', sans-serif;

    display: flex;
    align-items: center;
    
    &::before { 
     margin-right: 0.5em;

     content: "\f10c";
     color: $color-base1; 
     font: 500 0.5em 'FontAwesome';
    }
    
    a {
     color: $color-white2;
     text-decoration: none;
    }
    
    &:hover {
     &::before { color: $color-light1; }

     a{
      color: $color-white1;
      text-decoration: underline dashed $color-light1 0.15em;
     }
    }
   }
  }
 }
 
 /* Sections in the Main */

 .section { 
  border-radius: 0.25em;
  padding: 0.75em;

  background-color: $color-base2;

  display: grid;

  grid-template: repeat(2, auto) 1fr / repeat(2, 1fr);
  grid-gap: 0.5em;

  .section__className {
   margin: 0.35em;
   border-radius: 0.25em;
   padding: 0.6em;

   background-color: $color-dark2;

   grid-column: span 2;
   grid-row: span 1;
   
   color: $color-white1;
   font: 700 1.8em 'Oswald', sans-serif;
   text-align: center;
  }

  .table {
   border-radius: 0.5em;
   padding: 0.65em;

   background-color: $color-white1;

   grid-column: span 2;
   grid-row: span 1;

   .table__title {
    border-radius: 0.5em;
    padding: 0.3em;

    background-color: $color-base1;
    
    color: $color-white1;
    font: 500 1.6em 'Oswald', sans-serif;
   }

   .table__category {
    border-radius: 0.5em;
    padding: 0.3em;

    background-color: $color-light2;

    color: $color-black1;
    font: 500 1.1em 'Oswald', sans-serif;
    text-align: center;
   }
   
   .table__data {
    border-radius: 0.5em;
    padding: 0.3em;
    
    background-color: $color-white3;
    
    color: $color-black1;
    font: 400 1em 'Montserrat', sans-serif;
    text-align: center;
    word-break: break-all;
   }
  }

  /* Class Info */

  .classinfo {
   border-radius: 0.5em;
   padding: 0.9em;

   background-color: $color-white1;

   grid-column: span 2;
   grid-row: span 1;

   .classinfo__title {
    margin: 0.3em;
    border-radius: 0.5em;
    padding: 0.3em;
    
    background-color: $color-base1;
    
    color: $color-white1;
    font: 500 1.35em 'Oswald', sans-serif;
    text-align: center;
   }
   
   .classinfo__subtitle {
    max-width: 75%;

    margin: 0.3em;
    border-radius: 0.5em;
    padding: 0.3em;

    background-color: $color-light2;

    color: $color-black1;
    font: 500 1.15em 'Oswald', sans-serif;
    text-align: center;
   }

   .classinfo__paragraph {
    width: 90%;

    border-left: 0.15em solid $color-base1;
    padding: 0.7em;

    color: $color-black1;
    font: 500 1em 'Montserrat', sans-serif;
   }

   .classinfo-list {
    border-left: 0.15em solid $color-base1;
    padding: 0.7em;

    list-style: none;

    .classinfo-list__object {
     margin-left: 0.75em;

     color: $color-black1;
     font: 500 1em 'Montserrat', sans-serif;

     display: flex;
     align-items: center;

     &::before { 
      margin-right: 1em;

      content: "\f111";
      color: $color-base1;
      font: 500 0.5em 'FontAwesome';
     }
    }
   }
  }
 }


 /* Articles in the Main */

 .article {
  width: 90%;

  margin: 0.4em 0;

  /* Class Title */
  .article__title {
   width: 80%;

   border-top-right-radius: 0.25em;
   border-top-left-radius: 0.25em;
   border-bottom-right-radius: 0.25em;
   padding: 0.25em 0.5em;

   background-color: $color-dark1;

   display: flex;
   align-items: center;
   justify-content: center;

   color: $color-white1;
   font: 700 2em 'Oswald', sans-serif;
  }

  /* Date of the Class */
  .article__date {
   width: 50%;

   border-bottom-left-radius: 0.25em;
   border-bottom-right-radius: 0.25em;
   padding: 0.25em;

   background-color: $color-base1;

   display: flex;
   align-items: center;
   justify-content: center; 

   color: $color-white1;
   font: 300 1.4em 'Oswald', sans-serif;
  }

  /* Content-Elements in the Article */
  .content {

   /* Class Notes */
   .content__paragraph {
    width: 95%;

    margin: 0.75em auto;
    padding: 0 0.4em;

    text-align: justify;
    font: 500 1em 'Montserrat', sans-serif;

    clear: both;
   }

   /* Semantics in the Content */

   strong { font-weight: 700; }

   em { font: italic 300 0.95em 'Montserrat', sans-serif; }

   i { font: italic 500 0.95em 'Newsreader', serif; }

   i.fa { font: 500 1.1em 'FontAwesome'; }

   abbr {
    border-radius: 0.25em;
    padding: 0.2em 0.4em;

    background-color: $color-dark1;

    color: $color-white1;
    font: italic 400 1.15em 'Montserrat', sans-serif;
    text-decoration: underline $color-light1;
   }

   mark {
    border-radius: 0.25em;
    padding: 0 0.4em;

    background-color: $color-light1;
   }

   .checkbox {
     border-radius: 0.5em;
     padding: 0.5rem 1rem;
     
     background-color: $color-light1;

     display: inline-block;
   }

   /* Electronic Configuration Quimica */
   .conf-ele {
    padding: 0.15em 0.25em;
    border: 0.15em solid $color-dark1;
    border-radius: 0.5em;

    background-color: $color-light1;
    font: 600 1.25em 'Montserrat', sans-serif;

    display: inline-block;
   }

   /* Pre Texts */
   .content__pre {
    width: 100%;

    margin: 0.4em;

    font: 400 0.95em 'Roboto Mono', monospace;

    overflow: auto;
   }

   /* Titles in the Class Notes*/
   .content__title {
    margin: 0.65rem;

    color: $color-dark2;
    font: 500 1.75em 'Oswald', sans-serif;

    clear: both;
   }
   
   .content__semititle {
    margin: 0.65rem;
    
    color: $color-dark1;
    font: 300 1.35em 'Oswald', sans-serif;
    
    clear: both;
   }

   /* Links in the Class Notes */ 
   .content__link {
    max-width: 45%;

    margin: 0.25em;
    border-radius: 0.25em;
    padding: 0.5em;

    background-color: $color-base2;

    color: $color-white1;
    font: 300 1.25em 'Oswald', sans-serif;
    text-decoration: none;
    
    transition: all 650ms ease;
    display: block;

    &:hover {
     padding-right: 10%;
    }
   }

   .content__link--small {
     color: $color-dark1;
     font: 600 1em 'Montserrat', sans-serif;
     text-decoration: underline solid inherit;

     transition: color 350ms ease;
     display: inline-block;

     &:hover { color: $color-base1; }
   }

   /* Images in Class Notes */

   /* All Images */
   .content-images {
    margin: 0.4em auto;
    border-radius: 0.25em;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    picture {
     display: flex;

     justify-content: center;
     align-items: center;
    }

    .content-images__img {
     width: 100%;
     height: auto;

     border: 0.125em solid $color-base1;
     border-radius: 0.2em;
    }

    .content-images__quote {
     width: 80%;

     padding: 0.4em 0;
     border-right: 0.125em solid $color-base1;
     border-left: 0.125em solid $color-base1;
     border-bottom: 0.1em solid $color-base1;
     border-radius: 0.2em;

     background-color: $color-white1;

     text-align: center;
     font: 400 1em 'Montserrat', sans-serif;

     cite {
      font: italic 400 1em 'Newsreader', serif;
     }
    }
   }
   
   /* Image's Sizes */
   .content-images--s {width: 20%;} /* Smallest */
   .content-images--xs {width: 30%;} /* Very Small */
   .content-images--xxs {width: 40%;} /* Small */

   .content-images--m {width: 50%;} /* Medium */
   .content-images--xm {width: 60%;} /* Medium Big */
   .content-images--xxm {width: 70%;} /* Medium Large */

   .content-images--l {width: 80%;} /* Large */
   .content-images--xl {width: 90%;} /* Very Large */
   .content-images--xxl {width: 100%;} /* Max Size */

   /* Table's wrapper for Responsive Tables */

   .table-wrapper {
    max-width: 95%;

    margin: 0.4em auto;
    padding: 0 0.15em;

    overflow-x: auto;
   }
   
   /* Tables in the Article */

   .table {
    width: 100%;
    
    margin: 0 auto;
    
    .theader {
     .theader__title {
      border-radius: 0.2em;
      padding: 0.4em;
      
      background-color: $color-base2;
      
      color: $color-white1;
      font: 700 1.8em 'Oswald', sans-serif;
      text-align: center;
      text-transform: capitalize;
     }
     
     .theader__category {
      border-radius: 0.5em;
      padding: 0.8em;
      
      background-color: $color-light2;

      color: $color-black1;
      font: 500 1.2em 'Oswald', sans-serif;
      text-align: center;
     }

     .theader__data {
      border-radius: 0.25em;
      padding: 0.4em;

      background-color: $color-white3;

      color: $color-black1;
      font: 400 1em 'Montserrat', sans-serif;
      text-align: center;
     }
     
     .theader__data:nth-child(odd) { background-color: $color-white3; }
     .theader__data:nth-child(even) { background-color: $color-white2; }
    }

    .tcontent {
     .tcontent__category {
      border-radius: 0.25em;
      padding: 0.8em;
      
      background-color: $color-light2;

      color: $color-black1;
      font: 500 1.1em 'Oswald', sans-serif;
      text-align: center;
     }

     .tcontent__data {
      border-radius: 0.5em;
      padding: 0.4em;

      color: $color-black1;
      font: 400 1em 'Montserrat', sans-serif;
      text-align: center;
     } 

     tr:nth-child(odd) { background-color: $color-white3; }
     tr:nth-child(even) { background-color: $color-white2; }
    }
   }

   /* Lists in the Articles */

   .list {
    margin: 0.8em;
    border-left: 0.15em solid $color-base1;
    padding-left: 0.5em;
    

    .list__title {
     margin: 0.1rem;
     padding-inline-start: 0.45rem;

     color: $color-dark2;
     font: 500 1.75em 'Oswald', sans-serif;
     text-decoration: underline solid $color-dark2 0.1em;
    }
    
    .list--semi__title {
     margin: 0.1rem;
     padding-inline-start: 0.45rem;
     
     color: $color-dark1;
     font: 300 1.35em 'Oswald', sans-serif;
     text-decoration: underline solid $color-dark1 0.1em;
    }

    .list__object {
     margin: 0.25em;
     padding-left: 0.25em;

     color: $color-black1;
     font: 500 1em 'Montserrat', sans-serif;

     list-style: none;

     &::before {
      margin-right: 0.5em;

      color: $color-light2;
      font: 800 1em 'FontAwesome';
     }
    }
   }

   ol.list {
    .list__object {
     list-style-type: inherit;
     list-style-position: inside;

     &::marker {
      color: $color-light2;
      font: 800 1em 'Oswald', sans-serif;
     }
    }
   }

   /* Diferent Markers for the Ulist */

   /* Arrows ">>>" */
   .list--arrows { .list__object { &::before { content: "\f101"; } } }

   /* long Arrow "---->" */
   .list--longarrow { .list__object { &::before { content: "\f178"; } } }

   /* Lines "---" */
   .list--lines { .list__object { &::before { content: '\f141'; } } }

   /* Diamond "<>" */
   .list--diamond { .list__object { &::before { content: '\f07e' } } }

   /* Flat Lists */
   .list--flat {
    border-right: 0.15em solid $color-base1;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    .list__title { width: 100% ;}
    .list--semi__title { width: 100%; }
    .list__object { margin: 0.4em 1.05em; }
   }

   /* Reference */

   .ref {
    width: 90%;
    
    padding: 0.8rem 1.2rem; 
    border-left: 0.28rem solid $color-base1;
    border-radius: 0.10em 1em 1em 0.10em;
    margin: 0.25rem auto;

    background-color: $color-light3;

    .ref__title {
     border-bottom: 0.15rem solid $color-base1;

     color: $color-dark1;
     font: 800 1.35em 'Oswald', sans-serif;
    }

    .ref__link {
     padding: 0.15rem 0.4rem;
     border-left: 0.15rem solid $color-base1;

     color: $color-black1;
     font: 500 0.9em 'Montserrat', sans-serif;
     text-decoration: none;

     display: block;

     &::before {
      content: "\f08e";
      color: $color-base2;
      font: 800 1em 'FontAwesome';
     }

     cite { color: $color-dark1; }

     &:hover { cite { text-decoration: underline dashed $color-base2 0.1em; } }
    }
   }

   /* Labels in JavaScript Uses */
   .label {
    margin: 0.4rem;
    padding: 0.8rem;

    font: 500 1em 'Montserrat', sans-serif;
    color: $color-dark1;

    display: inline-block;
   }

   /* Inputs in JavaScript Uses */
   .input {
    margin: 0.4em;
    border: 0.1em solid $color-black1;
    border-radius: 0.25em;
    padding: 0.75em;

    background-color: $color-white1;

    font: 500 1em 'Montserrat', sans-serif;
    display: inline-block;

    &:hover, &:focus {
     border: 0.1em solid $color-dark1;

     background-color: $color-light3;
    } 
   }

   .input--button {
    margin: 0.75em;
    padding: 0.75em 2em;

    font: 500 1.25em 'Montserrat', sans-serif;
    
    background-color: $color-light3;

    &:hover, &:focus { background-color: $color-light1; }
   }

   /* Float Objects */
   .right { float: right; margin-left: 0.5em; margin-bottom: 0.5em; }
   .left { float: left; margin-right: 0.5em; margin-bottom: 0.5em; }

   /* Unclear Objects (Used with Floats) */
   .unclear { clear: none; }
   
   /* Youtube Videos iFrames */
   .ytvideo-wrapper {
    width: 80%;
    height: 80vh;

    margin: 0.4em auto;
    border: 0.15em solid $color-light2;
    border-radius: 0.25em;
   }

   .ytvideo {
    width: 100%;
    height: 100%;
   }

   /* Center Wrapper */
   .center-wrapper {
     width: 100%;

     display: flex;
     justify-content: space-evenly;
     align-items: center;
     flex-flow: wrap row;
   }

   /* Activities in the Articles */
   .activity {

    /* Reset the Number of the Tasks */
    counter-reset: section;

    /* Title of the Activities */
    .activity__title {
     margin: 0.4rem auto;
     border-radius: 0.25em;
     padding: 0.5em;

     background-color: $color-dark1;

     color: $color-white1;
     font: 700 1.95em 'Oswald', sans-serif;

     display: flex;
     align-items: center;
     justify-content: center;
    }

    /* Activities Taks, To Do List, Etc */
    .activity__task {
     margin: 0.4rem;
     border-right: 0.2rem solid $color-base1;
     border-left: 0.2rem solid $color-base1;
     border-radius: 0.25em;
     padding: 0.5em;

     font: 300 1.25em 'Oswald', sans-serif;

     clear: both;

     &::before {
      counter-increment: section;
      content: "Punto N°" counter(section) ". ";
     }
    }
   }
  }
 }
}

.footer {
 padding: 1em 1.8em;

 background-color: $color-dark1;

 grid-column: span 3;
 grid-row: span 1;
 grid-area: footer;
}

@media screen and (max-width: 900px) {
 .wrapper { font-size: 14px; }

 .header {
  .button { i { font-size: 2.5em; } }

  .title--info__text { display: none; }
 }

 .main {
  .nav-classinfo-wrapper {
   grid-template: repeat(2, auto) / repeat(1, 1fr);

   .nav { grid-row: 2 / 3; }
   .section { grid-row: 1 / 2; }
  }

  .article { width: 100%; }
 }
}

@media screen and (max-width: 396px) {
 .header {
  .button { display: none; }

  .title {
   .title__text { font-size: 1.6em; }
  }
 }

 .main {
  .nav-classinfo-wrapper {
   .section {
    .section__className {
     font-size: 1.35em;
    }

    .table {
     width: 100%;

     display: block; 

     tr, 
     .table__category,
     .table__data { display: block; width: 100%; }

     .table__title { font-size: 1.25em; display: none; }

     .table__category,
     .table__data { font-size: 0.9em; }
    }

    .classinfo {
     .classinfo__title { 
      width: 90%; 

      margin: 0 auto;

      font-size: 1.15em; 
     }
     .classinfo__subtitle { 
      width: 80%; 

      margin: 0 auto;

      font-size: 1em; 
     }
    }
   }
  }

  .article {
   .article__title {
    width: 90%;
    
    padding: 0.15em;

    font-size: 1.75em;
   }

   .article__date {
    width: 80%;

    padding: 0.15em;

    font-size: 1.2em;
   }

   .content {
    .content__title { font-size: 1.5em; }
    .content__semititle { font-size: 1.25em; }

    .content__link { max-width: 90%; }

    .list {
     .list__title { font-size: 1.5em; }
     .list--semi__title { font-size: 1.25em; }
    }
    
    .table {
     .theader {
      .theader__title { font-size: 1.45em; }
      .theader__category { font-size: 1em; }
     }

     .tcontent {
      .tcontent__category { font-size: 1em; padding: 0.2em; }
      .tcontent__data { font-size: 1em; padding: 0.2em; }
     }
    }
    
    .content-images--s, 
    .content-images--xs,
    .content-images--xxs,
    .content-images--m { width: 60%; }

    .ref { 
     width: 80%; 

     .ref__title {
      font-size: 1.15em;
     }
    }

    .right, .left { float: none; margin: 0.4em auto;}
    
    .activity { 
     .activity__title { font-size: 1.5em; }

     .activity__task { font-size: 1em; } 
    }
   }
  }
 }
}