/* GOBAL VARIABLES */

/* Base Colors */
$color-base1: #0000e6; /* Blue */
$color-base2: #0000bb; /* Darker Blue */
$color-light1: #99ccff; /* Sky */
$color-light2: #3399ff; /* Darker Sky */
$color-dark1: #000066; /* Midnight */
$color-dark2: #000044; /* Even Darker Midnight */

/* General Colors */
$color-white1: #fff; /* White */
$color-white2: #cfcfcf; /* Smoke */

$color-black1: #000; /* Black */
$color-black2: #555; /* Grey */

/* ----- Header Style ----- */

.doc-header {
 height: 80px;

 padding: 5px;

 background-color: $color-dark1;

 display: flex;
 justify-content: space-between;
 align-items: center;

 /* Title of the Header */
 .header-title {
  width: 800px;

  border: 2px solid $color-base2;
  padding: 10px 0;

  background-color: $color-base1;

  display: flex;
  align-items: baseline;
  justify-content: space-evenly;

  /* Text */
  .header-title__text {
   color: $color-white1;
   font-size: 32px;

   /* Name of The Class */
   span {font-size: 40px;}
  }

  /* Info */
  .header-title--info__text {
   color: $color-light1;
   font-size: 12px;
  }
 }
}

/* Main Content of the Doc */

.doc-main {
 width: 95%;

 margin: 5px auto; 
 border: 2px outset $color-black2;
 padding: 5px 10px;

 display: flex;
 justify-content: space-evenly;
 flex-flow: row wrap;

 /* Index of the Main */

 .main-nav {
  width: 25%;

  margin: 5px 0;
  border: 2px solid $color-dark1;
  border-radius: 0.25em;
  padding: 10px;

  background-color: $color-dark2;
 }

 /* Sections in the Main */

 .main-section { 
  width: 70%;

  margin: 5px 0;
  border: 5px solid $color-base1;
  border-radius: 0.25em;
  padding: 10px;

  background-color: $color-base2;
 }

 /* Home Section */
 .main-section--home {

  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;

  .main-section--home__className {
   margin: 5px;
   border: 4px solid $color-dark1;
   border-radius: 0.25em;
   padding: 10px;

   background-color: $color-dark2;

   color: $color-white1;
   font-size: 32px;
  }

  .home-table {
   width: 45%;

   border: 2px solid $color-base1;
   border-radius: 0.5em;
   padding: 15px;

   background-color: $color-white1;

   flex: 1 0;

   .home-table__title {
    border-radius: 0.5em;
    padding: 15px;

    background-color: $color-base1;
    
    color: $color-white1;
    font-size: 24px;
    font-weight: 800;
   }

   .home-table__category {
    border-radius: 0.5em;
    padding: 10px;

    background-color: $color-light2;

    color: $color-black1;
    font-size: 18px;
    text-align: center;
   }
   
   .home-table__info {
    color: $color-black1;
    font-size: 16px;
    text-align: center;
   }

   .home-table--large__info {font-size: 10px;}
  }
 }


 /* Articles in the Main */

 .main-article {
  width: 90%;

  margin: 5px 0;

  /* Class Title */
  .main-article__title {
   width: 80%;
   height: 60px;

   border-top-right-radius: 0.25em;
   border-top-left-radius: 0.25em;
   border-bottom-right-radius: 0.25em;

   background-color: $color-dark1;

   display: flex;
   align-items: center;
   justify-content: center;

   color: $color-white1;
   font-size: 32px;
  }

  /* Date of the Class */
  .main-article__date {
   width: 50%;
   height: 30px;

   border-bottom-left-radius: 0.25em;
   border-bottom-right-radius: 0.25em;

   background-color: $color-base1;

   display: flex;
   align-items: center;
   justify-content: center; 

   color: $color-white1;
   font-size: 24px;
  }

  /* Content-Elements in the Article */
  .article-content {

   /* Class Notes */
   .article-content__paragraph {
    width: 95%;

    margin: 10px auto;
    padding: 0 5px;

    text-align: justify;
   }

   /* Images in Class Notes */

   /* All Images */
   .content-images {
    margin: 5px auto;
    padding: 5px;

    border: 2px solid $color-base1;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    .content-images__quote {
     
    }

   }
   
   /* Test Images */
   .content-images--test {
    width: 500px;

    .content-images__img {
     width: 500px;
     height: 200px;
    }
   }

   /* Float Images */
   .content-images--right {float: right; margin: 10px;}
   .content-images--left {float: left; margin: 10px;}
   /* Activities in the Articles */
   .content-activity {

    /* Info of the Activities */
    .activity-info {
       
     /* Info of the Student */
     .info-table{
      width: 80%;
      
      margin: 10px auto;
      border: 4px solid $color-dark2;
      border-collapse: collapse;
      border-radius: 0.5em;
         
      .info-table__header {
       border: 2px solid $color-dark1;
       padding: 5px;
        
       background-color: $color-light2;
        
       font-size: 18px;
       text-align: center;
      }
      .info-table__data {
       border: 2px solid $color-dark1;
       padding: 5px;
    
       font-size: 18px;
       text-align: center;
      }
     }
    }
   }
  }
 }
}
